[2021-02-03 17:20] JasonMorgan opened #1 "Missing content for Distributed Systems"
How it helps section is blank.

[2021-02-05 14:26] JasonMorgan opened #5 "Reformat the glossary."
Turns out a single document works well in google docs but it doesn't fit super well for a git repo.

I propose we break the glossary down into a series of individual entries. I further propose we move from markdown to yaml for the entries so they're easier to stitch together into a final product. I've got a PR incoming that will demonstrate my intent.

[2021-02-05 14:27] JasonMorgan commented on #5
@CathPag FYI

[2021-02-05 14:35] JasonMorgan opened #6 "Create a Style Guide"
Build, publish, and maintain a style guide so that new folks can more easily contribute.

[2021-02-05 15:54] JasonMorgan commented on #5
I set up a template for the individual entries.

[code]

I'm going to take a look at a couple other places that have technical definitions. I think it might be handy to have a couple other properties, Like related terms, or see also.

Thanks,
Jason

[2021-02-07 20:11] #5 closed

[2021-02-09 14:22] JasonMorgan commented on #6
A couple items I'd like to see, the big one being a definitive template for entries and an explanation for every property. An example: I put in a category property for each entry but as of right now the only value I can think of is concept. Either we should have more categories or remove that property.

[2021-02-09 14:23] JasonMorgan opened #14 "Need data for Auto Scaling"
This [entry](https://github.com/cncf/glossary/blob/main/definitions/auto_scaling.yaml) is blank. We need someone to add a definition.

[2021-02-09 14:33] JasonMorgan opened #15 "Build a site"
We've got a good set of definitions and the beginnings of a glossary. We should build out a simple site so we can view the glossary rendered with all the completed terms.

[2021-02-09 14:33] CathPag opened #16 "Continuous delivery (CD) feedback not yet woven in"
We got some great feedback in the Google doc that was not woven into [this CD entry](https://github.com/cncf/glossary/blob/main/definitions/continuous_delivery.yaml). Copying and pasting in below. Please update entry accordingly.

**Daniel Jones:** I think somewhere in here it'd be great to call out specifically that the path to production (or an acceptance environment) must be fully automated, an

[2021-02-09 14:35] JasonMorgan opened #17 "Container definition not started"
Need someone to fill in a definition for container. You can find it [here](https://github.com/cncf/glossary/blob/main/definitions/container.yaml)

[2021-02-09 14:36] JasonMorgan opened #18 "Containerization definition not started"
Need someone to fill in a definition for containerization. You can find it [here](https://github.com/cncf/glossary/blob/main/definitions/containerization.yaml)

[2021-02-09 14:37] JasonMorgan opened #19 "Observability definition not started"
Need someone to fill in a definition for observability. You can find it [here](https://github.com/cncf/glossary/blob/main/definitions/observability.yaml)

[2021-02-09 14:37] CathPag opened #20 "Distributed Systems: how it helps missing"
In this distributed system entry [,](https://github.com/cncf/glossary/blob/main/definitions/distributed_systems.yaml) the "how it helps" part is missing.

[2021-02-09 14:38] JasonMorgan opened #21 "Portability Definition Not Started"
Need someone to fill in a definition for Portability. You can find it [here](https://github.com/cncf/glossary/blob/main/definitions/portability.yaml)

[2021-02-09 14:39] JasonMorgan opened #22 "Stateless Apps Definition Not Started"
Need someone to fill in a definition for stateless apps. You can find it [here](https://github.com/cncf/glossary/blob/main/definitions/stateless_apps.yaml)

[2021-02-09 14:40] JasonMorgan opened #23 "Tightly Coupled Architectures Definition Not started"
Need someone to fill in a definition for Tightly coupled architectures. You can find it [here](https://github.com/cncf/glossary/blob/main/definitions/tightly_coupled_architectures.yaml)

[2021-02-09 14:41] JasonMorgan opened #24 "Virtual Machine Definition Not Started"
Need someone to fill in a definition for Virtual Machine. You can find it [here](https://github.com/cncf/glossary/blob/main/definitions/virtual_machine.yaml)

[2021-02-09 14:50] CathPag opened #25 ""Service" discussion not yet addressed"
A [service entry](https://github.com/cncf/glossary/blob/main/definitions/service.yaml) discussion that started in Google docs got lost. Copying and pasting the conversation in here:

**Catherine Paganini**: Should we focus on Kubernetes? Services as in microservices seem to play a much larger role on cloud native architectures. Kubernetes services feel more of an architectural detail of Kubernetes

[2021-02-10 16:12] chetanpdeshmukh commented on #15
@JasonMorgan Have we fixed on the CMS/platform for the site? if it's WordPress, count me in :)

[2021-02-11 13:37] CathPag opened #27 "Change entry format yaml > md"
Please change entry files from yaml to md

[2021-02-11 13:38] CathPag opened #28 "Add Michael as maintainer"

[2021-02-11 14:53] JasonMorgan commented on #27
Happy to, are we comfortable maintaining the individual entries as their own files or do we want to combine everything back together?

[2021-02-11 14:56] caniszczyk commented on #27
imho keep it in one MD for now, just makes it easier

On Thu, Feb 11, 2021 at 8:53 AM Jason Morgan <notifications@github.com>
wrote:

--
Cheers,

Chris Aniszczyk
http://aniszczyk.org

[2021-02-11 15:02] IdealUsrname commented on #27
For now, it does. Maybe we are solving for too much @JasonMorgan?

Depending on the size the single document may become a lot. I'd suggest breaking the doc into a similar format with a proper table of contents.
[code]

[2021-02-11 15:06] caniszczyk commented on #27
if you're looking for another example of it all in one doc, here:
https://github.com/State-of-the-Edge/glossary/blob/master/edge-glossary.md

It's just easier to deal with :)

On Thu, Feb 11, 2021 at 9:03 AM Mike Foster <notifications@github.com>
wrote:

--
Cheers,

Chris Aniszczyk
http://aniszczyk.org

[2021-02-11 15:18] CathPag commented on #27
I agree with Michael. The Google doc was hard to navigate. My tendency was to focus on the first entries and I rarely made it to the end. Also, if you want to see the change in preview (which people not familiar with markdown may want to do), there will be a lot of scrolling involved to find the place you want to see.

I do agree that a single file is a lot nicer to review as a whole but feel that

[2021-02-11 15:48] JasonMorgan commented on #27
So in the spirit of, "let's do both." I'm happy to send a PR tonight that moves the entries to yaml and expand on, or really change, issue #15 to build a single markdown file with all the combined entries. That'll at a minimum let us try the individual entry format and swap over to a single file with ease. Thoughts?

[2021-02-11 15:50] JasonMorgan commented on #15
@chetanpdeshmukh we have not but I'd love to hear your point of view! Are you joining the next subcommittee meeting and/or would you like to suggest something?

[2021-02-11 16:16] chetanpdeshmukh commented on #15
@JasonMorgan I have decent exposure to WordPress for designing pages and keeping them light enough for speed and SEO. I am a newbie in cloud native world and the glossary project itself would be an asset for me to look at every now and then (can't contribute to the definitions, but wanted to be a part of this in some way).

If this makes sense and helps the mission, would be happy to join the next

[2021-02-11 17:10] TheJaySmith commented on #16
I can take it

[2021-02-12 01:09] JasonMorgan commented on #28
Done!

[2021-02-12 01:09] #28 closed

[2021-02-12 22:41] IdealUsrname commented on #6
I've completed a basic outline for a style guide. Just waiting for the acceptance of #31, So I don't have to change the format again :)

[2021-02-14 19:14] #27 closed

[2021-02-14 20:28] CathPag opened #35 "Two stateful app entries"
Tom Leyden, could you please address this? You mentioned your stateful app entry wasn't in the glossary, so I added part of it per our email conversation. We did have one, though, and we have two: Stateful Apps [https://github.com/cncf/glossary/blob/main/definitions/stateful_apps.md](url) and Stateful vs Stateless Apps [https://github.com/cncf/glossary/blob/main/definitions/stateful_vs_stateless_a

[2021-02-15 13:41] TomLeyden commented on #35
@CathPag Neither of these links give me any results. Really not sure what to do. If the entries are there, it's ok, I'm not too worried about not being mentioned. As said, I had entered the content in the Google doc and it looks like my content was not used. I can live with that.

[2021-02-15 13:47] CathPag commented on #35
Strange. Trying again. If this doesn't work, just follow the path in the screen recording (also, realized that I didn't save my file as .md Rookie mistake :) Just updated but not in the recording yet):
https://github.com/cncf/glossary/blob/main/definitions/stateful_apps.md
https://github.com/cncf/glossary/blob/main/definitions/stateful_vs_stateless_applications
https://github.com/cncf/glossary/blo

[2021-02-17 15:47] JasonMorgan commented on #21
Wrong link above, find the definition [here](https://github.com/cncf/glossary/blob/main/definitions/portability.md)

[2021-02-17 15:54] JasonMorgan opened #36 "Make contributing easier"
- [x] Add a how-to document for accomplishing some common tasks.
- [ ] Link the github tutorial recording to the README.md

[2021-02-17 16:03] TheJaySmith commented on #17
https://github.com/cncf/glossary/blob/main/definitions/container.md

[2021-02-17 16:28] TheJaySmith commented on #17
[PR 37](https://github.com/cncf/glossary/pull/37)

[2021-02-18 00:55] IdealUsrname commented on #15
mkdocs is another option for us.

https://www.mkdocs.org/

We can format and publish fairly easily with a GitHub action.

[2021-02-18 00:56] IdealUsrname commented on #17
Please open a new issue for discussion/feedback. Thanks!

[2021-02-18 00:56] #17 closed

[2021-02-18 04:22] IdealUsrname opened #43 "Container Image - New Definition"
I was doing the first draft of the containerization definition. I realized we do not define a container image.

A first pass of a **Container Image** definition would be welcomed.

[2021-02-18 14:06] CathPag opened #44 ""Inter-link" terms before going live w/ V1"
Once we consolidate the terms into one doc, we'll need to link terms that are mentioned in a definition and have their own definition. That way, readers can jump right to that term if they aren't familiar with it.

[2021-02-19 01:32] SamDelamarter commented on #20
Hi @CathPag, it looks like the how it helps section was added, so this issue can probably be closed.

[2021-02-19 12:38] CathPag commented on #20
Thanks, @SamDelamarter, actually the last section, how it helps, is missing. We are currently only addressing the what it is and the problem it addresses.

[2021-02-19 15:31] #14 closed

[2021-02-19 18:52] SamDelamarter commented on #43
I'll take a first swag at this. It doesn't look like I have the ability to assign the issue to myself.

[2021-02-21 15:44] #6 closed

[2021-02-22 17:00] #18 closed

[2021-02-22 17:00] #19 closed

[2021-02-22 17:00] #24 closed

[2021-03-01 13:21] CathPag commented on #43
@IdealUsrname I guess we can close this, right?

[2021-03-01 13:23] CathPag commented on #35
Tom doesn't have time to tackle this right now which opens this up to anyone who's interested.

[2021-03-09 13:17] #35 closed

[2021-03-09 13:25] #43 closed

[2021-03-09 15:30] Vivek-Hotti commented on #22
Please see PR #65

[2021-03-11 08:27] Vivek-Hotti commented on #20
Please see PR #66 .

[2021-03-11 08:27] Vivek-Hotti commented on #21
Please see PR #66 .

[2021-03-11 14:50] #20 closed

[2021-03-11 14:50] #21 closed

[2021-03-25 01:41] IdealUsrname commented on #1
Solved by #75

[2021-03-25 01:41] #1 closed

[2021-03-25 01:43] IdealUsrname commented on #16
With #67, I'm assuming this issue can be closed. Feel free to reopen if the CD conversation sparks back up again.

[2021-03-25 01:43] #16 closed

[2021-04-11 17:09] IdealUsrname commented on #44
@CathPag Is now the time to go through and link as many definitions as possible for the completed terms?

[2021-04-12 12:01] CathPag commented on #44
Unfortunately, the first version will be a PDF, @IdealUsrname. But we can still do this.

[2021-04-15 13:18] JasonMorgan opened #90 "Define categories"
Define categories for the terms.

- [x] Create category list
- [x] Apply categories
- [x] Update readme to explain categories
- [x] Create template by category

[2021-04-15 13:19] JasonMorgan opened #91 "Review PDF for Kubecon"

[2021-04-15 13:19] JasonMorgan opened #92 "Test drive contributor process"

[2021-04-16 13:16] JasonMorgan commented on #90
Propose the following categories for v1: Property, Concept, and technology.

Property: Something intrinsic to a system. It may be binary or scalar. ex: observability, a system is more or less observable.

Concept: Something to understand, relates to a philosophical or logical underpinning of a technology. ex: Blue green deployments represent a way of doing progressive delivery and is used by tools

[2021-04-27 13:16] JasonMorgan opened #108 "Convert auto-scaling entry to Property format"
The [auto-scaling entry](https://github.com/cncf/glossary/blob/main/definitions/auto_scaling.md) should be converted to the property format. View [the style guide](https://github.com/cncf/glossary/blob/main/style-guide.md) for more details.

The current definition seems to be stretching to fit with our original, what it is, problem it addresses, and how it helps.

[2021-04-27 19:33] xmulligan commented on #22
I think this issue can be closed now since #65 is merged

[2021-04-27 19:33] xmulligan commented on #23
I think this issue can also be closed since #65 is merged

[2021-04-27 19:34] JasonMorgan commented on #22
Thanks!

[2021-04-27 19:34] #22 closed

[2021-04-27 19:36] #23 closed

[2021-05-01 15:32] caniszczyk commented on #91
[cncf-glossary-v3.pdf](https://github.com/cncf/glossary/files/6409828/cncf-glossary-v3.pdf)

FYI my feedback here is that we need an acknowledgements section and add that all documentation is licensed under CC-BY 4.0 at the end of the glossary.

[2021-05-01 17:37] tomkerkhove commented on #91
Nice document 👌

[2021-05-05 09:47] gedalyahreback commented on #108
Just saw the CNCF announcement of the glossary and looking at "good first issue" labels.

I agree with you that the entry seems to be stretching, but isn't auto-scaling a concept rather than a property? If that's the case, I can edit it (I handle the blog at Logz.io, writing and editing this stuff is my forte).

[2021-05-05 14:01] CathPag opened #122 "Update terms for V2 to new format"
So far only 25 terms are included in V1 of the glossary. We'd love help updating the remaining terms. [Here is a list of all term](https://docs.google.com/spreadsheets/d/1QvGbINXH60kOibr-Yf5IKHGf2aX2a7cTzQQu_aqJz58/edit#gid=0&fvid=1364988504). On top are those that are included in the pdf and below those that likely need some work.

For the format, please refer to the [style guide](https://github.

[2021-05-05 15:23] #91 closed

[2021-05-05 15:24] JasonMorgan commented on #108
@gedalyahreback I'd love that! Assigned you the issue.

[2021-05-05 15:25] #90 closed

[2021-05-10 14:44] caniszczyk opened #126 "Hold public monthly community meetings"
Once we decide on a cadence, add public meeting minutes + update README with meeting info

[2021-05-11 14:42] ChrisChinchilla opened #127 "Vale Rule"
Don't know if any of you are familiar with Vale the automated style checker (https://github.com/errata-ai/vale). I maintain a bunch of extensions and rulesets for it based on common style guides. And I think we already have elements of this repo in a handful of styles already, but if it's welcome, I might convert the glossary into a style other Vale users can use, because I know I'll find it usefu

[2021-05-11 17:48] caniszczyk commented on #127
I'm open to a contribution, haven't used vale before!

On Tue, May 11, 2021 at 9:42 AM Chris Chinchilla ***@***.***>
wrote:

--
Cheers,

Chris Aniszczyk
http://aniszczyk.org

[2021-05-12 06:24] epogrebnyak opened #128 "Static site generator for glossary"
Thanks for putting up a glossary! I wondered if the team had a plan to publish the glossary as a web site? You have the source files in markdown, have you considered using a static site generator like mkdocs or Hugo and publish on Github pages? This can be a good view of or the files.

[2021-05-28 18:05] scottrigby opened #134 "Metadata validation"
Fun thought after chat with @JasonMorgan:

- JSON schema file with allowable options
- CI check against schema (Gh action etc)

[2021-06-04 11:31] CathPag opened #135 "Abstraction >> update to new format"
https://github.com/cncf/glossary/blob/main/definitions/abstraction.md

Please convert entry to the property format. View the [style guide](https://github.com/cncf/glossary/blob/main/style-guide.md) for more details.

[2021-06-04 11:33] CathPag opened #136 "Bare metal machine >> update to new format"
https://github.com/cncf/glossary/blob/main/definitions/bare_metal_machine.md

Please convert entry to the property format. View the [style guide](https://github.com/cncf/glossary/blob/main/style-guide.md) for more details.

[2021-06-04 11:33] CathPag opened #137 "Client server architecture >> update to new format"
https://github.com/cncf/glossary/blob/main/definitions/client_server_architecture.md

Please convert entry to the property format. View the [style guide](https://github.com/cncf/glossary/blob/main/style-guide.md) for more details.

[2021-06-04 11:34] CathPag opened #138 "Cloud native technologies >> update to new format"
https://github.com/cncf/glossary/blob/main/definitions/cloud_native_tech.md

Please convert entry to the property format. View the [style guide](https://github.com/cncf/glossary/blob/main/style-guide.md) for more details.

[2021-06-04 11:35] CathPag opened #139 "Cluster >> update to new format"
https://github.com/cncf/glossary/blob/main/definitions/cluster.md

Please convert entry to the property format. View the [style guide](https://github.com/cncf/glossary/blob/main/style-guide.md) for more details.

[2021-06-04 11:36] CathPag opened #140 "Containerization >> update to new format"
https://github.com/cncf/glossary/blob/main/definitions/containerization.md

Please convert entry to the property format. View the [style guide](https://github.com/cncf/glossary/blob/main/style-guide.md) for more details.

[2021-06-04 11:37] CathPag opened #141 "Distributed apps >> update to new format"
https://github.com/cncf/glossary/blob/main/definitions/distributed_apps.md

Please convert entry to the property format. View the [style guide](https://github.com/cncf/glossary/blob/main/style-guide.md) for more details.

[2021-06-04 11:37] CathPag opened #142 "Loosely coupled architecture >> update to new format"
https://github.com/cncf/glossary/blob/main/definitions/loosely_coupled_architecture.md

[2021-06-04 12:41] CathPag opened #143 "Monolithic application >> update to new format"
https://github.com/cncf/glossary/blob/main/definitions/monolithic_apps.md

Please convert entry to the property format. View the [style guide](https://github.com/cncf/glossary/blob/main/style-guide.md) for more details.

[2021-06-04 12:41] CathPag opened #144 "Node >> update to new format"
https://github.com/cncf/glossary/blob/main/definitions/nodes.md

Please convert entry to the property format. View the [style guide](https://github.com/cncf/glossary/blob/main/style-guide.md) for more details.

[2021-06-04 12:42] CathPag opened #145 "Portability >> update to new format"
https://github.com/cncf/glossary/blob/main/definitions/portability.md

Please convert entry to the property format. View the [style guide](https://github.com/cncf/glossary/blob/main/style-guide.md) for more details.

[2021-06-04 12:43] CathPag opened #146 "Service >> update to new format"
https://github.com/cncf/glossary/blob/main/definitions/service.md

[2021-06-04 12:43] CathPag opened #147 "Stateful application >> update to new format"
https://github.com/cncf/glossary/blob/main/definitions/stateful_apps.md

Please convert entry to the property format. View the [style guide](https://github.com/cncf/glossary/blob/main/style-guide.md) for more details.

[2021-06-04 12:44] CathPag opened #148 "Tightly coupled architectures >> update to new format"
https://github.com/cncf/glossary/blob/main/definitions/tightly_coupled_architectures.md

Please convert entry to the property format. View the [style guide](https://github.com/cncf/glossary/blob/main/style-guide.md) for more details.

[2021-06-04 12:45] CathPag opened #149 "Virtual machine >> update to new format"
https://github.com/cncf/glossary/blob/main/definitions/virtual_machine.md

Please convert entry to the property format. View the [style guide](https://github.com/cncf/glossary/blob/main/style-guide.md) for more details.

[2021-06-04 12:46] CathPag opened #150 "Stateless Apps >> update to new format"
https://github.com/cncf/glossary/blob/main/definitions/stateless_apps.md

Please convert entry to the property format. View the [style guide](https://github.com/cncf/glossary/blob/main/style-guide.md) for more details.

[2021-06-08 12:23] JasonMorgan opened #151 "Add getting started to README."

[2021-06-11 18:42] CathPag opened #153 "Next three terms to be finalized"
The glossary maintainers are currently working on [these three terms](https://docs.google.com/document/d/1bAgNu1GkreUdFCFzBjCwwgqQ15xz49-eiAQ58QCYgmI/edit#heading=h.ari7tmdbpw1o). Feel free to add any suggestions (please [read the style guide ](https://github.com/cncf/glossary/blob/main/style-guide.md)before doing so). Once we are happy with the outcome, we'll update the entry on GitHub.

[2021-06-30 15:30] caniszczyk opened #155 "Create an interactive version of the glossary"
Ideally we'd create a static website that is an interactive version of the glossary.

The design should be simple, something like https://wpglossary.net (without the ads ;p)

I'd use a hugo+netlify style template, similar to other CNCF websites, pair it with lunr.js maybe to do the search + filtering.

[2021-07-01 12:21] #153 closed

[2021-07-01 12:23] CathPag opened #157 "Vertical scaling definition"
Please follow format defined in[ style guide](https://github.com/cncf/glossary/blob/main/style-guide.md).

[2021-07-01 12:25] CathPag opened #158 "Horizontal scaling definition"
Please follow format defined in [style guide](https://github.com/cncf/glossary/blob/main/style-guide.md).

[2021-07-01 12:27] CathPag commented on #155
Sounds good and the example looks great! Each term has its own URL which is the most important thing if we want to optimize for discoverability.

[2021-07-01 13:51] himanshu007-creator commented on #157
Hi i would like to work on this issue

[2021-07-01 13:51] himanshu007-creator commented on #158
Hi i would like to work on this issue

[2021-07-01 14:18] JasonMorgan commented on #157
Thanks for helping! I've assigned you the item and set it to in progress.

[2021-07-01 14:31] JasonMorgan opened #159 "Plan for Localization"
Make a plan and add suggestions for how we can handle localization of the glossary.

[2021-07-01 14:45] CathPag commented on #158
Thanks, @himanshu007-creator. Once you've submitted a PR for the other term and it was accepted, we can assign you the next one. Hope that's ok.

[2021-07-01 17:44] JasonMorgan commented on #126
@caniszczyk do you have an example I can pull from? We just talked about this today and I'd love to make this happen soon. Also it'd be wonderful if you could point me at a document about how that would be organized.

[2021-07-02 13:30] CathPag opened #160 "Cloud native security >> update to new format"
https://github.com/cncf/glossary/blob/main/definitions/cloud_native_security.md

Please convert entry to the property format. View the [style guide](https://github.com/cncf/glossary/blob/main/style-guide.md) for more details.

[2021-07-02 13:45] CathPag commented on #128
Hi @epogrebnyak, apologies for the late reply. Yes, that's the plan for V2 which should go live for KubeCon NA 2021.

[2021-07-02 13:49] JasonMorgan commented on #155
Relates to issue #15

[2021-07-17 05:40] Ayush7614 commented on #108
Hey @JasonMorgan i would like to work on the issue Please assign me

[2021-07-21 15:27] ShivamTyagi12345 commented on #122
i would like to work on this issue

[2021-07-21 15:29] sayantani11 commented on #158
Hey I would like to contribute to this issue. Thank you.

[2021-07-21 15:41] CathPag commented on #158
Thanks for helping, @sayantani11! Please make sure to review the [style guide](https://github.com/cncf/glossary/blob/main/style-guide.md) before getting started.

[2021-07-21 15:45] CathPag commented on #122
Thanks for wanting to help, @ShivamTyagi12345! Can you pick a specific term? Sorry, there shouldn't be a good first issue/help wanted tag, so I just removed them.

[2021-07-21 15:51] ShivamTyagi12345 commented on #122
hey @CathPag  .Can you please suggest a beginner friendly issue to get started with the contributions.

[2021-07-21 16:00] CathPag commented on #122
Check out the terms in the "for next release" column in the [project board](https://github.com/cncf/glossary/projects/1). To update the definition, you'll need to have a good understanding of what it means. Anything you feel comfortable explaining to others? That's basically what the glossary is. Explaining terms to other people who are not familiar with it, so it's more about what you know. Does

[2021-07-21 18:52] sayantani11 commented on #158
@CathPag I will.... Thanks for assigning

[2021-07-21 18:55] aaroosh-07 commented on #146
@CathPag can I take up this issue?
What updation do I have to perform?

[2021-07-21 19:00] CathPag commented on #146
Thanks for helping out @aaroosh-07! You'll find specifics in the [style form](https://github.com/cncf/glossary/blob/main/style-guide.md). None of the content has been vetted, so it's not only about updating the format but also correcting any potential mistakes or improving the definition. Let us know if you have any questions!

[2021-07-22 03:59] TakshakRamteke commented on #149
Hello, I would like to work on this one but just to be sure Virtual machine is a Concept rather than Software so if that is the case I'd love to help.

[2021-07-22 05:13] sudhxnva commented on #108
Hi @JasonMorgan , I noticed that the issue has already been addressed with the PRs #109 and #95. Is there anything else that needs attention here?

[2021-07-22 05:15] reddymahendra52 commented on #158
Hello, Can I work on this issue too?
I would also like to contribute to this community.

[2021-07-22 05:31] sudhxnva commented on #15
Going off of @IdealUsrname's suggestion, I think [GitBook](https://www.gitbook.com/) makes a lot of sense for the glossary. Everything being in markdown already will make building the site out simpler. And the visual style that GitBook follows will be familiar to people who have had some experience going through documentation.

[2021-07-22 05:41] sudhxnva commented on #147
Hi! I'd like to take a dig at this issue. Seems fairly straightforward and I have gone through the style guide.

[2021-07-22 09:09] ShivamTyagi12345 commented on #122
Yes @CathPag  ,makes sense. Just to get myself started , I spotted and fixed a basic typo.
Being a beginner ,How can I explore more of such technical- terms(eg. Node, Stateless Apps ,Loosely controlled architecture etc.) to add to this glossary ?

[2021-07-22 11:18] Utkarshn10 commented on #144
Hi, I would like to work on this issue. Since this is the first time I am contributing to this repo I have a small doubt/clarification. The Issue is to convert the category to Property in place of Concept, right?

[2021-07-22 11:47] CathPag commented on #144
Thanks for wanting to help out @Utkarshn10! Updating is only one part. None of these terms have been vetted yet, so we need to ensure definitions are correct and complete. If you're not 100% sure, maybe someone more experienced can help you with the definition. Once you are confident the definition is correct and in the right format (please refer to the [style guide](https://github.com/cncf/glossa

[2021-07-22 11:52] Utkarshn10 commented on #144
Yeah that makes sense. So I will do research regarding the topic and then submit a PR.
Doubt: Is there any mail/slack channel where I can post my doubts or get information whether the info I am writing in the PR is correct or not.

[2021-07-22 11:55] CathPag commented on #122
I'm assuming you're a student since you reached out right after the .edYou program, are you?

See this as a university assignment :) Do some research, ask other (more experienced) students, maybe even a professor (would be really cool if a professor would support this effort!) The difference between an academic assignment and this is that we'd ask you to confirm the definition is correct before su

[2021-07-22 11:57] CathPag commented on #144
Yes, you find the marketing-business-value channel on the CNCF Slack. Here's something I just said to another person which could help:

[2021-07-22 12:03] Utkarshn10 commented on #144
@CathPag Thanks! I will make sure that the definitions are correct.

[2021-07-22 12:46] CathPag commented on #149
Thanks for your help @TakshakRamteke!

We are looking for two things:

1. Update the format according to the [style guide](https://github.com/cncf/glossary/blob/main/style-guide.md).
2. Make sure the definitions are correct and complete.

If you're not 100% sure about the definition, consider asking someone else (a more experienced colleague/classmate/professor). You can also submit an incomplete

[2021-07-22 12:48] CathPag commented on #147
Great! Thanks for your help @sudhxnva!

We are looking for two things:

1. Update the format according to the [style guide](https://github.com/cncf/glossary/blob/main/style-guide.md).
2. Make sure the definitions are correct and complete.

If you're not 100% sure about the definition, consider asking someone else (a more experienced colleague/classmate/professor). You can also submit an incomplete

[2021-07-22 12:55] CathPag commented on #108
@Ayush7614 my apologies. Looks like we missed your message a few days ago. (@sudhxnva, Ayush claimed this first and you already claimed one term. Please tackle that first before picking a new term)

Ayush, first of all, thanks for helping out. We are looking for two things:

1. Update the format according to the [style guide](https://github.com/cncf/glossary/blob/main/style-guide.md).
2. Make sure

[2021-07-22 12:56] #122 closed

[2021-07-22 12:57] #44 closed

[2021-07-22 12:57] #128 closed

[2021-07-22 13:00] CathPag commented on #158
@reddymahendra52, thanks for wanting to help!
As you can see above @sayantani11 already claimed this term. Please pick one that hasn't been assigned yet.

[2021-07-22 13:14] reddymahendra52 commented on #141
Hello,
Can I work on this??
I have gone through the comments of other issues. So I fairly got an idea of what I have to do.

[2021-07-22 13:21] CathPag commented on #141
Sounds good, thanks @reddymahendra52!

[2021-07-22 13:22] CathPag commented on #141
Actually, this is already done and in review. Please look at the [board](https://github.com/cncf/glossary/projects/1) when picking a term.

[2021-07-22 13:28] reddymahendra52 commented on #141
Okay Sorry,
I was thinking of working on **Loosely Coupled Architecture** Can you assign me that??

[2021-07-22 13:36] reddymahendra52 commented on #142
I would like to work on this issue.

[2021-07-22 14:05] CathPag commented on #142
Yes, you can :)

[2021-07-22 16:37] Arvind644 commented on #150
@CathPag I want to ask that can we change #What it is , # Problem it Addresses , # How it Helps to ###What it is ,  ### Problem it Addresses , ### Problem it Addresses, because it becomes bigger heading coming after definition, which becomes odd in styling

[2021-07-22 17:43] Pravenn18 commented on #108
Hey,can you guys tell me how should i contribute here,i mean which language i need to master!!!

[2021-07-23 12:15] CathPag commented on #108
Sorry, @sudhxnva. We got so many issue claims, I didn't properly read yours. Yes, this one is done and will be closed. @Pravenn18, this glossary is in English. There will be efforts to translate it but that hasn't been started yet.

[2021-07-23 12:15] #108 closed

[2021-07-23 12:17] CathPag commented on #150
@Arvind644, here's an [example of a term that's ready](https://github.com/cncf/glossary/blob/main/definitions/api_gateway.md)

[2021-07-23 17:26] Arvind644 commented on #150
Thank you

[2021-07-25 12:51] sayantani11 commented on #160
I can do this

[2021-07-25 12:51] sayantani11 commented on #160
If you can assign me

[2021-07-26 02:54] aaroosh-07 commented on #143
@CathPag can I take up this issue?

[2021-07-26 11:59] CathPag opened #176 "Create definition for serverless"
when creating the definition, please make sure to follow the [style guide](https://github.com/cncf/glossary/blob/main/style-guide.md)

[2021-07-26 17:04] sayantani11 commented on #176
Hey @CathPag can I work on this or wait for the previous PR to be reviewed?

[2021-07-26 18:25] sandipanpanda commented on #176
Hey @CathPag I am a complete beginner to open source and I would love to work on this good first issue.

[2021-07-26 18:54] sandipanpanda commented on #36
Hey, I would love to work on this. Can you please elaborate or maybe throw a few examples on what type of "how-to document for accomplishing some common tasks" you are referring to?

[2021-07-27 10:11] ShivamTyagi12345 commented on #176
i would like to help with this non-code contribution

[2021-07-27 10:52] sandipanpanda commented on #36
Hey there, I would like to work on the second part of the issue:
- [ ]  Link the GitHub tutorial recording to the README.md

I want to make a video tutorial on: How to navigate https://github.com/cncf/glossary and submit a PR. Please give some feedback and suggest me on whether I can work on this.

[2021-07-27 13:30] CathPag commented on #176
@sayantani11, before assigning something new to you, I'd like to finalize your PR. I've been reworking it a bit and would like for you to get some feedback before tackling a new term. That way you can use that feedback for the next term. Currently, I'm the only maintainer who's available (everyone else is on vacation or busy with other projects) and before finalizing the review, I'd like to discus

[2021-07-27 13:35] CathPag commented on #143
@aaroosh-07, we'll need to review your current PR first. That way, you can keep the feedback in mind that's we'll provide. We have a few people on vacation, so thanks for your patience.

[2021-07-27 13:38] CathPag commented on #160
Thanks, @sayantani11. This term is already in review. Please refer to the [project board](https://github.com/cncf/glossary/projects/1) to select terms but wait until your first PR got merged.

[2021-07-27 14:08] sandipanpanda commented on #176
@CathPag thank you for assigning. I have read the changes reflected in the updated style guide in the PR linked by you and will contribute accordingly.

[2021-07-27 16:41] aaroosh-07 commented on #143
okay @CathPag

[2021-08-02 14:34] Anubhavjoshi040 commented on #145
Hey @CathPag I would love to work on this issue to make my first contribution to open source.

[2021-08-03 16:34] #149 closed

[2021-08-04 05:57] TakshakRamteke commented on #140
Hello, May I work on this one

[2021-08-04 12:22] CathPag commented on #140
@TakshakRamteke, there is a PR for that term already. We currently only have two terms available (please refer to the [project board](https://github.com/cncf/glossary/projects/1)) but you can identify one that is missing or wait for a few weeks. We'll be adding more soon.

[2021-08-04 12:24] TakshakRamteke commented on #140
@CathPag Ok

[2021-08-08 05:30] TakshakRamteke commented on #148
Hello @CathPag @JasonMorgan , I would like to work on this one please

[2021-08-09 20:37] Anubhavjoshi040 commented on #145
Hey, I have my PR almost ready for this issue but is it necessary to get assigned first?

[2021-08-09 23:18] CathPag commented on #145
Hi @Anubhavjoshi040, looks like I completely missed your first message — sorry about that. Please look at the [project board](https://github.com/cncf/glossary/projects/1) to pick terms, portability was already in progress. Since I was working on it, I didn't assign it to me specifically. I just submitted the PR, feel free to review and suggest changes

[2021-08-10 06:56] Anubhavjoshi040 commented on #150
Hey, I would love to update this definition to new format.

[2021-08-10 12:15] CathPag commented on #150
Sure! Here you go, @Anubhavjoshi040

[2021-08-11 07:05] ashish-patwal commented on #144
Hey @CathPag , it's been 3 weeks . If this issue is still open , i can work on this .

[2021-08-11 11:54] CathPag commented on #144
Sure! Just assigned to you @ashish-patwal

[2021-08-11 11:55] ashish-patwal commented on #144
Thanks , I will try to get it done ASAP !

[2021-08-11 12:10] CathPag commented on #144
Don't rush it too much. A good definition takes its time :)

[2021-08-11 12:18] ashish-patwal commented on #144
I will certainly follow your advice

[2021-08-13 13:32] JasonMorgan commented on #157
Issue is up for grabs. @sayantani11 if you're interested let me know and I'll assign it over.

[2021-08-13 13:32] #158 closed

[2021-08-13 13:32] #176 closed

[2021-08-13 13:33] JasonMorgan commented on #160
Resolved here: https://github.com/cncf/glossary/pull/162

closing

[2021-08-13 13:33] #160 closed

[2021-08-13 13:34] #135 closed

[2021-08-13 13:34] #151 closed

[2021-08-13 13:34] #136 closed

[2021-08-13 13:35] #139 closed

[2021-08-13 13:35] JasonMorgan commented on #150
Depends on this PR: https://github.com/cncf/glossary/pull/189

[2021-08-13 13:36] #137 closed

[2021-08-13 13:37] JasonMorgan commented on #148
@TakshakRamteke it's now in the new format but if you'd still like to work it it needs to be improved before we can mark it as completed. Let me know and I'm happy to assign it.

[2021-08-13 13:37] #145 closed

[2021-08-13 13:41] #92 closed

[2021-08-13 13:41] JasonMorgan commented on #92
OBE

[2021-08-13 13:41] JasonMorgan commented on #36
OBE

[2021-08-13 13:41] #36 closed

[2021-08-13 13:47] JasonMorgan opened #193 "Cloud Native Technologies"
Finalize definition for [Cloud Native Technology](https://github.com/cncf/glossary/blob/main/definitions/cloud_native_tech.md
).

[2021-08-13 13:49] JasonMorgan opened #194 "Distributed Apps"
Finalize definition for [distributed apps](https://github.com/cncf/glossary/blob/main/definitions/distributed_apps.md)

[2021-08-13 13:50] JasonMorgan opened #195 "Loosely Coupled Archictecture"
Finalize definition for [loosely coupled architecture](https://github.com/cncf/glossary/blob/main/definitions/loosely_coupled_architecture.md
)

[2021-08-13 13:52] JasonMorgan opened #196 "Virtual Machine"
Finalize definition for [virtual machine](https://github.com/cncf/glossary/blob/main/definitions/virtual_machine.md
)

[2021-08-13 13:54] JasonMorgan opened #197 "Zero Trust Architecture"
Finalize definition for [ZTA](https://github.com/cncf/glossary/blob/main/definitions/zero_trust_architecture.md
)

[2021-08-13 13:55] JasonMorgan opened #198 "Definition needed for SaaS"
Needs to be written and finalized for V2. Please request to be assigned to it and refer to the [style guide](https://github.com/cncf/glossary/blob/main/style-guide.md) before getting started.

[2021-08-13 13:56] JasonMorgan opened #199 "Definition needed for PaaS"
Need to create and finalize for V2. Please request to be assigned to it and refer to the [style guide](https://github.com/cncf/glossary/blob/main/style-guide.md) before getting started.

[2021-08-13 13:58] CathPag opened #200 "Definition needed for IaaS"
Needs to be written and finalized for V2. Please request to be assigned to it and refer to the [style guide ](https://github.com/cncf/glossary/blob/main/style-guide.md)before getting started.

[2021-08-13 13:59] CathPag opened #201 "Definition needed for FaaS"
Needs to be written and finalized for V2. Please request to be assigned to it and refer to the [style guide](https://github.com/cncf/glossary/blob/main/style-guide.md) before getting started.

[2021-08-13 13:59] CathPag opened #202 "Definition needed for managed service"
Needs to be written and finalized for V2. Please request to be assigned to it and refer to the [style guide](https://github.com/cncf/glossary/blob/main/style-guide.md) before getting started.

[2021-08-13 14:16] CathPag commented on #198
@sandipanpanda, we added a bunch of new issues. Wanna work on any of them? If so, please check the [project board](https://github.com/cncf/glossary/projects/1). Your serverless definition was great! If you have time, we'd love you to contribute more!

[2021-08-13 16:39] ShivamTyagi12345 commented on #202
hey @CathPag  Can I Help with this

[2021-08-13 16:41] ShivamTyagi12345 commented on #199
hey @JasonMorgan  can i help with the same
I am a beginner to this community and am looking to get started

[2021-08-13 16:49] CathPag commented on #202
Great, thanks!

[2021-08-13 17:17] Damans227 commented on #201
Hey @CathPag Can I work on this issue ? Thanks!

[2021-08-13 17:22] CathPag commented on #201
Sure!

[2021-08-13 18:22] sandipanpanda commented on #198
@CathPag Thank you for the opportunity! I am ready and would love to contribute more. I am excited to pick up and work on the new issues!

[2021-08-13 18:26] CathPag commented on #198
Great! Let us know what you want to work on and we'll assign it to you :)

[2021-08-13 18:27] sandipanpanda commented on #198
Shall I pick up this?

[2021-08-13 18:35] CathPag commented on #198
Sure! Didn't want to choose SaaS for you but if this sounds good, let's do it!

[2021-08-13 19:03] sandipanpanda commented on #198
I am willing to take up and work on the issue that you find me a good fit for. Can you please choose and assign that to me if that's possible?

[2021-08-13 19:08] CathPag commented on #198
I already did, it's yours :)

[2021-08-13 21:59] Anubhavjoshi040 commented on #199
Hey @CathPag, Can I work on this definition?

[2021-08-13 22:13] CathPag commented on #199
Looks like @ShivamTyagi12345 claimed this first, @Anubhavjoshi040. Since Shivam is new, maybe you could collaborate on this? Just an idea and no need at all to do so. I'll assign this to Shivam and you can decide what to do.  If you want your own term, please claim another one.

[2021-08-13 22:15] CathPag commented on #199
Please disregard. @ShivamTyagi12345, you already claimed one today. Please work on that one first. Once your PR is approved, you can tackle another term. @Anubhavjoshi040, I'll assign this to you.

[2021-08-13 22:15] Anubhavjoshi040 commented on #199
@CathPag @ShivamTyagi12345 is already assigned on a different issue.

[2021-08-13 22:16] Anubhavjoshi040 commented on #199
Thank You!

[2021-08-14 04:25] ShivamTyagi12345 commented on #199
sure

[2021-08-14 04:28] TakshakRamteke commented on #148
@JasonMorgan Yeah sure why not I'll be more than happy to work on this one, but could you please tell me what do we need to improve in this one ?

[2021-08-14 04:29] kumardeni commented on #157
@JasonMorgan - I can take it up, if it is available.

[2021-08-14 04:36] AmitKarnam commented on #193
Hey @JasonMorgan , can I help with this?

[2021-08-14 04:43] kumardeni commented on #138
@JasonMorgan @CathPag - i can take up if available..

[2021-08-14 04:46] kumardeni commented on #200
@CathPag - i can take up, if available

[2021-08-14 13:08] CathPag commented on #200
Sure!
I saw you also requested to work on vertical scaling. You can only claim one term at a time, so please work on this one first. When it's approved, you can claim the next.

[2021-08-14 13:09] CathPag commented on #157
@kumardeni, as mentioned in the other conversation, we ask for people to work on one term at a time. Once the other term is approved, you can claim another one.

[2021-08-14 13:10] CathPag commented on #138
Same here, @kumardeni. Please finish the other term first — thanks!

[2021-08-14 13:12] CathPag commented on #148
Term has been assigned

[2021-08-15 08:35] ShivamTyagi12345 commented on #202
hey @CathPag  ,I have made my PR .Please have a look. Thanks.

[2021-08-15 14:19] ShivamTyagi12345 commented on #194
hey @JasonMorgan @CathPag  , Can I help with this definition ?Or should I first wait for my PR #202 to be reviewed first ?

[2021-08-16 14:11] CathPag commented on #194
@ShivamTyagi12345, please let us review the PR you've already submitted first. Once it's approved, you can tackle the next one. That way, you can apply the feedback to the new term :)

[2021-08-16 14:13] ShivamTyagi12345 commented on #194
Yes, @CathPag. Thanks for the help🙂

[2021-08-17 14:58] reapedjuggler commented on #157
@JasonMorgan, @CathPag I would be glad to take it up, if it is available :smile:

[2021-08-17 15:04] CathPag commented on #157
Sounds good :)

[2021-08-18 05:24] ashish-patwal commented on #200
Hey @CathPag , i want to work on this issue .

[2021-08-18 12:25] CathPag commented on #200
@ashish-patwal, Kumar has already claimed this term. Please pick a different one.

[2021-08-19 07:17] Asmit2952 commented on #196
Hey @JasonMorgan can I work on this?? I am new to open-source contribution.

[2021-08-19 07:23] Asmit2952 commented on #197
Hey @JasonMorgan @CathPag can I work on this issue?

[2021-08-19 12:47] CathPag commented on #197
@Asmit2952, my apologies, but we already have a definition for[ zero trust architecture](https://github.com/cncf/glossary/blob/main/definitions/zero_trust_architecture.md). I think it's pretty solid and only needs final review to make sure it's ready for V2. That's our mistake, it shouldn't have been in the "for next release" column. Can you pick a different term?

[2021-08-19 13:36] Asmit2952 commented on #197
@CathPag No problem, I actually also commented on Virtual Machine #196. Could you assign me that or any other term? I can work on those.

[2021-08-19 13:39] hippyaki commented on #198
@CathPag The spell check failed for the definition. Let me know if I can make changes to it.

[2021-08-19 13:51] CathPag commented on #196
Looks like we have [two issues](https://github.com/cncf/glossary/issues/149) for this one and [a PR](https://github.com/cncf/glossary/pull/203)  already. Please refer to the [project board](https://github.com/cncf/glossary/projects/1) and pick a term in the "for next release" column. That's the best place to identify terms.

[2021-08-25 05:14] kumar-deni commented on #147
@CathPag @JasonMorgan - i can take this up..

[2021-08-25 14:13] CathPag commented on #147
You got it :)

[2021-08-27 13:12] JasonMorgan opened #215 "Add Working groupd details"
This effort is now part of a CNCF working group. We need to update the readme to reflect that.

[2021-08-28 07:54] sandeeplenka commented on #215
Hey I would like to work on this can you Guide me

[2021-08-31 13:11] #157 closed

[2021-08-31 13:57] sayantani11 commented on #159
SUGGESTION/ PLANNING FOR LOCALIZATION OF GLOSSARY:
1. The localization should be under one folder like for example : `./content/en` for English, `./content/hi` for Hindi, `./content/ko` for Korean.
2. For every localization there should have a maintainer who will look after all the changes being made.
3. The PRs for localization should start with `[hi] Vertical Scaling` which makes it easy to unde

[2021-08-31 13:58] sayantani11 commented on #159
@JasonMorgan I would like to work on localization in Hindi if you allow😊

[2021-08-31 22:25] CathPag commented on #155
Hi @cjyabraham, our goal is to have a website for the glossary live by KubeCon NA and Chris said you'd be able to help (I went ahead and assigned this to you). We are still working on the definitions but we could start working on the static website. Let me know if you want to meet and discuss this.  Looking forward to working with you on this!

[2021-09-01 15:44] cjyabraham commented on #155
Hi @CathPag, sounds good.  The next couple of weeks are a bit busy for us but we're happy to start the conversation and look to focus on this in the latter half of September and up to Kubecon.  I think it's reasonable to expect an MVP to launch prior to Kubecon with refinements to come after that.  How does that sound?

I'm adding my colleague @thetwopct here who does most of our front-end develop

[2021-09-01 21:09] CathPag commented on #155
No rush, @cjyabraham . Just ping me on Slack when you're ready to chat.

[2021-09-02 13:32] ShivamTyagi12345 commented on #215
Hey, @JasonMorgan.May I help with this?

[2021-09-02 15:14] cjyabraham commented on #155
Some requirements gathered from our call just now:
- similar to https://wpglossary.net/ but have terms on the left
- use the colors of CNCF
- maybe at glossary.cncf.io?
- website would replace the PDF of terms
- include a simple search
- when site loads you’ll have an introduction in the main pane with the same content as the PDF
- each term will have its own permalink
- planning on building a loc

[2021-09-02 15:18] caniszczyk commented on #155
My biggest requirement is that it's a static site

On Thu, Sep 2, 2021 at 10:15 AM Chris Abraham ***@***.***>
wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2021-09-02 15:53] cjyabraham commented on #155
Yep.  We'll build it in Hugo so that it's tied in to the GitHub repo of content directly.

[2021-09-02 15:55] caniszczyk commented on #155
ideally the definitions could be in json or some structured format that
would just work

On Thu, Sep 2, 2021 at 10:54 AM Chris Abraham ***@***.***>
wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2021-09-02 16:40] cjyabraham commented on #155
@caniszczyk do you see this lunching on glossary.cncf.io?

[2021-09-02 16:43] caniszczyk commented on #155
yes, that URL is fine :)

On Thu, Sep 2, 2021 at 11:41 AM Chris Abraham ***@***.***>
wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2021-09-07 12:07] #200 closed

[2021-09-07 12:08] #144 closed

[2021-09-07 12:09] #140 closed

[2021-09-07 12:13] #126 closed

[2021-09-07 15:23] ShreyaTyagi0XD commented on #15
Hey ! I'm a front end web developer . can I help you with the design or with anything else? Would love to contribute and learn

[2021-09-07 17:49] ShreyaTyagi0XD commented on #155
Can I work on the design of the website?

[2021-09-07 22:43] CathPag commented on #155
Thanks for offering, @ShreyaTyagi0XD, but @cjyabraham is already working on this. The entire website process will be handled by the CNCF team directly.

[2021-09-13 17:30] Anubhavjoshi040 commented on #143
@CathPag can I work on this issue?

[2021-09-14 14:22] CathPag commented on #143
ok, go for it.

[2021-09-14 14:23] #193 closed

[2021-09-14 14:24] #141 closed

[2021-09-14 14:24] #138 closed

[2021-09-14 14:24] #197 closed

[2021-09-14 14:24] #202 closed

[2021-09-14 14:25] #199 closed

[2021-09-14 14:25] #198 closed

[2021-09-15 20:59] sandipanpanda commented on #201
Hi @Damans227 it has been a month since this issue was assigned to you. Can you please confirm if you are interested to work on this issue, else I am available to make a PR to fix this.

[2021-09-16 00:44] Damans227 commented on #201
Hi @sandipanpanda Thanks for reaching out. Sure, please go ahead and take it away. I will un-assign myself.

[2021-09-21 13:43] CathPag commented on #143
@Anubhavjoshi040, just FYI, we have to finalize all 50 terms by KubeCon and would need this definition no later than October 4. If we don't have it by then, we'll have to start working on it as it has to be finalized by Oct 8. Let me know if that works.

[2021-09-21 13:50] Anubhavjoshi040 commented on #143
@CathPag yeah I'll complete it by tomorrow. Sorry for the delay.

[2021-09-21 13:52] CathPag opened #226 "Update links to website"
We need to update all links in the definitions so they link to the new website. The website is not live yet but will be very soon.

[2021-09-21 14:03] reddymahendra52 commented on #226
Can I take up this issue?

[2021-09-21 14:50] CathPag commented on #226
It's all yours :) I'll let you know when the website is live

[2021-09-21 16:04] sandipanpanda commented on #201
A question, [IaaS](https://github.com/cncf/glossary/blob/main/definitions/infrastructure_as_a_service.md) and [SaaS](https://github.com/cncf/glossary/blob/main/definitions/saas.md) are categorized as Concept whereas [PaaS](https://github.com/cncf/glossary/blob/main/definitions/paas.md) is categorized as Technology. Can you please clarify which one is correct, so that I can correctly categorize Faa

[2021-10-02 04:16] reddymahendra52 commented on #226
@CathPag
I can see that the website is live. And most of the links on the site are linked properly. Should I go over the definitions once and see if any links are to be added ?

Or do I need to do something else?

[2021-10-04 15:59] CathPag commented on #226
I think the person who created the website did that too. Sorry, I didn't know. But I'll let you know next time we have a similar task. Your links were super helpful!!

[2021-10-04 16:16] reddymahendra52 commented on #226
Sure..!!
Thanks

[2021-10-05 13:21] #143 closed

[2021-10-05 13:23] caniszczyk opened #238 "Add an easy PDF download for the interactive glossary"
At the moment, https://glossary.cncf.io is a huge improvement based on the previous version.

It still would be useful to have a PDF download available somewhere from glossary.cncf.io for folks that may just want that version.

[2021-10-05 19:21] cjyabraham commented on #238
Would it make sense to add this as a "Download PDF" link in the sidebar under "Report issue"?

[2021-10-08 13:16] #148 closed

[2021-10-08 13:16] #195 closed

[2021-10-14 15:20] iamNoah1 opened #240 "Proposal for new terms"
I would like to propose adding the following terms:

* Agile/Agile Software Development -> check
* CaaS, PaaS, IaaS, SaaS, FaaS -> Only CaaS missing
* Serverless -> already present
* Docker -> apparently not needed
* Site Reliability Engineering

[2021-10-15 19:03] sandipanpanda commented on #240
Definitions of Serverless, SaaS, FaaS, IaaS are already available.

[2021-10-16 09:35] iamNoah1 opened #241 "Broken link to Terms in glossary.md"
In the glossary.md (https://github.com/cncf/glossary/blob/main/glossary.md) the link to terms is broken (https://github.com/cncf/glossary/blob/main/definitions). I don't know where it should point, otherwise I would have opened a PR.

[2021-10-21 23:47] edsoncelio commented on #159
Hey @JasonMorgan, if possible, i want to know more about the localization (to be more specific i want to work on localization in portuguese) :D

[2021-10-31 07:34] supirman opened #244 "Stateless and Stateful Apps are not listed in sidebar"
Stateless and Stateful Apps are searchable and accessible from the URL, but not listed in the sidebar.

![image](https://user-images.githubusercontent.com/329333/139573150-183ab81a-aff0-4990-ac11-d64d7731f77d.png)

[2021-11-03 12:05] JasonMorgan commented on #244
Hey @supirman neither of those terms are completed yet. Only entries marked completed appear in the navigation bar.

[2021-11-03 12:05] #244 closed

[2021-11-03 12:05] #241 closed

[2021-11-03 12:08] JasonMorgan commented on #240
@iamNoah1 sorry about the slow response! I believe that with the new glossary.cncf.io site we're deprecating the pdf. Regardless, we'd love to see some PRs and issues for the terms you listed with the possible exception of docker as I'm not sure it requires a definition.

[2021-11-04 09:15] iamNoah1 commented on #240
@JasonMorgan no worries. Thanks for the feedback, I will open PR(s) to add the terms that are not already existing :)

[2021-11-09 14:20] #150 closed

[2021-11-09 14:20] #147 closed

[2021-11-09 14:21] #226 closed

[2021-11-09 14:23] CathPag commented on #215
Apologies for the late response @ShivamTyagi12345. Yes, please! We'd love for you to help!

[2021-11-09 14:25] CathPag commented on #159
Hi @sayantani11 @edsoncelio, so so sorry for the late response! We've been tight up with some other projects and completely missed this. Yes, absolutely! We'd LOVE you to help create a Hindi version of the glossary.

[2021-11-09 14:43] CathPag opened #248 "Stateful apps definition"
We need help with the definition of the stateful app. [Here is what we currently have](https://github.com/cncf/glossary/blob/main/content/en/stateful_apps.md) which is too technical for this glossary (and doesn't follow the current style guide). Below is our attempt. Although a lot simpler, it may not be 100% accurate.

Please make sure to read the [style guide](https://glossary.cncf.io/style-guid

[2021-11-09 14:47] CathPag commented on #159
...btw, to get started, it'd be great if you could join one of our meetings (either the business value subcommittee or the glossary working group). To do that, please join the #marketing-business-value channel on the [CNCF Slack](https://lists.cncf.io/g/harbor-users/message/74) and ask to be added to the meeting invite. Looking forward to working on this with you!!

[2021-11-09 14:51] edsoncelio commented on #159
Thanks @CathPag! for sure i'll join :D

[2021-11-10 14:16] CathPag opened #250 "Stateless apps definition"
We need help with the definition of the stateful app. [Here is what we currently have](https://github.com/cncf/glossary/blob/main/content/en/stateful_apps.md) which is too technical for this glossary (and doesn't follow the current [style guide](https://glossary.cncf.io/style-guide/)). Below is our attempt. Although a lot simpler, it may not be 100% accurate. Please make sure to read the style gui

[2021-11-16 14:11] #248 closed

[2021-11-16 14:13] JasonMorgan commented on #159
@murillodigital I assigned you to see if there is anymore we need to do here or if you already have a plan for localization. Thanks!

[2021-11-16 14:13] JasonMorgan commented on #134
OBE

[2021-11-16 14:13] #134 closed

[2021-11-16 14:14] #127 closed

[2021-11-16 14:17] ChrisChinchilla commented on #127
@JasonMorgan @caniszczyk Oh, I was going to do this at some point ;)

[2021-11-17 15:50] JasonMorgan opened #252 "mTLS definition"
We should have a definition for mTLS. What it is and what it does.

[2021-11-19 15:44] annalisag-spark opened #256 "[IT]: Basic structure for Italian l10n"
### Details (optional)

Just init

[2021-11-20 17:04] ShivankPro commented on #252
Hey,
Can you provide more info about this issue,
and where it's located.
Mutual Transport Layer Security (mTLS)

[2021-11-23 09:04] JatinNarang1 commented on #250
@CathPag I would like to work on improving the glossary according to the style guide, if you approve me to do so😃

[2021-11-23 13:26] CathPag commented on #250
Of course, @JatinNarang1. Please try to mirror [stateful apps ](https://glossary.cncf.io/stateful_apps/) a little bit since people will likely read them both. Thank you!

[2021-11-23 13:30] CathPag commented on #252
Hi @ShivankPro, we need a new definition for mTLS that follows the [style guide](https://glossary.cncf.io/style-guide/).  You'd be creating a new file — we don't have anything on mTLS yet. Does that make sense?

[2021-11-23 14:09] CathPag commented on #240
Hi @iamNoah1, wanna work on any of the other terms you suggested that haven't been addressed yet? Also, if you could create one issue per term, that'd be great. Thank you! Catherine

[2021-11-23 16:35] JatinNarang1 commented on #250
@CathPag Everything else apart from the definition seemed right, So I proposed minimal changes in the definition. Please do let me know if any further changes are required.. And would also love to contribute at any other kubernetes related projects :)

[2021-11-23 17:33] ShivankPro commented on #252
Hi @CathPag , I am just trying to start with some Beginner-friendly issues,
Therefore trying to know, How should I get started.

[2021-11-23 20:20] CathPag commented on #250
Sorry, the link in the first comment was wrong. We need a definition for stateless, not stateful apps. [This is the definition that needs to be improved](https://glossary.cncf.io/stateless_apps/).

[2021-11-25 16:44] iamNoah1 commented on #240
Hei @CathPag, yes I will. I think only SRE is not addressed yet. Will create an issue for it :) and close this one.

[2021-11-25 16:45] iamNoah1 opened #261 "Add "Site Reliability Engineering""

[2021-11-25 16:45] iamNoah1 opened #262 "Add "CaaS""

[2021-11-25 16:46] iamNoah1 commented on #240
obsolete through #261 and #262

[2021-11-25 16:46] #240 closed

[2021-11-25 16:48] iamNoah1 opened #263 "Translate Existing Definitions to German"
As a native german speaker I would volunteer to translate all of them :)

Just assign me to the issue.

[2021-11-28 15:13] 3V3RYONE commented on #250
Hey @CathPag, If you feel the glossary for stateless app needs to be updated direly, you may assign me to it. I would like to work on it :D

[2021-11-28 17:37] Nawaz027 commented on #261
Hey @iamNoah1, May I help with this issue?

[2021-11-28 18:31] sandipanpanda commented on #262
Hi @iamNoah1, can you please say if you are interested to add the definition of CaaS yourself, or is this issue is for asking help from a contributor?

[2021-11-30 13:37] CathPag commented on #263
@iamNoah1, please have a look at our new [localization doc](https://github.com/cncf/glossary/blob/main/LOCALIZATION.md) and, if possible, join our Glossary Working Group meeting on Thursday. You can find the meeting and add it to your calendar [here](https://www.cncf.io/calendar/).

We do require at least three volunteers per language. If it's only you, we can try to help recruit volunteers. In an

[2021-11-30 13:39] CathPag commented on #262
Hi @sandipanpanda, nice to see you here again :) I think @iamNoah1 wanted to work on it himself but I'll leave it up to him to respond.

[2021-11-30 13:45] CathPag commented on #252
[Does this help](https://glossary.cncf.io/contribute/)?

[2021-11-30 14:55] Alt-Shivam commented on #252
Yes, it is,
Thanks a lot!

[2021-11-30 17:16] DouglasLopez commented on #159
Hello, guys, I want to participate in the Spanish translation please let me know how I can help

[2021-11-30 17:23] CathPag commented on #159
That's great, @DouglasLopez! We are having our official localization kickoff meeting on Thursday during the Glossary Working Group meeting. Any chance you could join? You can find the invite on the[ CNCF calendar](https://www.cncf.io/calendar/).

[2021-11-30 19:13] DouglasLopez commented on #159
Thanks I will be there

[2021-11-30 23:50] jgershater opened #265 "add a new term GitOps"
### What it is
GitOps describes the desired state of the whole system using a declarative specification for each environment — the system of record. You may describe environments such as test, stage, and production in a code repository with the application version that resides in that environment.

### Problem it addresses
GitOps helps administrators and operators manage environments using declara

[2021-11-30 23:53] jgershater opened #266 "add new term Automation"
### What it is
Automation automates manual procedures and static scripts

### Problem it addresses
Helps administrators and operators manage environments by automating previously manual operations.

### How it helps
Speeds up administration and configuration of environments

[2021-12-01 02:40] Nawaz027 commented on #266
Hey @jgershater , may I help with this term???

[2021-12-01 13:26] iamNoah1 commented on #261
@Nawaz027 go for it. @CathPag could assign you probably.

[2021-12-01 13:27] CathPag commented on #261
There you go :)

[2021-12-01 13:31] Nawaz027 commented on #261
thanks @CathPag @iamNoah1

[2021-12-01 13:40] #263 closed

[2021-12-01 13:43] iamNoah1 commented on #262
@sandipanpanda my primary intention was to raise awareness that the term should be added. I do not have to work on it necessarily, so if there is someone from the community who wants to work on it: go for it :) Otherwise I would probably pick it up.

[2021-12-01 17:35] jgershater commented on #266
of course!

[2021-12-02 03:24] sayantani11 commented on #159
@CathPag Sorry I was also busy... And yes I will be there as well

[2021-12-02 03:24] sayantani11 commented on #159
@CathPag Sorry I was also busy... And yes I will be there as well

[2021-12-02 06:57] Nawaz027 commented on #266
thanks. I am working on it.

[2021-12-02 15:58] CathPag commented on #159
@sayantani11, sorry we missed you. Please join the #glossary-localizations and #glossary-localization-hindi channel if you are still interested.

[2021-12-02 16:00] sayantani11 commented on #159
Okay @CathPag

[2021-12-03 13:33] CathPag commented on #250
@3V3RYONE, so @JatinNarang1 submitted a PR but it's not really mirroring the stateful app definition yet ([please see comment on PR](https://github.com/cncf/glossary/pull/259)). Let's see if Jatin wants to give it another try or hand it over to. you.

Apologies for the late reply to both of you — it's been a crazy week!

[2021-12-03 14:09] JasonMorgan opened #267 "Create an English issue template"
Love all the issue templates. We should have an option for English as well.

[2021-12-03 14:11] JasonMorgan commented on #265
@jgershater looks interesting, would you like to submit a PR for this?

[2021-12-03 14:12] JasonMorgan commented on #262
@sandipanpanda it's all your if you want to take a crack at it.

[2021-12-03 14:13] JasonMorgan commented on #261
@Nawaz027 you're now assigned to two terms. Would you mind letting me know which one you prefer to do first so I can mark the other as available?

[2021-12-03 14:17] JasonMorgan commented on #252
Hey @Alt-Shivam I set you as the assignee, please reach out to me on slack if you need any help. Here's a definition we have for it in the linkerd docs: https://linkerd.io/service-mesh-glossary/#mtls

Thanks!

[2021-12-03 16:32] Nawaz027 commented on #261
Hey @JasonMorgan ,  I am doing "site reliability engineering" first.

[2021-12-03 16:42] Alt-Shivam commented on #252
Yeah, Sure

[2021-12-03 21:08] edsoncelio opened #269 "Tracking Portuguese Localization Progress"
Issue to track Portuguese localization progress.

## Checklist to translate a term
1. Check that no one else has claimed the term in the comments below.
2. Comment below the term that you would like to translate, focus on one term per PR.
3. Fork this repo, make your translation and open a PR with the following name convention: `[Add/Update/Fix] [term path]`, for example:
`Add content/pt/abstracti

[2021-12-04 01:14] Garima-Negi opened #270 "Tracking Hindi Localization Progress of Glossary"
This issue tracks Hindi localization progress.

### Checklist to translate a term
1. Check that no one else has claimed the page in the comments below.
2. Comment below the page that you would like to localize, focus on one page per PR, at a time.
3. Maintainers will add your username and Pull Request next to your selected page in below checklist.
4. Fork this repo, make your localizations, and su

[2021-12-04 01:22] Garima-Negi commented on #270
/language [hi]

[2021-12-10 19:49] jessicalins commented on #269
Hello :)

I'd like to translate `content/pt/application_programming_interface.md` and `content/pt/blue_green_deployment.md`. I'll open PRs for them shortly.

I've tried to translate the content in `pt-BR` - I was wondering if we want to differentiate `pt-pt` from `pt-BR` or for the sake of simplicity we consider both as `pt`? What do you think?

[2021-12-10 22:40] edsoncelio commented on #269
Hello, thanks @jessicalins. For now, most of the team members are Brazilians, so I think is better to review in `pt-BR`, later if we found someone to help in `pt-pt` we can discuss more that, what do you think?

Ps.: I will assign to you the pages that you are working on, thanks again!

[2021-12-13 12:49] jessicalins commented on #269
@edsoncelio sounds good!

[2021-12-13 13:57] CathPag commented on #250
@3V3RYONE, I haven't heard from @JatinNarang1. Are you still up for working on this?

[2021-12-14 03:07] 3V3RYONE commented on #250
@CathPag , Sure.. I would like to work on it.. you may assign me :D
My exams would end in next 3 days, and after that I will give a PR! :))

[2021-12-14 16:20] CathPag commented on #250
Excellent, it's all yours, @3V3RYONE! Good luck with your exams!

[2021-12-16 04:40] Aditya-Narayan-Nayak opened #278 "Regarding How To Contribute Guide."
Please Add Step By Step How SomeOne Can Start From Scratch( It Will Be Good IF You Take a Simple Issue Solve Them And Creating Pull Request )to Adding Value In CNCF Repo.

An Example From Community Classroom They Have Pretty Good Documentation:-https://github.com/commclassroom/commclassroom/blob/development/CONTRIBUTING.md (link)

[2021-12-17 12:28] JasonMorgan opened #280 "Create an entry for data center"

[2021-12-17 12:45] kaihoffman commented on #280
I'll take a stab at this.

[2021-12-20 13:39] Alt-Shivam commented on #278
Hey @Aditya-Narayan-Nayak
I would like to work on it.

[2021-12-20 13:40] Alt-Shivam commented on #278
Provide me some more details,
What would you like to include in it.
Thanks

[2021-12-20 13:42] Alt-Shivam commented on #266
Hey, @JasonMorgan
I would like to work on it.
Thanks

[2021-12-20 13:46] Alt-Shivam commented on #265
Hey, @jgershater
In case, You are not interested in this issue,
I would like to work on it.
Thanks.

[2021-12-20 16:48] sayantani11 commented on #270
@sayantani11 - I can review the PRs and contribute as well

[2021-12-20 16:49] sayantani11 commented on #270
I can review the PRs, but will require someone else as well

[2021-12-20 17:08] 3V3RYONE commented on #250
Thank you, Cath!.. I am gonna do the PR tomorrow :))

[2021-12-22 05:22] 3V3RYONE commented on #250
Hey @CathPag , I have done the PR for this issue.
Sorry for the delay :( and let me know for any changes! :)

[2021-12-27 09:04] seokho-son opened #288 "Initiate Korean Localization Team"
# This issue is to initiate a new l10n Team

Please only use this template for submitting a new l10n team initiation requests.

See https://github.com/cncf/glossary/blob/main/LOCALIZATION.md for basic requirements for a new l10n team.

---

### (1) The language and language code for l10n
Find localization's two-letter language code from [ISO 639-1 standard](https://www.loc.gov/standards/iso639-2/p

[2021-12-27 09:13] seokho-son commented on #288
- Create a new development branch for the l10n. (ex: dev-ko)
https://github.com/cncf/glossary/tree/dev-ko

[2021-12-27 09:14] seokho-son commented on #288
- Add a new label for the language.
 `korean` https://github.com/cncf/glossary/issues/labels

[2022-01-04 01:21] edsoncelio opened #290 "Initiate Portuguese Localization Team"
# This issue is to initiate a new l10n Team

Please only use this template for submitting a new l10n team initiation requests.

See https://github.com/cncf/glossary/blob/main/LOCALIZATION.md for basic requirements for a new l10n team.

---

### (1) The language and language code for l10n
Find localization's two-letter language code from [ISO 639-1 standard](https://www.loc.gov/standards/iso639-2/p

[2022-01-04 01:24] edsoncelio commented on #290
Hello @seokho-son, I've opened this issue to the Portuguese team, could you help us? We already have a label and a branch but I think it's better to create a new branch (`dev-pt`), following the guide that you suggested, thanks!

[2022-01-04 09:18] seokho-son commented on #288
- Update codeowners to add l10n contents approvers.
   https://github.com/cncf/glossary/pull/289

[2022-01-04 09:18] seokho-son commented on #288
Complete !

[2022-01-05 16:00] sandipanpanda commented on #262
Hi there, apologies for the late response. I was off GitHub for a month, so didn't know that this issue was assigned to me. Sending a PR to this issue ASAP.

[2022-01-06 15:42] anubha-v-ardhan commented on #270
I can help now that K8s hindi documentation is about to launch, I can find time to review PRs here.

[2022-01-06 15:54] anubha-v-ardhan commented on #270
@Garima-Negi I believe, we will also need Site strings i.e. `i18n/hi.toml` as a minimum requirement. Can you add it to the checklist.

[2022-01-06 15:56] anubha-v-ardhan commented on #270
I can help with review and approval work too

[2022-01-06 17:44] jayesh-srivastava commented on #270
I would like to assist too.

[2022-01-06 17:45] jayesh-srivastava commented on #270
@Garima-Negi Also I think a new language block for Hindi is to be added in `config.toml` right?

[2022-01-06 17:57] anubha-v-ardhan commented on #270
@jayesh-srivastava yes!

[2022-01-06 18:12] jayesh-srivastava commented on #270
@anubha-v-ardhan I guess one page per PR would be great unlike how the Korean team did because then it would be a difficult process to review such huge PRs.

[2022-01-06 18:35] anubha-v-ardhan commented on #270
@jayesh-srivastava Not exactly like that. I was saying the initilization of new localization can be done in one PR. i.e just `configs.toml` and `CODEOWNERS`. Sorry for miscommunication

[2022-01-07 09:44] sayantani11 commented on #270
Yeah review and approval

[2022-01-08 01:02] verma-kunal commented on #270
Awesome! I would love to join in as an approver from the next month as well, to help out 🙂

[2022-01-08 07:49] jayesh-srivastava opened #297 "Initiate Hindi Localization Team"
# This issue is to initiate a new l10n Team

Please only use this template for submitting a new l10n team initiation requests.

See https://github.com/cncf/glossary/blob/main/LOCALIZATION.md for basic requirements for a new l10n team.

---

### (1) The language and language code for l10n
Find localization's two-letter language code from [ISO 639-1 standard](https://www.loc.gov/standards/iso639-2/p

[2022-01-08 08:11] jayesh-srivastava commented on #297
/hindi

[2022-01-09 06:46] seokho-son commented on #297
Thanks @jayesh-srivastava  !
I am going to create `dev-hi` branch and update label.

We need to check permission configuration for branches.
PR #296 is waiting for a peer-review. After #296 I will setup the development branch.
So, please wait for a moment :) let's interact using this issue :)

[2022-01-09 06:47] seokho-son commented on #290
Thanks @edsoncelio !
I am going to create `dev-pt` branch and update label.

We need to check permission configuration for branches.
PR #296 is waiting for a peer-review. After #296 I will setup the development branch.
So, please wait for a moment :) let's interact using this issue :)

[2022-01-09 11:06] manavsiddharthgupta commented on #215
hey its not assigned , can you please assign me and explain the task cause i'm a begineer.

[2022-01-09 11:08] manavsiddharthgupta commented on #266
can any one assign me

[2022-01-09 11:43] jayesh-srivastava commented on #297
@seokho-son okay, got it.

[2022-01-10 20:41] willlsantos commented on #269
Hi folks, are you ok?

I'd like to translante content/pt/api_gateway.md and content/pt/auto_scaling.md.

[2022-01-10 20:44] edsoncelio commented on #269
Thanks @willlsantos, I'll assign it to you if you need some help, just ping us on slack :)

[2022-01-12 01:11] hseligson1 commented on #265
Hey @JasonMorgan - I just submitted a PR, attempting to give this definition a stab. Apologies I didn't link the PR to this issue - I wasn't sure if I was able to without assigning myself to it.
PR: https://github.com/cncf/glossary/pull/302

[2022-01-12 15:04] Giulia-dipietro opened #303 "Add new terms SLO/SLI/SLA"
Add three new terms to describe Service level objectives, indicators, and agreements to expand on the new SRE page.

**Instructions**: These should be three different terms but all mirror each other and refer to one another as they all belong together.

[2022-01-12 15:06] Giulia-dipietro commented on #303
Hi, could somebody please assign me to this issue?

[2022-01-12 15:08] Giulia-dipietro commented on #256
Hi @annalisag-spark I'd like to contribute to the Italian l10n of the glossary.

[2022-01-12 15:11] annalisag-spark commented on #256
Ciao! Nice to meet you and welcome!
Join the Italian team on #glossary-localization-italian CNCF channel, so that we can synch :)

[2022-01-12 16:28] iamNoah1 opened #305 "Initiate German localization team"
# This issue is to initiate a new l10n Team

Please only use this template for submitting a new l10n team initiation requests.

See https://github.com/cncf/glossary/blob/main/LOCALIZATION.md for basic requirements for a new l10n team.

---

### (1) The language and language code for l10n
Find localization's two-letter language code from [ISO 639-1 standard](https://www.loc.gov/standards/iso639-2/p

[2022-01-13 05:46] seokho-son commented on #305
Thanks @iamNoah1 !
Thank you for the initiation!
I am going to create dev-ge branch and update label.

For this moment, maintainers need to check permission configuration for branches.
PR #296 is waiting for a peer-review. After #296 I will setup the development branch.
So, please wait for a moment :) let's interact using this issue :)

[2022-01-13 12:39] meryem-ldn opened #308 "Initiate Italian Localization Team"
# This issue is to initiate a new l10n Team

Please only use this template for submitting a new l10n team initiation requests.

See https://github.com/cncf/glossary/blob/main/LOCALIZATION.md for basic requirements for a new l10n team.

---

### (1) The language and language code for l10n
Find localization's two-letter language code from [ISO 639-1 standard](https://www.loc.gov/standards/iso639-2/p

[2022-01-14 00:41] seokho-son commented on #308
Thank you for the initiation! @meryem-ldn
I am going to create dev-it branch and update label.

For this moment, maintainers need to check permission configuration for branches.
PR #296 is waiting for a peer-review. After #296 I will setup the development branch.
So, please wait for a moment :) let's interact using this issue :)

[2022-01-14 12:17] MatheusPaes commented on #269
Hello,

I'll tranlsate content/pt/abstraction.md and content/pt/agile_software_development.md
The PR's will be open soon ;)

[2022-01-14 12:23] edsoncelio commented on #269
Thanks @MatheusPaes, if you need some help, just ping us on the slack channel :)

[2022-01-14 13:07] MatheusPaes commented on #290
#312

[2022-01-14 14:22] JasonMorgan commented on #303
Thank you!

[2022-01-14 14:23] JasonMorgan commented on #278
OBE

[2022-01-14 14:23] #278 closed

[2022-01-14 14:23] #267 closed

[2022-01-14 14:24] Giulia-dipietro commented on #303
@JasonMorgan thank you!
How can I add a label? It should be lang/en  and good first issue

[2022-01-14 14:29] CathPag commented on #266
Hey, sorry, I haven't been getting notifications for this issue. We have now a #glossary channel on the CNCF Slack. When you want to claim a term, please feel free to ping me and Jason in the channel to be sure we see it — thank you!

I see @Alt-Shivam @manavsiddharthgupta and @Nawaz027 were interested in it. ...so, let's start from scratch. Who wants to take this term?

[2022-01-14 14:51] #261 closed

[2022-01-14 14:59] JasonMorgan commented on #303
Done, thank you!

@Giulia-dipietro if you'd like to stay involved with the project we can talk about getting you set up with triage permissions. Would you mind chatting about it in the glossary channel of the CNCF slack if you're interested?

[2022-01-14 17:24] murriel opened #314 "[English]: Shift Left"
### Details
Shift left, including relevance for cloud, development, devops, testing, and security

[2022-01-14 17:26] murriel opened #315 "[English]: Hyperscaler"
### Details (optional)

What are hyperscalers and how did this term originate?

[2022-01-14 23:59] imoisharma commented on #215
where this file exit?

[2022-01-15 19:18] willlsantos commented on #269
Hello,
I'd like to translate content/pt/client_server_architecture.md.

[2022-01-16 13:44] avinashupadhya99 opened #317 "[English]: Declarative System"
Add Declarative System to the glossary

[2022-01-16 13:45] avinashupadhya99 opened #318 "[English]: Container Storage Interface(CSI)"
Add Container Storage Interface(CSI) to the glossary

[2022-01-16 14:16] mayank-cse commented on #318
Sir,
what is the issue you have raised can you please elaborate?

[2022-01-16 14:21] mayank-cse commented on #266
@CathPag ma'am & @jgershater Sir
If this is not assigned yet, I would like to work on it.

[2022-01-16 14:33] CathPag commented on #266
Done :)

[2022-01-16 15:41] avinashupadhya99 commented on #318
My bad, updated the description 🥂

[2022-01-16 16:39] Alt-Shivam commented on #266
@mayank-cse
Go for it. 👍

[2022-01-16 18:49] CathPag commented on #318
Thanks, @avinashupadhya99! If any of you want to work on this issue, please join the #glossary channel on the CNCF Slack and ping me and let me know and I'll assign this to you.

[2022-01-16 19:57] mayank-cse commented on #266
thank you
I'm on it

[2022-01-16 20:42] mayank-cse commented on #266
@CathPag would you like to suggest anything in the following definition
Automation is a term for technology applications where human input is minimized. When any process is set-up in a way which requires less or zero human intervention is known as automation.

TYPES OF AUTOMATION SYSTEMS

FIXED AUTOMATION Also referred to as hard automation, fixed automation systems carry out a single set of tasks

[2022-01-16 20:53] mayank-cse commented on #266
I have generated a pull request #322
Kindly check it
Thank you

[2022-01-17 05:16] mayank-cse commented on #318
@CathPag ma'am and @avinashupadhya99 sir
If the issue is not yet assigned to anyone, I would like to work on it

[2022-01-17 05:45] same7ammar opened #326 "Initiate Arabic localization team"
# This issue is to initiate a new l10n Team

Please only use this template for submitting a new l10n team initiation requests.

See https://github.com/cncf/glossary/blob/main/LOCALIZATION.md for basic requirements for a new l10n team.

---

### (1) The language and language code for l10n
Find localization's two-letter language code from [ISO 639-1 standard](https://www.loc.gov/standards/iso639-2/p

[2022-01-17 06:25] turjachaudhuri opened #327 "[English]: Orchestrator"
### Details (optional)

Currently , in the CNCF glossary , there is no term - "Orchestrator" .
I believe this is an important concept in Cloud Native ecosystem , and should be part of the glossary .

Let me know your thoughts .

[2022-01-17 06:54] turjachaudhuri opened #328 "[English]: Security as a Service (SecaaS)"
### Details (optional)

This is a very important concept in the modern cloud ecosystem .

Security as a Service is missing in the glossary , and will be a good addition .

[2022-01-17 11:50] turjachaudhuri opened #329 "[English]: Compliance as Code ( CaC )"
### Details (optional)

Compliance as Code - Very important concept in the Cloud native ecosystem . Should be a good addition to the glossary

[2022-01-17 12:04] turjachaudhuri commented on #329
If the issue is accepted will like to work on this .

[2022-01-17 12:04] turjachaudhuri commented on #328
If the issue is accepted will like to work on this .

[2022-01-17 12:05] turjachaudhuri commented on #327
If the issue is accepted will like to work on this .

[2022-01-17 13:37] seokho-son commented on #326
Hello @same7ammar  :)
Thank you for the initiation of l10n for Arabic !!

We are going to proceed following tasks
- Add a new label for the language.
- Update codeowners to add l10n contents approvers.
- Create a new development branch for the l10n. (dev-ar)

But we are testing some permission issues for new branches. So, these tasks will take some time.

[2022-01-17 13:54] JasonMorgan commented on #329
Thanks for volunteering for this!

[2022-01-17 13:55] JasonMorgan commented on #328
@turjachaudhuri do you have some examples of this term being used? I haven't seen it before.

[2022-01-17 13:58] JasonMorgan commented on #317
Can you provide some more context? Any examples you have of "Declarative System" being used would be handy.

[2022-01-17 14:14] mayank-cse commented on #318
thank you sir_I'm on it

[2022-01-17 14:19] turjachaudhuri commented on #328
I have seen it used in some discussions with clients , also found it in blogs -

https://en.wikipedia.org/wiki/Security_as_a_service#:~:text=Security%20as%20a%20service%20(SECaaS,cost%20of%20ownership%20is%20considered.
https://cloudsecurityalliance.org/research/working-groups/security-as-a-service/

[2022-01-17 15:55] avinashupadhya99 commented on #317
Kubernetes is a Declarative System and a very important design principle of Kubernetes. When folks are trying to understand Kubernetes, understanding Declarative Systems becomes very important

[2022-01-17 16:52] avinashupadhya99 opened #330 "[English]: Load Balancer"
### Details (optional)

Add Load Balancer to the glossary. Load balancer is an important component of a lot of Cloud Native applications

[2022-01-18 01:20] jihoon-seo opened #331 "Slim the spellcheck wordlist by ignoring case"
### Details (optional)

Currently, this repo uses [`rojopolis/spellcheck-github-actions` GitHub Action](https://github.com/rojopolis/spellcheck-github-actions) to check spells.

And [it is configured to ignore case in this repo](https://github.com/cncf/glossary/blob/main/spellcheck.yml#L8).
[code]

According to the [`rojopolis/spellcheck-github-actions` GitHub Action README](https://github.com/roj

[2022-01-18 01:23] jihoon-seo opened #332 "No issue template for general issues like bug/enhancement/etc"
### Details (optional)

There is no issue template for general issues like bug/enhancement/etc for this repo.

- https://github.com/cncf/glossary/tree/main/.github/ISSUE_TEMPLATE
- https://github.com/cncf/glossary/issues/new/choose

![image](https://user-images.githubusercontent.com/46767780/149854643-41c869cb-cb47-4889-9a58-6832e845c2e2.png)

[2022-01-18 12:36] iamNoah1 commented on #305
@seokho-son apparently #296 is merged, can we do something to move this one forward?

[2022-01-18 14:03] #331 closed

[2022-01-18 14:06] #262 closed

[2022-01-18 16:55] seokho-son commented on #305
Hello @iamNoah1
We are about to finish configurations. Thank you for your patience !

I shared following [message](https://cloud-native.slack.com/archives/C02N2RGFXDF/p1642425205006300?thread_ts=1642423997.006200&cid=C02N2RGFXDF) through slack channel

---

I'd like to share current progress in setting up Localization environment. We just completed permission setting. :slightly_smiling_face: (but

[2022-01-18 16:56] seokho-son commented on #305
Oh, you just checked the message in slack :)

[2022-01-18 17:32] avinashupadhya99 opened #336 "[English]: Chaos Engineering"
### Details (optional)

Add Chaos Engineering to glossary

[2022-01-18 17:35] #288 closed

[2022-01-18 17:41] avinashupadhya99 opened #337 "Use Github Actions to automate addition of labels for issues"
### Details (optional)

Instead of manually adding labels for the language based issues, use the Github action [`Naturalclar/issue-action`](https://github.com/marketplace/actions/issue-auto-labeling-and-assigning) to add labels based on the title of the issue.

[2022-01-18 19:57] mitul3737 opened #339 "Initiate Bengali Localization Team"
# This issue is to initiate a new l10n Team

Please only use this template for submitting a new l10n team initiation requests.

See https://github.com/cncf/glossary/blob/main/LOCALIZATION.md for basic requirements for a new l10n team.

---

### (1) The language and language code for l10n
Find localization's two-letter language code from [ISO 639-1 standard](https://www.loc.gov/standards/iso639-2/p

[2022-01-19 00:10] ShivamTyagi12345 commented on #337
Have you raised this issue to work on it yourself @avinashupadhya99? If not.,I want to learn more about this .Please assign

[2022-01-19 05:08] avinashupadhya99 commented on #337
Please go ahead, one of the maintainers will be able to assign it to you. Ask on the #glossary channel on the CNCF slack.

[2022-01-19 15:36] avinashupadhya99 opened #340 "[English]: Database as a Service (DBaaS)"
### Details (optional)

Add Database as a Service (DBaaS) to the glossary

[2022-01-19 18:04] seokho-son commented on #339
Hello @mitul3737  :)
Thank you for the initiation of l10n for Bengali !!

We are going to proceed following tasks

- Add a new label for the language. (lang/bn)
- Update codeowners to add l10n contents approvers.
- Create a new development branch for the l10n. (dev-bn)

But we are testing some permission issues for new branches. So, these tasks will take some time.
(You can check current status fr

[2022-01-19 21:24] seokho-son commented on #290
Hello @edsoncelio ! I'd like to inform you following progress.

- Added a new label for the language.
  `lang/pt` https://github.com/cncf/glossary/issues/labels
- Created a new development branch for the l10n.
  https://github.com/cncf/glossary/tree/dev-pt
- Update permission to add l10n contents approvers.
  Working on it (It takes time to reach consensus on updated permission strategy among admi

[2022-01-19 21:26] seokho-son commented on #297
Hello @jayesh-srivastava ! I'd like to inform you following progress.

- Added a new label for the language.
  `lang/hi` https://github.com/cncf/glossary/issues/labels
- Created a new development branch for the l10n.
  https://github.com/cncf/glossary/tree/dev-hi
- Update permission to add l10n contents approvers.
  Working on it (It takes time to reach consensus on updated permission strategy amo

[2022-01-19 21:27] edsoncelio commented on #290
Thank you @seokho-son! I'll start to work on it :D

[2022-01-19 21:27] seokho-son commented on #305
Hello @iamNoah1 ! I'd like to inform you following progress.

- Added a new label for the language.
  `lang/de` https://github.com/cncf/glossary/issues/labels
- Created a new development branch for the l10n.
  https://github.com/cncf/glossary/tree/dev-de
- Update permission to add l10n contents approvers.
  Working on it (It takes time to reach consensus on updated permission strategy among admini

[2022-01-19 21:29] seokho-son commented on #308
Hello @meryem-ldn ! I'd like to inform you following progress.

- Added a new label for the language.
  `lang/it` https://github.com/cncf/glossary/issues/labels
- Created a new development branch for the l10n.
  https://github.com/cncf/glossary/tree/dev-it
- Update permission to add l10n contents approvers.
  Working on it (It takes time to reach consensus on updated permission strategy among admi

[2022-01-19 21:30] seokho-son commented on #326
Hello @same7ammar ! I'd like to inform you following progress.

- Added a new label for the language.
  `lang/ar` https://github.com/cncf/glossary/issues/labels
- Created a new development branch for the l10n.
  https://github.com/cncf/glossary/tree/dev-ar
- Update permission to add l10n contents approvers.
  Working on it (It takes time to reach consensus on updated permission strategy among admi

[2022-01-19 21:32] seokho-son commented on #339
Hello @mitul3737 ! I'd like to inform you following progress.

- Added a new label for the language.
  `lang/bn` https://github.com/cncf/glossary/issues/labels
- Created a new development branch for the l10n.
  https://github.com/cncf/glossary/tree/dev-bn
- Update permission to add l10n contents approvers.
  Working on it (It takes time to reach consensus on updated permission strategy among admin

[2022-01-20 01:25] jihoon-seo commented on #340
It seems that 'DBaaS' is more common expression.
@avinashupadhya99 What do you think? 😊

[2022-01-20 04:14] avinashupadhya99 commented on #340
Yes, DBaaS is a more common expression. I will edit it.

[2022-01-20 06:29] same7ammar commented on #326
Hi @seokho-son .
Thank you so much 👍 .

[2022-01-20 22:07] TheJaySmith commented on #330
I can claim if no one else is working on it

[2022-01-21 10:51] Alt-Shivam commented on #336
I want to work on this.
assign it to me

[2022-01-21 15:43] anubha-v-ardhan commented on #270
@Garima-Negi I believe we'll also need site strings as minimum requirements, Can we add it to the checklist

[2022-01-21 16:43] CathPag opened #344 "[English]: TLS"
### Details (optional)

Need TLS definition so we can link mTLS to it

[2022-01-21 16:46] CathPag commented on #340
@avinashupadhya99, do you want to work on this term or are you only suggesting it?

[2022-01-21 17:07] avinashupadhya99 commented on #340
I will leave it to a technical writer, I'm only suggesting

[2022-01-21 17:09] Alt-Shivam commented on #344
Hey @CathPag
I would like to work on it.

[2022-01-21 17:11] avinashupadhya99 opened #345 "[English] Add Remote Procedure Call(RPC)"
Add Remote Procedure Call(RPC) to the glossary

[2022-01-21 17:13] Alt-Shivam commented on #345
I would like to work on it.

[2022-01-21 17:15] Alt-Shivam commented on #340
hey @CathPag ,
Assign it to me. :)

[2022-01-21 17:31] avinashupadhya99 opened #346 "[English]: Event Streaming"
Add Event Streaming to the glossary. This https://landscape.cncf.io/card-mode?category=streaming-messaging&grouping=category should give a good idea about Cloud Native Streaming

Should `Messaging` be a part of this or should it be a separate word if it all included?

[2022-01-21 17:41] CathPag commented on #345
@Alt-Shivam, you can only be assigned one term at a time. Please let me know which one I should assign to you. Also, not sure if I mentioned it before, but please make sure to read the updated [Style Guide](https://glossary.cncf.io/style-guide/). We added a lot more info.

[2022-01-21 17:42] CathPag commented on #344
As mentioned in the other issue, please select one term as we only allow people to work on one at a time — thank you!

[2022-01-21 17:56] Alt-Shivam commented on #345
Thanks for this info @CathPag
I will take the TLS one.

[2022-01-21 17:57] Alt-Shivam commented on #344
Apologies for it.

[2022-01-21 17:57] Alt-Shivam commented on #344
I will take this only. :)

[2022-01-23 20:50] fsbaraglia opened #350 "[English]: Security Chaos Engineering"
### Details (optional)

Add Security Chaos Engineering

[2022-01-23 22:45] sayantani11 commented on #270
content/hi/_TEMPLATE.md
content/hi/_index.md
content/hi/contribute/_index.md
i18n/hi.toml
Solved in #349

[2022-01-24 13:18] ShivamTyagi12345 commented on #270
I would like to take up content/hi/auto_scaling.md to get started @Garima-Negi

[2022-01-24 14:08] Garima-Negi commented on #270
Hi Shivam, I have updated your name in the list above. Whenever you're ready with a placeholder PR, do share it here or on slack. Thank you!

[2022-01-24 16:20] Shubh28698 commented on #270
@Garima-Negi I would like to take content/hi/_TEMPLATE.md

[2022-01-24 16:23] anubha-v-ardhan commented on #270
@Shubh28698
content/hi/_TEMPLATE.md
content/hi/_index.md
content/hi/contribute/_index.md
and i18n/hi.toml
have been localized by @sayantani11. see https://github.com/cncf/glossary/issues/270#issuecomment-1019583345
You can take any other file than this

[2022-01-24 16:27] Shubh28698 commented on #270
Sry @anubha-v-ardhan , Then i will take content/hi/abstraction.md

[2022-01-24 18:23] avinashupadhya99 opened #352 "[English]: GitOps"
### Details (optional)

Add GitOps to the glossary

[2022-01-25 04:03] anubha-v-ardhan commented on #270
I'm working on `content/hi/agile_software_development.md`

[2022-01-25 04:03] anubha-v-ardhan commented on #270
I'll take `content/hi/agile_software_development.md`

[2022-01-25 09:56] sistella commented on #308
Hi @seokho-son, we're working on site configuration. A new contributor joined us in the meanwhile, can you add him to the list of volunteers for `lang/it` https://github.com/cncf/glossary/pull/342?
* [A] Francesco Sbaraglia (@fsbaraglia)

[2022-01-25 10:37] WebShivam commented on #270
Hi @Garima-Negi, I would like to take content/hi/application_programming_interface.md to get started with the localization

[2022-01-25 13:36] Shubh28698 commented on #270
Hi @Garima-Negi , I would like to take content/hi/cloud_computing.md

[2022-01-25 20:16] Adi9235 commented on #269
Hello, @edsoncelio I am new to contributing to cncf projects in this issue we have to translate one term to Portuguese if I am right can I work on content/pt/auto_scaling.md.
Thank You

[2022-01-25 23:34] jihoon-seo commented on #352
- This issue is dup with #265 😊
- Resolving PR: #302

[2022-01-25 23:34] #352 closed

[2022-01-26 01:30] verma-kunal commented on #332
Hey @jihoon-seo , i can work on this one! 🙂

[2022-01-26 16:04] fsbaraglia commented on #350
PR created with the content - https://github.com/cncf/glossary/pull/357

[2022-01-27 06:03] seokho-son commented on #308
Thank you for sharing progress. @sistella :)
Regarding the additional `approver`, maintainers are going to discuss appropriate number of `approver`s. (at this moment, maximum is four for each l10n team.) It will be determined soon. After that we will revisit this request.
(Please understand that, contributors can contribute without permission for approval. l10n team approver is responsible to mana

[2022-01-27 14:32] seokho-son commented on #308
@sistella @fsbaraglia In a maintainers' meeting, we have decided the maximum `approvers` for a l10n team is four.
Please understand it is to minimize permission maintenance issue. Without the permission, contributors still can contribute.
I think changing approvers may be possible based on their activities. But it is early stage of localization activities for this Glossary project, we don't have a

[2022-01-27 20:17] edenreich opened #359 "Hebrew - Initiate a New Localization Team"
# This issue is to initiate a new l10n Team

See https://github.com/cncf/glossary/blob/main/LOCALIZATION.md for basic requirements for a new l10n team.

I've read the basic requirements and I know one member does not fulfill the basic requirements, so if someone is an Hebrew speaker and would like to join me, hit me up!

Also I would like to know if it's possible to handle RTL and not just LTR wri

[2022-01-28 13:02] iamNoah1 commented on #305
@seokho-son, FYI we updated the status of David to be an approver as well

[2022-01-28 14:44] #344 closed

[2022-01-29 00:48] murriel opened #364 "[English]: Idempotence"
### Details (optional)

Optional details

[2022-01-29 00:50] murriel opened #365 "[English]: Continuous Deployment"
### Details (optional)

Create an entry for Continuous Deployment OR update the Continuous Delivery entry to distinguish between CD as Continuous Deployment vs Continuous Delivery

[2022-01-29 00:52] murriel opened #367 "[English]: Golden Signals"
### Details (optional)

Optional details

[2022-01-29 11:11] seokho-son commented on #359
@edenreich Thank you for the initiation !

https://github.com/cncf/glossary/blob/main/LOCALIZATION.md has been updated recently.
Please take a look. Especially this part.

[2022-01-31 09:35] anubha-v-ardhan commented on #270
@Garima-Negi #349  is closed (ref. https://github.com/cncf/glossary/pull/300#issuecomment-1024894288)

I'll be adding the following pages via #300
- config.toml
- content/hi/_index.md
- content/ko/cloud_native_tech.md
- content/hi/contribute/_index.md
- content/hi/style-guide/_index.md
- i18n/hi.toml

PR #300 will test our config for Hindi localization works. Please mark these pages on the checkli

[2022-01-31 12:52] CathPag commented on #359
@edenreich, excited to see a new localization team forming 🎉 Please read the [Localization Guide](https://github.com/cncf/glossary/blob/main/LOCALIZATION.md) (we updated it a few days ago).

[2022-02-01 13:05] #265 closed

[2022-02-01 13:09] CathPag opened #372 "[help simplify]: GitOps"
### Details (optional)

Hello, this [GitOps definition](https://github.com/cncf/glossary/blob/main/content/en/gitops.md) needs to be simplified (e.g. less technical terms). Please refer to the [style guide](https://glossary.cncf.io/style-guide/) before getting started.

[2022-02-01 14:16] #330 closed

[2022-02-01 14:18] CathPag opened #373 "[help complete]: Load Balancer"
### Details (optional)

This [load balancer definition ](https://github.com/cncf/glossary/blob/main/content/en/load_balancer.md)needs a little more context. Please refer to the [style guide ](https://glossary.cncf.io/style-guide/)before getting started.

Here's some feedback that needs to be incorporated:

## What it is (update)

Load balancing refers to a process in which network traffic is distr

[2022-02-01 14:25] CathPag opened #374 "[update]: Data Center"
### Details (optional)

This [data center definition](https://github.com/cncf/glossary/blob/main/content/en/data_center.md) is almost there. Here's what needs to be added to get it over the finish line:

The problem it addresses touches upon how it helps (the next section): data centers allow companies to..." This section should fully focus on the problem statement which is mentioned in the 2nd se

[2022-02-01 14:26] #280 closed

[2022-02-01 14:26] JasonMorgan commented on #327
@turjachaudhuri happy to assign but you have another issue assigned already. Do you mind completing that first?

[2022-02-01 14:29] JasonMorgan commented on #314
Hey @murriel are you planning to submit a PR for this? It's a good issue regardless but it's currently assigned to you.

[2022-02-01 14:32] #252 closed

[2022-02-02 00:21] murriel commented on #314
Yes! I was planning to write this shortly after submitting the issue and got sidetracked. Will submit a PR in the next day or so. Thank you so much for following up.

[2022-02-02 12:10] anubha-v-ardhan commented on #270
@Garima-Negi `content/hi/style-guide/_index.md` and ` content/hi/cloud_native_tech.md` are written as separate points too while they are being covered by #300. Please remove them from checklist to avoid confusion.

Also add `content/hi/_TEMPLATE.md` being covered by #300 itself

[2022-02-02 12:25] anubha-v-ardhan commented on #270
Next working on ` content/hi/devops.md` :)

[2022-02-02 13:48] rajatgupta24 commented on #270
Hey everyone, I'll be working on `content/hi/cluster.md`.

[2022-02-02 14:35] jayesh-srivastava commented on #270
A small reminder for everyone, please use the label 'lang/hi' with your PR. Thanks!

[2022-02-02 14:36] anubha-v-ardhan commented on #270
@jayesh-srivastava Everyone can't edit labels on PRs. We maintainers have the rsponsibility to assign appropriate labels

[2022-02-02 14:39] jayesh-srivastava commented on #270
@anubha-v-ardhan Oh okay! Got it.

[2022-02-02 16:03] verma-kunal commented on #270
Hey all, i would be starting to work on `content/hi/containerization.md` :)

[2022-02-02 19:00] kranurag7 commented on #270
Hey Everyone, I would be love to work on `content/hi/container.md` and `content/hi/container-image.md`

[2022-02-02 19:02] anubha-v-ardhan commented on #270
@kranurag7 Please only take one page at a time. Assigning `content/hi/container.md` to you

[2022-02-02 19:17] kranurag7 commented on #270
Sure @anubha-v-ardhan I will work on this. Thank you for assigning.

[2022-02-03 02:37] seokho-son opened #379 "Tracking Korean Localization Progress"
Issue to manage and track Korean localization progress.

## Information: Korean localization
 - #288
   - Currently, there are 3 Korean contents approvers
   - We welcome contributors !
 - We use a development branch (https://github.com/cncf/glossary/tree/dev-ko).
   - Contributors need to use `dev-ko` as the base branch, and the target branch of a PR should be `dev-ko`
 - For more details and any

[2022-02-03 08:20] seokho-son commented on #379
<html>
<body>

06 | content/en/container.md
-- | --

<br class="Apple-interchange-newline">
</body>
</html>

제가 진행하겠습니다!

[2022-02-03 09:44] seokho-son commented on #337
I prefer [Labeler](https://github.com/marketplace/actions/labeler) since this Github Action can add labels based on File Path.

[code]

Since we have many localization directories in `content/`,
 - https://github.com/cncf/glossary/tree/main/content

It will be beneficial if we can add localization label automatically.
For instance,
 - add `lang/en` label if a PR includes changes for content/en/xx.

[2022-02-03 12:58] #290 closed

[2022-02-03 12:58] #297 closed

[2022-02-03 12:58] #305 closed

[2022-02-03 12:59] #308 closed

[2022-02-03 21:44] abhilashk433 commented on #373
Hi @CathPag @JasonMorgan, Could you please assign this issue to me?

[2022-02-03 22:00] CathPag commented on #373
Done! :)

[2022-02-04 14:32] #266 closed

[2022-02-04 14:37] CathPag opened #385 "[English]: Version/Source Control"
### Details (optional)

Please refer to the [style guide ](https://glossary.cncf.io/style-guide/)before getting started.

[2022-02-04 14:41] JasonMorgan commented on #159
OBE

[2022-02-04 14:41] #159 closed

[2022-02-04 14:42] JasonMorgan commented on #250
Hey folks, if anyone is interested this issue is up for grabs again.

[2022-02-04 14:43] JasonMorgan commented on #303
Hey @Giulia-dipietro are you still planning on working this?

[2022-02-04 14:47] JasonMorgan commented on #329
@turjachaudhuri are you still planning on working this issue?

[2022-02-04 14:49] JasonMorgan commented on #345
@Alt-Shivam do you still want this  issue? Happy to assign it.

[2022-02-04 14:56] Alt-Shivam commented on #345
Would love to
But I am on Chaos Engineering #336

[2022-02-04 14:59] CathPag opened #386 "[Updated]: Automation"
### Details (optional)

Here's an initial definition for [automation](https://github.com/cncf/glossary/blob/main/content/en/automation.md) that needs a few tweaks before going live.

To claim this issue, please ask for it below AND in the #glossary channel of the CNCF Slack (to ensure we don't miss it). Before getting started, please refer to the [style guide](https://glossary.cncf.io/style-guide/

[2022-02-04 15:37] mayank-cse commented on #317
@JasonMorgan  ma'am and @avinashupadhya99  sir
If the issue is not yet assigned to anyone, I would like to work on it

Thank You:)

[2022-02-04 20:55] electrocucaracha opened #387 "Initiate Spanish Localization Team"
# This issue is to initiate a new l10n Team

Please only use this template for submitting a new l10n team initiation requests.

See https://github.com/cncf/glossary/blob/main/LOCALIZATION.md for basic requirements for a new l10n team.

---

### (1) The language and language code for l10n
Find localization's two-letter language code from [ISO 639-1 standard](https://www.loc.gov/standards/iso639-2/p

[2022-02-04 21:18] raelga commented on #387
Awesome!

[2022-02-05 06:05] seokho-son commented on #387
Hello @electrocucaracha
Thank you the initiation of Spanish localization team !

I'd like to inform you following progress.

- Added a new label for the language.
lang/es https://github.com/cncf/glossary/issues/labels

- Created a new development branch for the l10n.
https://github.com/cncf/glossary/tree/dev-es

- Update permission to add l10n contents approvers.
Working on it (I will open a PR to

[2022-02-05 08:47] verma-kunal commented on #332
Hey @jihoon-seo @JasonMorgan  , what are some of the main things we would be having in a bug report?
The main points i have thought of are:
- Description of the bug
- Working environment (e.g. operating system, browser, device)
- Adding any screenshot (if needed)
- Any other comments or context related to the topic

Anything else that could be added?

[2022-02-06 06:48] ShivamTyagi12345 commented on #270
will work next on content/hi/_index.md

[2022-02-06 06:54] anubha-v-ardhan commented on #270
content/hi/_index.md is already localized with PR #300 as shown in the cheklist above. Please choose something else.

[2022-02-06 06:56] ShivamTyagi12345 commented on #337
I find this helpful.I will try and implement this :)

[2022-02-06 07:04] ShivamTyagi12345 commented on #270
Thats on me. Thanks. I will choose content/hi/api_gateway.md

[2022-02-06 09:49] Aayush987 commented on #270
Hi I would love to contribute to this issue.I would like to take  content/hi/client_server_architecture.md file.If anyone is not working on it please assign it to me.

[2022-02-06 09:53] kranurag7 commented on #270
@Aayush987 Thanks for coming up. The issue will be assigned to you if no one is working on it.

[2022-02-06 09:56] Aayush987 commented on #270
@kranurag7 Thanks

[2022-02-06 10:44] Aayush987 commented on #270
I wanted to ask if i have to do it via cloning on my system or i can simply do it in github on browser?

[2022-02-06 10:48] kranurag7 commented on #270
@Aayush987 You can do it in browser only. Cloning is not required but still if you want to clone then go ahead.

[2022-02-06 10:49] anubha-v-ardhan commented on #270
Thanks @Aayush987. I've assigned the requested page to you. Please also consider joining #glossary-localization and @glossary-localization-hindi on CNCF Slack for discussions or conversations of any kind.

I's not sure if we can branch from `dev-hi` on GitHub itself. If yes, I see no harm in doing so. Note that the PR will have to target `dev-hi` and not main

[2022-02-06 10:58] Aayush987 commented on #270
Can you please send me CNCF slack link . I cant find it?

[2022-02-06 14:14] arunkarthicknm commented on #385
Hey @CathPag Can you tell me what to do , I read the style guide :)

[2022-02-06 15:05] CathPag commented on #385
Hi @arunkarthicknm, we need a definition for version control. How these definitions should look like is described in the [style guid](https://docs.google.com/spreadsheets/d/1OFs5ho6QIn1tPbjHUKrYGO7tHgC6jAP0JUHV7sXGEbA/edit#gid=0)e, does that make sense?

[2022-02-06 20:48] abhilashk433 commented on #373
Hi @CathPag , I have created PR #400 . Could you please review it?

[2022-02-07 03:31] PadminiRai commented on #367
Can I work on it ?

[2022-02-07 04:04] PadminiRai commented on #315
I'd like to work on it.

[2022-02-07 06:59] Giulia-dipietro commented on #303
Hi @JasonMorgan, yes I'm still working on it.

[2022-02-07 07:57] cnu1812 commented on #250
Hi @JasonMorgan I would like to work on this. Please assign for me!

[2022-02-07 08:53] seokho-son commented on #332
Hi @verma-kunal , I think we need to check current issue-templates and need some decisions by maintainers (remove, update, add). Could you let me handle this issue first? I will leave some tasks that you can contribute soon :)

[2022-02-07 10:04] verma-kunal commented on #332
Sure @seokho-son , sounds good! 🙂

[2022-02-07 12:30] arunkarthicknm commented on #385
Yeah sure, I can work on this :)

[2022-02-07 12:33] CathPag commented on #367
Here you go, @PadminiRai. Please make sure to read the [style guide](https://glossary.cncf.io/style-guide/) before getting started and let us know if you have any questions.

[2022-02-07 12:56] CathPag commented on #340
Looks like you already have chaos engineering assigned, so let's wait until you're done for the next term

[2022-02-07 13:06] CathPag commented on #317
Oops, sorry. You already have Container Storage Interface assigned. Please finish that one first before claiming a new term.

[2022-02-07 13:07] CathPag commented on #315
Hi @PadminiRai, I just assigned Golden Signals to you. Please finish that term first before claiming a new one — thank you!

[2022-02-07 13:12] CathPag commented on #385
Here you go :)

[2022-02-07 13:18] Alt-Shivam commented on #340
Hey @CathPag
I am too busy these days with my college assignments.
You can assign it to anyone else. :)
Thanks

[2022-02-07 14:25] CathPag commented on #336
Removing @Alt-Shivam as requested in the other issue.

[2022-02-07 14:29] CathPag commented on #250
There you go, @cnu1812. Please make sure to read the [style guide](https://glossary.cncf.io/style-guide/) before getting started.

[2022-02-07 14:44] fsbaraglia commented on #336
Hi Team, I would like to work on this issue

[2022-02-07 18:51] kranurag7 commented on #270
I would be working on `content/hi/cloud_native_security.md`.

[2022-02-08 16:19] anyulled commented on #387
Hi @electrocucaracha please add me to this initiative

[2022-02-08 16:20] yngrdyn commented on #387
Let's go! 🚀

[2022-02-08 16:28] raelga opened #409 "[EPIC] Tracking Spanish Localization Progress"
# Issue to manage and track Spanish localization progress.

| Num  | File to localize                 | Assignee | Ref (#PR) | Note           |
| ---- | -------------------------------- | -------- | --------- | -------------- |
| conf | content/en/_index.md             |          |           |                |
| conf | content/en/contribute/_index.md  |          |           | need to update |
| co

[2022-02-08 20:17] mitul3737 opened #410 "Tracking Bengali Localization Progress of Glossary"
This issue tracks Bengali localization progress.

# Join the Slack

- Join the [CNCF Slack](https://cloud-native.slack.com/join/shared_invite/zt-11yzivnzq-hs12vUAYFZmnqE3r7ILz9A#/shared-invite/email)
- Join the [glossary](https://cloud-native.slack.com/messages/glossary), [ glossary localization channel](https://cloud-native.slack.com/messages/glossary-localizations) , [Bengali localization channe

[2022-02-08 20:28] mitul3737 commented on #410
Completed merging minimum contents. Repository link : #370  ( config.toml, content/bn/_index.md, content/bn/cloud_native_tech.md, content/bn/contribute/_index.md, content/bn/style-guide/_index.md, i18n/bn.toml)

[2022-02-08 20:31] mitul3737 commented on #410
I'll take ``content/bn/cloud_native_security.md``

[2022-02-08 22:13] Saber307 commented on #410
Can I please contribute to ``content/bn/container.md`` ?

[2022-02-09 09:54] Vrukshali-26 commented on #365
Can I work on this issue?

[2022-02-09 12:24] MahibulHaque commented on #410
Can I please contribute to `content/bn/agile_software_development.md` ?

[2022-02-09 12:29] mitul3737 commented on #410
@MahibulHaque  yes, you can work with that. Let me know when you create a PR. 😁

[2022-02-09 14:48] Aayush987 commented on #270
My previous Pr on ` content/hi/continuous_integration.md` just needs approval , now i would like to work on ` content/hi/canary_deployment.md`.Plz assign it to me

[2022-02-09 18:48] nazma1234 commented on #410
Can I work on ``content/bn/cluster.md`` ?

[2022-02-09 19:57] mitul3737 commented on #410
Yes @nazma1234  🙌

[2022-02-09 23:54] shenzuken opened #415 "Stateless Apps page not appearing on the navigate bar"
Stateless Apps page not appearing on the navigate bar, only way to reach the link is via Stateful Apps, where it's linked there.

[2022-02-10 07:39] Mouly22 commented on #410
I would like to work on ```content/bn/cloud_computing.md```

[2022-02-10 10:45] mitul3737 commented on #410
Okay sure @Mouly22

[2022-02-10 11:29] ikramulkayes commented on #410
Want to work on application_programming_interface.md

[2022-02-10 11:38] mitul3737 commented on #410
sure , @ikramulkayes

[2022-02-10 13:59] CathPag commented on #386
There you go, @a-muk.

[2022-02-10 14:04] a-muk commented on #386
@CathPag Can you please give me some more details on this issue? I went through the links that you have provided.

[2022-02-10 15:27] CathPag commented on #365
Absolutely!

[2022-02-10 19:24] shenzuken commented on #415
Hey @seokho-son

I see what you mean, false alarm. All working as intended :)

[2022-02-10 19:50] seokho-son commented on #337
@ShivamTyagi12345 Maintainers have a consensus on using [Labeler](https://github.com/marketplace/actions/labeler) :)

Please go ahead.
You can check the existing labels "lang/xx" in https://github.com/cncf/glossary/labels and corresponding directory is "content/xx/*"

Since there are many PRs from l10n teams, the priority for the configuration of [Labeler](https://github.com/marketplace/actions/la

[2022-02-11 08:43] Garima-Negi commented on #270
Updated [https://github.com/cncf/glossary/pull/417](https://github.com/cncf/glossary/pull/417) to tracking issue

[2022-02-11 09:00] yunkon-kim commented on #379
| 07 | content/en/virtual_machine.md |
|:---:|:-----------------------------------:|

진행해보겠습니다 😃

[2022-02-11 09:04] seokho-son commented on #379
@yunkon-kim
#382
를 예시로 생각하시면 될 것 같습니다. :) 혹시 궁금한 사항이 있으시면 알려주세요~~

[2022-02-11 12:17] Krishnamohan-Yerrabilli opened #419 "[English]: Request to add new terms."
### Details (optional)

I'm so interested to make a clear understanding of these terms
And I'm so excited to work on it

| (Ingress Controller (Kubernetes)) and (Debugging) |

[2022-02-11 13:05] Krishnamohan-Yerrabilli opened #422 "[English]: Ingress"
### Details (optional)

I'm happy to work on this content.

[2022-02-11 13:07] Krishnamohan-Yerrabilli opened #423 "[English]: Debugging"
### Details (optional)

I'm so excited to work on this term.

[2022-02-11 13:22] Krishnamohan-Yerrabilli commented on #419
Created separate issues for two of them by the suggestion of @CathPag  Saying [It helps people to see what terms are available]
It's appreciatable 👏

Closing this issue.

[2022-02-11 13:22] #419 closed

[2022-02-11 14:06] JasonMorgan commented on #422
Let's change it to ingress and we can use ingress controller in the example.

[2022-02-11 14:29] #215 closed

[2022-02-11 14:31] JasonMorgan commented on #250
@cnu1812 can you share a link to the PR once you have one?

[2022-02-11 14:33] cnu1812 commented on #250
Definitely! I'll share it by tomorrow.

[2022-02-11 19:51] mitul3737 commented on #339
@seokho-son  the candidate list is confirmed

[2022-02-11 21:16] caniszczyk opened #425 "Create a CONTRIBUTING.md"

[2022-02-11 21:18] caniszczyk opened #426 "Document how another org can spin up their own glossary"
Hey @cjyabraham let's chat about how to do this, I've had requests from other projects that want their own glossary now and I think we should consider maybe creating a basic theme out of this site that folks can use.

[2022-02-12 04:24] Mouly22 commented on #410
I want to work on ```content/bn/software_as_a_service.md```

[2022-02-12 07:54] Asmit2952 commented on #340
Is this issue still open? Can you assign me this issue @CathPag?

[2022-02-12 07:56] Asmit2952 commented on #425
Can I work on this? @caniszczyk

[2022-02-12 13:23] cnu1812 opened #431 "[English]: DataOps"
### Details (optional)

Optional details

[2022-02-12 13:33] Anujakumari commented on #317
@CathPag
Can I work on this issue?

[2022-02-12 14:30] Vrukshali-26 commented on #365
Hey @CathPag, should I create a new file named continuous_deployment.md or just update the continuous delivery one??

[2022-02-12 17:31] mitul3737 commented on #410
okay sure @Mouly22

[2022-02-13 02:43] ShivamTyagi12345 commented on #337
hey @seokho-son  can u please help me with this part
<img width="542" alt="image" src="https://user-images.githubusercontent.com/60812924/153735987-e8a0cd37-c49a-4e0f-8b3d-a460f80f4168.png">
How do i add labels now

[2022-02-14 03:04] seokho-son commented on #337
@ShivamTyagi12345

do you mean label matching rule ?

[lang/ar](https://github.com/cncf/glossary/labels/lang%2Far) : content/ar/*
[lang/bn](https://github.com/cncf/glossary/labels/lang%2Fbn) : content/bn/*
[lang/de](https://github.com/cncf/glossary/labels/lang%2Fde) : content/de/*
[lang/en](https://github.com/cncf/glossary/labels/lang%2Fen) : content/en/*
[lang/es](https://github.com/cncf/glossary

[2022-02-14 03:06] ShivamTyagi12345 commented on #337
Yes. That's what I needed help with. Thanks

[2022-02-14 04:18] Asmit2952 commented on #340
Is this issue active? @CathPag

[2022-02-14 07:24] seokho-son opened #435 "Create code-of-conduct.md"
Since Glossary project is under CNCF, it seems important to guide code-of-conduct of CNCF.

I think we can create code-of-conduct.md file that provides the link to https://github.com/cncf/foundation/blob/main/code-of-conduct.md

[2022-02-14 07:25] seokho-son commented on #435
let me do this :)

[2022-02-14 15:40] CathPag commented on #340
There you go, @Asmit2952

[2022-02-14 15:53] Ak-panchal opened #438 "[English]: GlossaryWordHere"
### Details (optional)

Optional details

[2022-02-14 18:08] ManuSquall opened #439 "How to contribute to french localization"
### Details (optional)

Hello world, want to contribute to french localization, is there already an existing team please?

[2022-02-15 02:24] Krishnamohan-Yerrabilli commented on #374
I can do this :)

[2022-02-15 05:25] habarahonaa commented on #387
Heeey dear friends! May I please be added to this initiative? Thanks in advance :)

[2022-02-15 05:44] cnu1812 commented on #438
Why is this empty issue..? If you want to propose any new word replace (GlossaryWordHere).

[2022-02-15 08:11] cjyabraham commented on #426
[Here is a WIP](https://github.com/cncf/glossary/blob/main/spin-new-glossary.md). Is this what you had in mind? Are there any teams out there that would be interested in trying this out?

[2022-02-15 09:38] Vrukshali-26 commented on #365
Hey @CathPag I have created https://github.com/cncf/glossary/pull/441 for this issue.

[2022-02-15 11:14] iamNoah1 opened #442 "Add some installation hints for Hugo"
This may be a small one but on the readme, setting up a local instance assumes that hugo is installed. I think it would be nice to add some info about the prerequisite of hugo that has to be installed at least. Best case IMHO there should also be some info about how to install hugo.

[2022-02-15 11:17] iamNoah1 commented on #439
Hi @ManuSquall, AFAIK there is no french team right now. If you want to help out, make sure to read the [contribution guide](https://glossary.cncf.io/contribute/), the [localization guide](https://github.com/cncf/glossary/blob/main/LOCALIZATION.md) and to join the #glossary-localization channel in the [cncf slack](https://cloud-native.slack.com). Thank you :)

[2022-02-15 11:19] iamNoah1 commented on #438
@Ak-panchal maybe an accident?! ;) Friendly ping

[2022-02-15 11:22] iamNoah1 commented on #425
I also tend to look after a contribution.md in open source repositories, so I already thought about this as well. But there is a [contribution guide](https://glossary.cncf.io/contribute/), so I am not entirely sure if it makes sense to have a contribution.md as well. What do you think @CathPag @seokho-son @JasonMorgan?!

[2022-02-15 11:24] iamNoah1 commented on #425
Also @Asmit2952, @caniszczyk thanks for your willingness to help. Make sure to join the #glossary channel of the [cncf slack](https://cloud-native.slack.com)

[2022-02-15 11:26] iamNoah1 commented on #422
What Jason said and please keep in mind to also bring in the term ingress resource if you want to use ingress controller. I found that people have problems distinguishing between those.  @Krishnamohan-Yerrabilli

[2022-02-15 11:26] edsoncelio commented on #442
Great point! maybe we can have something like we have in Kubernetes docs:
https://github.com/kubernetes/website#using-this-repository

[2022-02-15 14:45] CathPag commented on #387
Hi, for those interested in joining the Spanish localization team, please join the #glossary-localizations and #glossary-localization-spanish channels on the CNCF Slack

[2022-02-15 14:48] CathPag commented on #374
There you go :)

[2022-02-15 15:36] ikramulkayes commented on #410
I'll take `content/bn/devops.md`.

[2022-02-15 15:59] mitul3737 commented on #410
@ikramulkayes  can you kindly change the #433 PR name as formated in docs?

[2022-02-15 16:02] ikramulkayes commented on #410
Oh my bad. Please check it now.

[2022-02-15 16:05] mitul3737 commented on #410
![poi](https://user-images.githubusercontent.com/57193846/154100810-01996609-2fd0-4640-8b74-f4c3ed08b297.png)
Still not updated

[2022-02-15 16:07] ikramulkayes commented on #410
Changed it again. Check it now. @mitul3737

[2022-02-15 16:08] mitul3737 commented on #410
@ikramulkayes  Looks fine now 😊

[2022-02-15 16:09] mitul3737 commented on #410
@Mouly22  can you kindly rename the PR as formated in the docs? #427

[2022-02-15 16:12] Mouly22 commented on #410
@mitul3737 I have done it. Can you kindly check it now?

[2022-02-15 18:47] #438 closed

[2022-02-16 02:38] Anosh21 commented on #442
Hey I would like to prepare the installation guide for Hugo.

[2022-02-16 02:45] seokho-son commented on #425
@iamNoah1 @Asmit2952 Thank you for your support ! :)
@caniszczyk is a maintainer of this repository. It would be better for the contributors to discuss what caniszczyk thinks before they start contributing :)

@caniszczyk
As @iamNoah1 mentioned, there is a there is a contribution guide https://glossary.cncf.io/contribute/ (https://github.com/cncf/glossary/blob/main/content/en/contribute/_index.md)

[2022-02-16 02:50] seokho-son commented on #442
@iamNoah1 are you interested in adding installation hints for Hugo ? or you hope to assign this task to another contributor ? :)

[2022-02-16 03:19] Krishnamohan-Yerrabilli commented on #374
😀👍

[2022-02-16 10:06] iamNoah1 commented on #442
There we have a volunteer :) 👍

[2022-02-16 13:08] seokho-son commented on #442
@Anosh21
Please go ahead. :)

[2022-02-16 15:49] CathPag commented on #425
Ideally, it'd live on the GitHub code page AND on the glossary website. @cjyabraham, see the conversation above. Can we move things around so the same content is found in both places?

[2022-02-16 15:58] JasonMorgan opened #445 "[English]: Operator"
### Details (optional)

Define what an operator is. Will also require a definition of operator pattern.

This issue was inspired by [this article](https://thenewstack.io/hello-kubernetes-operators-and-vendors-few-people-know-what-youre-selling/) which covered some terms that seem to be somewhat ambiguous.

[2022-02-16 15:58] JasonMorgan opened #446 "[English]: Operator pattern"
### Details (optional)

See operator issue.

This issue was inspired by [this article](https://thenewstack.io/hello-kubernetes-operators-and-vendors-few-people-know-what-youre-selling/) which covered some terms that seem to be somewhat ambiguous.

[2022-02-16 15:59] JasonMorgan opened #447 "[English]: Substrate"
### Details (optional)

Define the term substrate in the context of Kubernetes and modern dev platforms.

This issue was inspired by [this article](https://thenewstack.io/hello-kubernetes-operators-and-vendors-few-people-know-what-youre-selling/) which covered some terms that seem to be somewhat ambiguous.

[2022-02-16 23:46] Garima-Negi commented on #270
Hi, @Shubh28698 and @WebShivam!

 Thank you for signing up for your respective pages.
 We would like to get placeholder PRs for the same if you have begun work on the localization already.
 Please also paste the tracking issue `https://github.com/cncf/glossary/issues/270` in your PRs description, this helps us track.

 Thank you for your help!

[2022-02-17 02:05] #326 closed

[2022-02-17 02:05] #339 closed

[2022-02-17 02:05] #387 closed

[2022-02-17 05:42] jihoon-seo opened #449 "To use relative path rather than absolute path in links"
### Details (optional)

For example, in `content/en/virtual_machine.md`, the links to other glossary terms are set with absolute path:
- `[virtualization](https://glossary.cncf.io/virtualization/)`
- `[bare metal](https://glossary.cncf.io/bare_metal_machine/)`

But I suggest to use relative path rather than absolute path in links to the page of the same site (`glossary.cncf.io`).

[code]

Here is

[2022-02-17 06:22] seokho-son commented on #256
complete by #404

[2022-02-17 06:22] #256 closed

[2022-02-17 11:48] cjyabraham commented on #425
My sense is that a CONTRIBUTING.md file is [a standard GitHub file](https://docs.github.com/en/communities/setting-up-your-project-for-healthy-contributions/setting-guidelines-for-repository-contributors) for any repo that should outline rules and guidelines for contributing to the glossary repo as a whole, which includes the core code for running a glossary site. This file will show up in a sideb

[2022-02-17 13:00] CathPag commented on #425
@JasonMorgan, @seokho-son, @jihoon-seo, @iamNoah1, let's think about what makes sense. We could discuss during our meeting on Monday.

[2022-02-17 18:55] Garima-Negi commented on #270
hi, taking `content/hi/contributor-ladder/_index.md` next.

[2022-02-18 02:18] seokho-son commented on #439
Hi @ManuSquall
We welcome new localization team :) If we find more volunteers we can initiate a French localization team by using this issue template https://github.com/cncf/glossary/issues/new?assignees=&labels=enhancement&template=l10n-initiation.md . Please take a look [localization guide](https://github.com/cncf/glossary/blob/main/LOCALIZATION.md).

I think you've found the answer, let me clos

[2022-02-18 10:25] cjyabraham commented on #426
I've completed the first draft of [the instructions to modify the Glossary code for a new glossary](https://github.com/cncf/glossary/blob/main/spin-new-glossary.md). It's pretty lean but hopefully points people to all the things they need to do to start their own glossary site. If there is a team interested in doing this, it'd be good to connect with them so that we can work out any kinks in the i

[2022-02-18 11:13] ManuSquall commented on #439
Sure, thank you for the assistance @iamNoah1 , @seokho-son

[2022-02-18 13:01] #439 closed

[2022-02-18 13:57] CathPag commented on #374
Oops, just realized you are also working on debugging. Please note that we can only assign contributors one term at a time. I'll remove you now until debugging is done. Thanks for understanding :)

[2022-02-18 15:04] hanyuancheung opened #451 "Request to Initiate Chinese Localization Team"
# This issue is to initiate a new l10n Team

See https://github.com/cncf/glossary/blob/main/LOCALIZATION.md for basic requirements for a new l10n team.

I've recruited 4 volunteers (including myself), and I've read the localization guide. Also, I've created the slack channel which is [#glossary-localization-chinese](https://cloud-native.slack.com/archives/C033LHQCGS1)

---

### (1) The language an

[2022-02-18 15:12] iamNoah1 opened #452 "[English]: Technical Debt"
### Details (optional)

Optional details

[2022-02-18 18:12] Mahrjose commented on #410
Hey @mitul3737 , I would like to contribute to `content/bn/abstraction.md`

[2022-02-19 10:03] fsbaraglia commented on #336
pull request already in place #357

[2022-02-19 11:53] hanyuancheung commented on #451
Sorry to bother you guys, but I have no permission to create the origin branch for the Chinese language.
Could you please help to do that so we can open PRs to finish the localization initiation? Great thanks for that~

[2022-02-20 02:29] Mouly22 opened #454 "content/bn/agile_software_development.md@MahibulHaque"

[2022-02-20 02:30] #454 closed

[2022-02-20 10:29] ikramulkayes opened #458 "content/bn/devops.md@ikramulkayes"

[2022-02-20 10:30] #458 closed

[2022-02-21 01:56] jihoon-seo opened #462 "[Korean]: Update 'virtual machine'"
### Details (optional)

- #424 에서 `dev-ko` 브랜치에 'virtual machine' 항목이 추가되었는데,
- 그 이후에 #448 에서 영문 'virtual machine' 항목이 업데이트 되었습니다.
- 이에, `dev-ko` 브랜치의 'virtual machine' 항목을 업데이트하는 이슈를 오픈합니다. 😊

Edit: 새 이슈 대신, #379 의 댓글로 적는 것이 더 나으려나요 😅

[2022-02-21 02:31] seokho-son commented on #462
@jihoon-seo 다양한 방법 모두 적절히 사용하면 될 것 같습니다. (큰 변경 사항이 아니라면 PR로 바로 열어도 될 것 같아요.)
현재는 작업하는 인원이 많이 않아서, 팀 내부에서 효율적인 방법으로 추진하면 될 것 같아요. :)
기여자가 늘어난다면, 이슈 등 퍼블릭하게 작업하는 형태로 변경해 나갈 필요가 있습니다. (아직은 다소 먼 이야기이네요^^)

[2022-02-21 02:33] seokho-son commented on #462
아직 dev-ko 의 영어 원문이 최신으로 업데이트 되지는 않았습니다.
PR #392 머지를 maintainer가 승인해줘야 하고,
제가 maintainer이지만 해당 PR의 author 라서 직접 승인하는 것은 바람직하지 않고,
잠시 기다려보고 있습니다. :)

[2022-02-21 02:34] seokho-son commented on #449
@jihoon-seo
I agree with you ! :)
But I hope to reduce the impact of the modifications. I think this issue is worth to discuss among maintainers as well.

[2022-02-21 02:43] seokho-son commented on #451
Hello @hanyuancheung  ! I am one of the maintainers of CNCF Glossary.
I'd like to inform you following progress.

- Added a new label for the language.
  `lang/zh` https://github.com/cncf/glossary/issues/labels
- Created a new development branch for the l10n.
  https://github.com/cncf/glossary/tree/dev-zh
- Update permission to add l10n contents approvers.
  Working on it (It takes time to reach c

[2022-02-21 12:19] yunkon-kim commented on #379
| 05 | content/en/monolithic_apps.md |
|:---:|:------------------------------------:|

다음으로 monolithic_apps를 진행하겠습니다 😃

[2022-02-21 23:03] marcelomansur commented on #269
Hi @edsoncelio , I'd like to work on `content/pt-br/devops.md`.

[2022-02-22 08:57] seokho-son commented on #451
@hanyuancheung
Could you check, among the volunteers, who are interested in managing dev-zh branch ? (candidates for approver)

- [hanyuancheung](https://github.com/hanyuancheung)
- [Rocksnake](https://github.com/Rocksnake)
- [Jacob953](https://github.com/Jacob953)
- [Submarinee](https://github.com/Submarinee)

I recommend to take a look role and responsibility from
 - PR: #432
 - Contributor ladd

[2022-02-22 09:48] hanyuancheung commented on #451
Yeah, I've shared this info above with them. I think I could take on the task of managing dev-zh branch. Thx

[2022-02-22 13:27] JasonMorgan commented on #386
OBE

[2022-02-22 13:27] #386 closed

[2022-02-22 14:13] #385 closed

[2022-02-23 08:05] jihoon-seo opened #470 "L10n of "Feedback" section"
### Details (optional)

In each term page, "Feedback" section is displayed in English, regardless of the language user has chosen.
[Example 1](https://deploy-preview-424--cncfglossary.netlify.app/ko/virtual_machine/#:~:text=Feedback,this%20page%20helpful%3F),
[Example 2](https://deploy-preview-468--cncfglossary.netlify.app/pt-br/devops/#:~:text=Feedback,this%20page%20helpful%3F):
![image](https://

[2022-02-23 13:48] gullapalli9482 commented on #470
I would like to work on this issue , can it be assigned to me

[2022-02-23 15:32] #332 closed

[2022-02-24 05:11] #337 closed

[2022-02-24 09:47] hanyuancheung commented on #451
Hi @seokho-son , how's the initiation and PR going? Please help to review them, so we could continue our work~ Thanks lot.

[2022-02-24 11:24] seokho-son commented on #451
@hanyuancheung I was waiting for agreements from the other candidates :)

[2022-02-24 13:40] gullapalli9482 commented on #452
Could you explain more regarding the issue

[2022-02-24 13:41] gullapalli9482 commented on #452
@iamNoah1

[2022-02-24 13:49] CathPag commented on #373
This issue is available again (we had to close the PR for this term due to inactivity).

[2022-02-24 13:51] gullapalli9482 commented on #470
@jihoon-seo, I wasn't able to find the actual html file for the different languages , could you help me out by giving me the location of these files , so that I can make necessary changes .

[2022-02-24 17:14] iamNoah1 commented on #452
Hei @gullapalli9482 Thanks for reaching out. I am not quite sure what you want to hear TBH. Like with every other issue in this repo, this issue is a request to add a glossary definition about what technical debt is. If you want to contribute, please make sure to read the [contribution guide](https://glossary.cncf.io/contribute/) and join [this slack channel](https://cloud-native.slack.com/archive

[2022-02-25 02:16] jihoon-seo commented on #470
@gullapalli9482 Let me add placeholders for this!

[2022-02-25 11:36] anubha-v-ardhan commented on #270
@Garima-Negi Any updates on `content/hi/contributor-ladder/_index.md`. It's the last page required before we can launch.

[2022-02-25 13:22] unnati914 commented on #452
can I work on this? or can help @gullapalli9482 to solve this

[2022-02-25 13:35] vish-han opened #484 "[New term] `Docker` for `En`"
### Please describe why this term needs to be added

#### What this term is about? (briefly)

- Docker is a set of platform as a service products that use OS-level virtualization to deliver software in packages called containers.

#### Why this term needs to be added? (briefly)
- Docker streamlines the development lifecycle by allowing developers to work in standardized environments using local co

[2022-02-25 13:37] gullapalli9482 commented on #470
I understand it better now i think, so just to keeps things clear , the feedback section needs to get converted to whichever language it's opened in , am i getting it right?

[2022-02-25 13:46] gullapalli9482 commented on #452
I understand what the issue is about now, thanks @iamNoah1 😃 . And thank you @unnati914 , it would be really great receiving tips from someone like you 😄 .

[2022-02-25 13:50] gullapalli9482 commented on #452
I would definitely like to work on this , do assign me this issue.

[2022-02-25 14:09] unnati914 commented on #270
hey, is there any issue I can work with?

[2022-02-25 14:34] anubha-v-ardhan commented on #270
Yeah, you can take a page from checklist in this issue's which is not already assigned to someone and localize it.

[2022-02-25 14:38] unnati914 commented on #270
can I take up automation.md?

[2022-02-26 15:16] CathPag commented on #484
Thanks, @vish-han. Docker is a product, not a technology category. If someone wants to know what Docker is, all they need to know is that it is a container and then look up container in the glossary. Does that make sense?

[2022-02-27 09:28] hanyuancheung commented on #451
@seokho-son Thanks for approving the initialization PR. I think this issue could also be closed.

[2022-02-27 09:29] #451 closed

[2022-02-27 15:49] anubhav06 commented on #270
Hi! Can I work on localizing `bare_metal_machine.md` ?

[2022-02-27 22:41] #484 closed

[2022-02-27 22:42] CathPag commented on #484
Perfect :)

[2022-02-28 11:09] MrErlison commented on #269
Hi @edsoncelio check content/pt-br/bare_metal_machine.md for me.

[2022-03-01 05:23] gullapalli9482 commented on #452
Can i make a pull request now

[2022-03-01 08:54] iamNoah1 commented on #452
There you go @gullapalli9482, please make sure to read the [contribution guide](https://glossary.cncf.io/contribute/) and join [this slack channel](https://cloud-native.slack.com/archives/C02TX20MQBB). ;)

[2022-03-01 14:05] JasonMorgan commented on #449
I totally agree, I think we should update the contributing guide as part of this. @jihoon-seo do you want to work it or is it open to be picked up?

[2022-03-01 14:08] JasonMorgan commented on #431
@cnu1812 are you interested in working this? Also can you provide an example where you see dataops being used?

[2022-03-01 14:09] JasonMorgan commented on #426
@cjyabraham do we have a linked PR or should we be closing this out? It looks like your guide is already merged in.

[2022-03-01 14:12] JasonMorgan commented on #425
Hey folks! I'm a bit confused about who's going to be writing this guide. @cjyabraham do you plan on handling this?

[2022-03-01 14:12] cnu1812 commented on #431
I am working on other issue currently. And I would like to take up after that. Meanwhile if anyone interested can do this.

[2022-03-01 14:13] cjyabraham commented on #426
Yes, it's merged and this issue can be closed.

[2022-03-01 14:13] #426 closed

[2022-03-01 14:14] cjyabraham commented on #425
I don't know. I wasn't part of the meeting that @CathPag suggested above so don't know what the follow-up items were. I'm happy to help if that was the decision.

[2022-03-01 14:15] JasonMorgan commented on #367
@remote007 how's it going? Is there anything we can do to help this move forward?

[2022-03-01 14:38] remote007 commented on #367
Hi @JasonMorgan , I edited the content it's in the draft format rn. I fell ill and am taking some rest. Will create asap. Thanks for asking.

[2022-03-01 14:40] JasonMorgan commented on #329
This issue is once again up for grabs.

[2022-03-01 14:40] JasonMorgan commented on #318
@mayank-cse are you still working this issue?

[2022-03-01 14:42] JasonMorgan commented on #314
Hey @murriel do you mind linking a PR even if it's a WIP?

[2022-03-01 14:42] JasonMorgan commented on #303
@Giulia-dipietro do you mind linking a PR?

[2022-03-01 15:08] Asmit2952 commented on #425
So can I work on this?

[2022-03-01 15:11] Asmit2952 commented on #327
Can I work on this? @JasonMorgan

[2022-03-01 15:40] Giulia-dipietro commented on #303
Hi @JasonMorgan, I'm sorry but I have been unable to write this due to personal issues. I have removed myself to make this issue available to other contributors. I apologize for the inconvenience.

[2022-03-01 18:57] mayank-cse commented on #318
Yes sir,
sorry for the delay
I'll finish it by tomorrow

[2022-03-01 21:29] fsbaraglia commented on #336
PR for only Chaos Eng concept https://github.com/cncf/glossary/pull/498

[2022-03-02 06:44] cjyabraham commented on #425
[I've submitted a PR](https://github.com/cncf/glossary/pull/501)

[2022-03-02 07:03] #442 closed

[2022-03-02 12:07] DaveVentura opened #505 "[German] Localize 'Abstraction'"

[2022-03-02 12:09] DaveVentura opened #506 "[German] Localize 'Agile Software Development'"

[2022-03-02 12:11] DaveVentura opened #507 "[German] Localize 'API Gateway'"

[2022-03-02 12:13] DaveVentura opened #508 "[German] Localize 'Application Programming Interface'"

[2022-03-02 12:14] DaveVentura opened #509 "[German] Localize 'Autoscaling'"

[2022-03-02 12:26] DaveVentura opened #510 "[German] Localize 'Bare Metal Machine'"

[2022-03-02 12:27] DaveVentura opened #511 "[German] localize 'Blue Green Deployment'"

[2022-03-02 12:28] DaveVentura opened #512 "[German] localize 'Canary Deployment'"

[2022-03-02 12:29] DaveVentura opened #513 "[German] localize 'Client-Server-Architecture'"

[2022-03-02 12:30] DaveVentura opened #514 "[German] localize 'Cloud Computing'"

[2022-03-02 12:31] DaveVentura opened #515 "[German] localize 'Cloud Native Apps'"

[2022-03-02 12:32] DaveVentura opened #516 "[German] localize 'Cloud Native Security'"

[2022-03-02 12:33] DaveVentura opened #517 "[German] localize 'Cloud Native Technology'"

[2022-03-02 14:34] #425 closed

[2022-03-02 14:46] CathPag commented on #425
Thank you, @cjyabraham !!

[2022-03-03 04:47] yunkon-kim commented on #379
| 04 | content/en/microservices.md |
|:---:|:---------------------------------:|

다음으로 microservices를 진행하겠습니다

[2022-03-03 07:41] jihoon-seo commented on #449
@JasonMorgan It would be great if someone (other than me) handles this issue (update the contributing guide). 😊

[2022-03-03 08:48] jihoon-seo commented on #470
@gullapalli9482 Please refer to the PR #519,
and you can add L10n to `dev-xx` that you want to (e.g. `dev-hi`) !

[2022-03-03 13:06] gullapalli9482 commented on #270
can I take up transport layer security

[2022-03-03 14:59] Asmit2952 commented on #327
Can I work on this? @JasonMorgan @CathPag

[2022-03-03 16:42] subhamgcon opened #524 "[English]: Virtual Desktop Infrastructure"
### Details (optional)

Can I add this term to the glossary?

[2022-03-03 16:45] subhamgcon commented on #524
@iamNoah1 Can I add this term to the glossary?

[2022-03-03 22:37] root21cuib opened #527 "[ English ]: Digital Certificates"
Please can I contribute by adding this term to glossary ?

[2022-03-04 03:42] Poobalan1210 commented on #345
Hey Jason can I work on this issue?

[2022-03-04 07:19] murriel commented on #314
Apologies for the delay - any feedback on the entry is welcome!

[2022-03-04 08:23] enraiha0307 commented on #373
Can I help on this?

[2022-03-04 12:43] iamNoah1 commented on #527
there you go @root21cuib

[2022-03-04 12:46] CathPag commented on #527
...and please don't forget to read the [style guide](https://glossary.cncf.io/style-guide/) before getting started — thank you! :)

[2022-03-04 12:49] CathPag commented on #373
Sure, here you go! Please make sure to read the [style guide](https://glossary.cncf.io/style-guide/) before getting started

[2022-03-04 12:50] akshatcoder-hash opened #531 "[English]: Nightly"
### Details (optional)

Please can I contribute by adding this term to glossary ?

[2022-03-04 12:54] #340 closed

[2022-03-04 12:56] CathPag commented on #345
Here you go, @Poobalan1210. Please make sure to read [how to contribute](https://glossary.cncf.io/contribute/) and the [style guide](https://glossary.cncf.io/style-guide/) before getting started.

[2022-03-04 13:06] mdarmandev opened #532 "[English]: Content Delivery Network"
### Details (optional)

Optional details

[2022-03-04 13:06] CathPag commented on #423
This PR is available again. Below is a definition that is almost ready. The how it works needs a little more context.

## What it is

A bug is a software error or fault leading to incorrect or unexpected output. Debugging is the process or activity of identifying and removing these bugs (or errors) from a software program to get the desired output.

## Problem it addresses

When developers write c

[2022-03-04 13:10] root21cuib commented on #527
@iamNoah1 and @CathPag thank you very much for the opportunity I will do my best

[2022-03-04 13:14] CathPag commented on #327
Sure, here you go, @Asmit2952 :)

[2022-03-04 13:21] gullapalli9482 commented on #445
If the issue is not taken by anyone, I would like to undertake it.

[2022-03-04 13:26] TarekMSayed opened #534 "[English]: Container Runtime Interface (CRI)"
### Details (optional)

Optional details

[2022-03-05 05:12] karnatisrinivas commented on #532
Hello @mdarmandev , Can I know the context of issue please!

[2022-03-05 05:25] subhamgcon opened #535 "[English]: Middleware"
### Details (optional)

Can I add this term to the glossary?

[2022-03-05 05:28] mdarmandev commented on #532
i want to contribute in the glossary !

[2022-03-05 11:03] Poobalan1210 commented on #345
Thanks for the assign Cath.Yep i will see the guidelines

[2022-03-05 12:09] kelvinparmar opened #536 "[English]: How to contribute"
### Details (optional)

Optional details

[2022-03-05 12:25] kelvinparmar opened #539 "API Gateway"
I don't know what to do but I want to contribute in open source. That's why I am written this line

[2022-03-05 13:07] MrErlison commented on #269
Hi, @edsoncelio add content/pt-br/continuous_delivery.md for me.

[2022-03-05 14:12] CathPag commented on #539
Thanks, Kelvin, but we already have a definition for [API Gateway](https://glossary.cncf.io/api_gateway/). I'll go ahead and close this issue.

[2022-03-05 14:12] #539 closed

[2022-03-05 14:16] CathPag commented on #536
We also already have a [how to contribute](https://glossary.cncf.io/contribute/). If you want to contribute but don't know how, the best way is to pick an existing issue. Please note that we are implementing a new way to vet issues (proposed terms) before they are approved for the Glossary. Not all current issues will be green-lighted. Feel free to pick one and wait until we decide and let you kno

[2022-03-05 14:16] #536 closed

[2022-03-05 14:33] CathPag commented on #445
Looks like you have still a PR open for [technical debt](https://github.com/cncf/glossary/pull/500). Once that is complete, we can assign ou a new term

[2022-03-05 15:22] gullapalli9482 commented on #445
Oh, I forgot to mention that 🥲 before asking for the term.

[2022-03-05 15:25] CathPag commented on #445
No worries. Check back in once the other term is done :)

[2022-03-05 15:33] gullapalli9482 commented on #445
How do i reach out to the maintainers for reviewing the pull request , apart from the conversation done here, could I do it in slack, is it correct , could I do it?

[2022-03-05 15:54] CathPag commented on #445
It is on our radar. We are all doing this in our spare time and ask for patience when waiting for feedback. Contributing to open source doesn't stop with submitting a PR. Please wait to hear from us for next steps.

[2022-03-05 16:16] anacunha commented on #269
@edsoncelio can you please assign `content/pt-br/cloud_computing.md` to me?

Thanks!

[2022-03-06 04:31] peeyushguleria opened #545 "[English]: Docker"
### Details (optional)

Optional details

[2022-03-06 04:50] peeyushguleria commented on #545
@CathPag may I work on it?

[2022-03-06 10:47] iamNoah1 commented on #545
Hi @peeyushguleria and welcome :)  … please note, that Docker is a product, not a technology or concept. The concept behind it is containers and for containers, we already have a definition (https://glossary.cncf.io/container/)

[2022-03-06 10:47] #545 closed

[2022-03-06 10:56] peeyushguleria commented on #545
Thanks @iamNoah1 for correcting me , will keep that in mind in the future.

[2022-03-06 12:10] jihoon-seo commented on #531
It would be appropriate for other maintainer(s) to assign this issue. 😊

[2022-03-06 13:56] CathPag commented on #524
@subhamgcon, we decided this term is not widely used enough to be part of this glossary. I'll go ahead and close this issue

[2022-03-06 13:56] #524 closed

[2022-03-06 13:57] CathPag commented on #535
Here you go. Please make sure to read the [style guide](https://glossary.cncf.io/style-guide/) before getting started.

[2022-03-06 14:25] fsbaraglia commented on #303
@JasonMorgan  Please assign it to me, I can work on it

[2022-03-06 14:29] fsbaraglia commented on #423
@CathPag  assign it to me, I will finish

[2022-03-06 14:31] CathPag commented on #531
HI @akshatcoder-hash, we decided that this term shouldn't be part of the glossary as it's not a widely known one. I'll go ahead and close this issue. If you want to work on a term, feel free to check out the list of open issue. There are a ton of them.

[2022-03-06 14:31] #531 closed

[2022-03-06 14:34] CathPag commented on #447
Jason, we spoke with Noah and this term feels a little too much in the weeds for the glossary. I'll close for one. If you have strong feeling about it, we can discuss and add again later.

[2022-03-06 14:34] #447 closed

[2022-03-06 14:37] CathPag commented on #532
Here you go, @mdarmandev. Please make sure to read the[ style guide](https://glossary.cncf.io/style-guide/) before getting started.

There is an update that hasn't been merged yet but is really important so I'm pasting it in here:

### Quality is paramount
If merged, your submission will be the official CNCF definition for that term (until someone else improves it). Creating a term that meets the

[2022-03-06 14:40] CathPag commented on #532
So all these issues with just one term in the subject line are new term suggestions. If you want to contribute, pick a term you feel comfortable with, asked to be assigned to it, and work on it. But before you do any of that, please read the [how to contribute](https://glossary.cncf.io/contribute/) and [style guide.](https://glossary.cncf.io/style-guide/)

[2022-03-06 14:40] CathPag commented on #423
Here you go :)

[2022-03-06 15:06] #336 closed

[2022-03-06 15:06] #350 closed

[2022-03-06 15:16] CathPag commented on #303
@fsbaraglia, we only allow people to work on one issue at a time. Once debugging is done, I'll assign this one to you (please remind me though) :)

[2022-03-06 17:15] akshatcoder-hash opened #546 "[New term] `Firewall` for `En`"
### Please describe why this term needs to be added

#### What this term is about? (briefly)
 A firewall is a system present in Network Layer which protects a secure network from an unsecure network. It keeps out all unauthorized traffic.
#### Why this term needs to be added? (briefly)
Firewall is one of the most common terms which people come across while working with a browser even when their co

[2022-03-06 17:31] akshatcoder-hash commented on #372
I would love to simplify this term. Can you please assign it to me? @CathPag

[2022-03-06 17:33] CathPag commented on #372
@akshatcoder-hash, @hitarth01 asked for this 20 days ago. I confirmed but forgot to assign the issue.
@hitarth01, are you still interested in working on this? If not, I'll assign it to @akshatcoder-hash

[2022-03-07 03:04] Krishnamohan-Yerrabilli commented on #423
My apologies @JasonMorgan for not giving an update on this issue, thank you to @CathPag for assigning this issue to another person :) .

[2022-03-07 08:05] mdarmandev commented on #532
@CathPag Can I open issue for new term suggestions while researching about this.

[2022-03-07 08:56] hitarth01 commented on #372
@CathPag yes, you can definitely assign this to @akshatcoder-hash.

[2022-03-07 10:05] karnatisrinivas opened #547 "Identity as a Service"
### Please describe why this term needs to be added

Identity as a service (IDaaS) is a cloud service model which helps in Identity and Access Management.

[2022-03-07 14:40] CathPag commented on #372
Thanks for confirming, @hitarth01! @akshatcoder-hash it's all yours. Please note that we already have a [GitOps definition](https://github.com/cncf/glossary/blob/main/content/en/gitops.md) that needs to be simplified (it's still too technical for this Glossary). Also, make sure to read the [style guide](https://glossary.cncf.io/style-guide/) before getting started.

[2022-03-07 14:45] CathPag commented on #532
Yes, @mdarmandev, if you want to work on a term that doesn't exist or doesn't have an issue yet, you can submit a new issue. The maintainers will assess if it should be part of the Glossary and, if so, assign it to you.

[2022-03-07 17:54] akshatcoder-hash commented on #372
Hey @CathPag , please have a look here.
![image](https://user-images.githubusercontent.com/69577224/157090247-ccd97737-8d45-4038-982f-9c47283dfc73.png)

[2022-03-07 19:54] TheJaySmith commented on #346
I am happy to tackle this

[2022-03-08 10:50] fsbaraglia commented on #423
Hi @CathPag @JasonMorgan , this is the first version  , here the PR : https://github.com/cncf/glossary/pull/552
if you can please have a look, you might find some good improvements

[2022-03-09 11:49] mdarmandev opened #560 "[New term] Content Management System (CMS)"
### Please describe why this term needs to be added

#### What this term is about? (briefly)
- Content Management System commonly known as CMS. CMS is Type of computer software or an application that uses a database to manage all content.
#### Why this term needs to be added? (briefly)
- CMS is most commonly used terms and people come accros when they try to develop sites without the knowledge of

[2022-03-09 17:13] hady68 commented on #364
how can i contribute in this issue ?

[2022-03-09 17:16] hady68 commented on #329
Hi @JasonMorgan  i would like to work on this issue !

[2022-03-09 17:26] CathPag commented on #329
Here you go @hady68, please make sure to read the [style guide](https://glossary.cncf.io/style-guide/) before getting started.

[2022-03-09 17:28] hady68 commented on #329
Sure will do ! thankyou @CathPag

[2022-03-09 17:56] electrocucaracha opened #561 "[Spanish] localize 'Abstraction'"
Localize the `content/en/abstraction.md` document to Spanish

[2022-03-09 17:58] electrocucaracha opened #562 "[Spanish] localize 'Agile Software Development'"
Localize the `content/en/agile_software_development.md` document to Spanish

[2022-03-09 17:59] electrocucaracha opened #563 "[Spanish] localize 'API Gateway'"
Localize the `content/en/api_gateway.md` document to Spanish

[2022-03-09 18:01] electrocucaracha opened #564 "[Spanish] localize 'Application Programming Interface'"
Localize the `content/en/application_programming_interface.md` document to Spanish

[2022-03-09 18:02] electrocucaracha opened #565 "[Spanish] localize 'Autoscaling'"
Localize the `content/en/auto_scaling.md` document to Spanish

[2022-03-09 18:03] electrocucaracha opened #566 "[Spanish] localize 'Bare Metal Machine'"
Localize the `content/en/bare_metal_machine.md` document to Spanish

[2022-03-09 18:04] electrocucaracha opened #567 "[Spanish] localize 'Blue Green Deployment'"
Localize the `content/en/blue_green_deployment.md` document to Spanish

[2022-03-09 18:05] electrocucaracha opened #568 "[Spanish] localize 'Canary Deployment'"
Localize the `content/en/canary_deployment.md` document to Spanish

[2022-03-09 18:06] electrocucaracha opened #569 "[Spanish] localize 'Chaos Engineering'"
Localize the `content/en/chaos_engineering.md` document to Spanish

[2022-03-09 18:07] electrocucaracha opened #570 "[Spanish] localize 'Client-Server Architecture'"
Localize the `content/en/client_server_architecture.md` document to Spanish

[2022-03-09 18:08] electrocucaracha opened #571 "[Spanish] localize 'Cloud Computing'"
Localize the `content/en/cloud_computing.md` document to Spanish

[2022-03-09 18:11] electrocucaracha opened #572 "[Spanish] localize 'Cloud Native Apps'"
Localize the `content/en/cloud_native_apps.md` document to Spanish

[2022-03-09 18:12] electrocucaracha opened #573 "[Spanish] localize 'Cloud Native Security'"
Localize the `content/en/cloud_native_security.md` document to Spanish

[2022-03-09 18:15] electrocucaracha opened #574 "[Spanish] localize 'Cloud Native Technology'"
Localize the `content/en/cloud_native_tech.md` document to Spanish

[2022-03-09 18:16] electrocucaracha opened #575 "[Spanish] localize 'Cluster'"
Localize the `content/en/cluster.md` document to Spanish

[2022-03-09 18:18] electrocucaracha opened #576 "[Spanish] localize 'Container Image'"
Localize the `content/en/container-image.md` document to Spanish

[2022-03-09 18:23] electrocucaracha opened #577 "[Spanish] localize 'Containerization'"
Localize the `content/en/containerization.md` document to Spanish

[2022-03-09 18:24] electrocucaracha opened #578 "[Spanish] localize 'Containers'"
Localize the `content/en/container.md` document to Spanish

[2022-03-09 18:25] electrocucaracha opened #579 "[Spanish] localize 'Containers as a Service'"
Localize the `content/en/containers_as_a_service.md` document to Spanish

[2022-03-09 18:26] electrocucaracha opened #580 "[Spanish] localize 'Continuous Delivery (CD)'"
Localize the `content/en/continuous_delivery.md` document to Spanish

[2022-03-09 18:27] electrocucaracha opened #581 "[Spanish] localize 'Continuous integration (CI)'"
Localize the `content/en/continuous_integration.md` document to Spanish

[2022-03-09 18:28] electrocucaracha opened #582 "[Spanish] localize 'Database as a Service (DBaaS)'"
Localize the `content/en/database_as_a_service.md` document to Spanish

[2022-03-09 18:29] electrocucaracha opened #583 "[Spanish] localize 'Observability'"
Localize the `content/en/observability.md` document to Spanish

[2022-03-09 18:55] akshatcoder-hash commented on #546
@seokho-son , is this assigned to me?
I am ready to contribute

[2022-03-11 11:40] MrErlison commented on #269
Hi, @edsoncelio add content/pt-br/continuous_integration.md

[2022-03-11 12:01] #314 closed

[2022-03-12 19:26] MrErlison commented on #269
Hi @edsoncelio, add content/pt-br/canary_deployment.md for me

[2022-03-12 20:08] MrErlison commented on #269
Hello @edsoncelio add content/pt-br/cloud_native_apps.md for me

[2022-03-13 10:58] seokho-son commented on #546
Hi @akshatcoder-hash This issue is in `triage/awaiting`
Maintainers are assessing the term if the term needs to be included in the CNCF Glossary. If the term is accepted, we will give the `triage/accepted` label to the issue and assign the task to you.

[2022-03-13 15:34] sukanth commented on #374
@CathPag  I can take this one :-)

[2022-03-13 18:20] root21cuib commented on #374
@CathPag I can fix this

[2022-03-14 05:40] AMMAR-62 commented on #446
May I take up this issue?

[2022-03-14 08:04] shambashib20 commented on #364
hey! @CathPag  how can I contribute here? I want to work on this one! Can you guide about how to work on this issue?

[2022-03-14 08:07] shambashib20 commented on #315
Can I work on this issue @CathPag? I already pinged you up for the other issue right there!

[2022-03-14 10:07] iamNoah1 commented on #547
@karnatisrinivas you described what Identity as a Service is, but not why this term needs to be added. Can please state, why you think that the terms is important for the cncf glossary?

[2022-03-14 10:44] CathPag commented on #560
Thanks, @mdarmandev. The Glossary focuses on cloud native terms. CMS is a SaaS product that may be built with cloud native tech but it's not considered cloud native itself. That's why we won't be adding it to the Glossary. I'll go ahead and close this issue.

[2022-03-14 10:45] CathPag commented on #546
@akshatcoder-hash, here you go @akshatcoder-hash. Please make sure to read the [style guide](https://glossary.cncf.io/style-guide/) before getting started.

[2022-03-14 11:00] CathPag commented on #315
@hady68, here you go.

@shambashib20, unfortunately, hady68 claimed the issue before you did. If you claimed another issue, you shouldn't be claiming a new one anyways. We only assigned one issue per person :)

[2022-03-14 11:04] CathPag commented on #315
@hady68, please make sure to read the [style guide](https://glossary.cncf.io/style-guide/) before getting started — that is very important.

[2022-03-14 11:04] CathPag commented on #364
@hady68, as I mentioned to shambashib20 in the other issue, please only claim one issue at a time.

@shambashib20, since hady68 has already claimed an issue, this is yours. Please make sure to read the [style guide](https://glossary.cncf.io/style-guide/) before getting started.

[2022-03-14 11:07] CathPag commented on #374
@root21cuib, let's first get digital certificates merged. The technical approvers might have feedback to work in. Thanks for your patience.

[2022-03-14 11:28] akshatcoder-hash commented on #546
@CathPag , please assign this issue to me so that I can contribute to this.

[2022-03-14 12:51] CathPag commented on #546
Oops, sorry, forgot to do that. It's assigned now :)

[2022-03-14 16:41] electrocucaracha opened #597 "[Spanish] localize 'Data center'"
Localize the `content/en/data_center.md` document to Spanish

[2022-03-14 16:42] electrocucaracha opened #598 "[Spanish] localize 'DevOps'"
Localize the `content/en/devops.md` document to Spanish

[2022-03-14 16:43] electrocucaracha opened #599 "[Spanish] localize 'DevSecOps'"
Localize the `content/en/devsecops.md` document to Spanish

[2022-03-14 16:44] electrocucaracha opened #600 "[Spanish] localize 'Distributed Apps'"
Localize the `content/en/distributed_apps.md` document to Spanish

[2022-03-14 16:45] electrocucaracha opened #601 "[Spanish] localize 'Distributed System'"
Localize the `content/en/distributed_systems.md` document to Spanish

[2022-03-14 16:46] electrocucaracha opened #602 "[Spanish] localize 'Function as a Service (FaaS'"
Localize the `content/en/function_as_a_service.md` document to Spanish

[2022-03-14 16:47] electrocucaracha opened #603 "[Spanish] localize 'GitOps'"
Localize the `content/en/gitops.md` document to Spanish

[2022-03-14 16:48] electrocucaracha opened #604 "[Spanish] localize 'Horizontal Scaling'"
Localize the `content/en/horizontal_scaling.md` document to Spanish

[2022-03-14 16:49] electrocucaracha opened #605 "[Spanish] localize 'Database as a Service (DBaaS)'"
Localize the `content/en/database-as-a-service.md` document to Spanish

[2022-03-14 16:50] electrocucaracha opened #606 "[Spanish] localize 'Infrastructure as a Service (IaaS)'"
Localize the `content/en/infrastructure_as_a_service.md` document to Spanish

[2022-03-14 16:52] electrocucaracha opened #607 "[Spanish] localize 'Infrastructure as Code (IaC)'"
Localize the `content/en/infrastructure_as_code.md` document to Spanish

[2022-03-14 16:57] #583 closed

[2022-03-14 17:05] electrocucaracha opened #608 "[Spanish] localize 'Kubernetes'"
Localize the `content/en/kubernetes.md` document to Spanish

[2022-03-14 17:06] electrocucaracha opened #609 "[Spanish] localize 'Load Balancer'"
Localize the `content/en/load_balancer.md` document to Spanish

[2022-03-14 17:06] jthan24 commented on #607
Yes I do!

[2022-03-14 17:07] electrocucaracha opened #610 "[Spanish] localize 'Loosely Coupled Architecture'"
Localize the `content/en/loosely_coupled_architecture.md` document to Spanish

[2022-03-14 17:09] electrocucaracha opened #611 "[Spanish] localize 'Managed services'"
Localize the `content/en/managed_services.md` document to Spanish

[2022-03-14 17:12] electrocucaracha commented on #598
@krol3 is working on this issue

[2022-03-14 22:39] ohdle opened #613 "[English]: `Virtual Private Cloud (VPC)`"
### 1. Please describe why this term needs to be added

#### What this term is about? (briefly)
- [https://en.wikipedia.org/wiki/Virtual_private_cloud](https://en.wikipedia.org/wiki/Virtual_private_cloud)
#### Why this term needs to be added? (briefly)
- Many engineers working in the cloud-native space are likely to encounter this term in the course of their work, and, although the term may have o

[2022-03-15 04:16] shambashib20 commented on #364
Okay no probs!

[2022-03-15 11:50] AMMAR-62 commented on #613
I am waiting for this issue to be triaged ... I want to work on it

[2022-03-15 12:46] Shivansh-yadav13 commented on #270
Hi, I would like to contribute to **content/hi/blue_green_deployment.md**

[2022-03-15 14:25] mitul3737 commented on #410
Yes you can work on this 😊

[2022-03-15 15:51] anyulled commented on #562
could you please assign this task to me?

[2022-03-15 23:21] jasonsmithio opened #630 "[English] `Event-Driven Architecture`"
### 1. Please describe why this term needs to be added

#### What this term is about? (briefly)
-  Serverless Eventing is essentially binding event sources to their sinks in a declarative manner
#### Why this term needs to be added? (briefly)
- With Knative being added to the CNCF, defining serverless eventing (or just eventing) would be of value as this is what Knative Eventing does

### 2. Check

[2022-03-16 02:42] shambashib20 commented on #364
Yeah, I have already started researching on this one!

[2022-03-16 19:07] krol3 commented on #598
I would like to work on this

[2022-03-18 10:12] iamNoah1 commented on #613
Thanks @ohdle for the suggestion and @AMMAR-62 for being interested to contribute. @AMMAR-62 please make sure to read the [contribution guide](https://glossary.cncf.io/contribute/) :)

[2022-03-18 11:41] CathPag commented on #346
Sorry, just seeing this, @jasonsmithio. If possible, please also ping us in the Slack channel. There are so many issues, it's really difficult to keep track. Are you still interested in this one or would you rather wait for serverless eventing?

[2022-03-18 12:07] iamNoah1 commented on #547
@karnatisrinivas friendly reminder

[2022-03-18 13:18] JasonMorgan commented on #630
@jasonsmithio would you be open to doing simply eventing, or ideally a more fundamental term around event driven architectures? As of right now the glossary is a little light on serverless terms and an entry that talks about the core concepts behind event driven architectures seems important.

Serverless Eventing seems too specific to be added at this time.

[2022-03-18 15:01] jasonsmithio commented on #630
@JasonMorgan good point. `Serverless Eventing` and `Eventing` are similar yet different architectures. However, I agree on doing general and then doing specific definitions. I would be happy to make this an "Event Driven Architecture" definition first

[2022-03-19 04:50] dipankardas011 opened #638 "[English] `Pod`"
### 1. Please describe why this term needs to be added

#### What this term is about? (briefly)
pod inside Kubernetes
#### Why this term needs to be added? (briefly)
as pod term is not yet defined

### 2. Checklist

- [X] There is no existing issue yet. [(shift+click to check existing issues)](https://github.com/cncf/glossary/issues?q=label%3A%22new+term%22)
- [X] I understand that maintainers wil

[2022-03-19 07:10] karnatisrinivas commented on #547
IDaaS makes the accessing easier and more secured. I think Identity is an important asset for Applications. And In the age of increased Data thefts, most enterprises are opting for IDaaS Cloud service to secure their identity governance.
I believe it is also an term that Cloud and Cloud native community needs to be aware of.

[2022-03-19 07:21] karnatisrinivas opened #640 "cgroups and Namespaces"
### 1. Please describe why this term needs to be added

#### What this term is about? (briefly)
Namespaces partitions kernel resources such that one set of processes sees one set of resources while another set of processes sees a different set of resources.

Cgroups allow you to allocate resources — such as CPU time, system memory, network bandwidth, or combinations of these resources — among user

[2022-03-19 09:46] iamNoah1 commented on #630
@jasonsmithio thanks for adding the proposal. I saw that you also created a PR already. In the future, I would like to ask for a little more patience before actually starting. A term has to be accepted for the glossary first (label `triage/accepted` indicated that). Also, make sure to mention the approvers/maintainers in the slack channel and only work on 1 term at a time :)

[2022-03-19 20:51] vish-han commented on #640
I want to work on this issue if the maintainers can assign me the task🚀

[2022-03-20 01:01] karnatisrinivas commented on #640
Hello @vish-han , I opened this issue for new term so that i can work on this. Thanks

[2022-03-20 01:42] jasonsmithio commented on #630
Howdy,

Cool, a bit overzealous on my end.

[2022-03-20 10:09] seokho-son commented on #638
Hi @dipankardas011 :)
I am one of maintainers of the Glossary repository.

This issue is under `triage/awaiting`

So, your PR #639
cannot be reviewed at this moment.

Please wait until the maintainers decides acceptance of this term.

[2022-03-20 11:35] MrErlison commented on #269
Hi @edsoncelio add content/pt-br/cloud_native_security.md

[2022-03-22 04:56] #462 closed

[2022-03-22 13:46] JasonMorgan opened #647 "Feature Request: Update metadata fields"
Hey folks!

I think we should consider updating the term metadata info to include two new fields, related terms and useful links. [This PR](https://github.com/cncf/glossary/pull/636) is attempting to link related terms and I believe it catches an important gap in our definitions. I've also suggested a few times that submitters reference authoritative sources/definitions for some terms. Having the

[2022-03-22 15:53] #561 closed

[2022-03-23 05:33] abh139 commented on #608
Can i work on this

[2022-03-24 01:23] jihoon-seo commented on #647
This would be great 😊

We can refer to K8s website case that uses Hugo shortcode:

[[Markdown code](https://github.com/kubernetes/website/blob/d1ea334a70b59d3b5fb10f26f8c852c7fffd86c4/content/en/docs/setup/_index.md?plain=1#L53-L63)]
[code]

[[Render result](https://kubernetes.io/docs/setup/#what-s-next)]
![image](https://user-images.githubusercontent.com/46767780/159823262-e24be3d0-f034-40bd-8014

[2022-03-24 08:28] iamNoah1 commented on #431
@cnu1812 can you please open a new issue and fill the template correctly, this would help us with further proceeding :) thanks

[2022-03-24 08:28] #431 closed

[2022-03-24 10:09] ikramulkayes commented on #410
Can I work on ```content/bn/auto_scaling.md``` ?

[2022-03-24 11:38] CathPag commented on #640
Hi @karnatisrinivas, thanks for suggesting these terms but I'm afraid they are too Kubernetes specific and belong in the [Kubernetes Glossary](https://kubernetes.io/docs/reference/glossary/?fundamental=true). The cloud native Glossary should focus on broader cloud native terms.

[2022-03-24 11:38] #640 closed

[2022-03-24 11:40] CathPag commented on #638
@dipankardas011, thanks for suggesting this term but I'm afraid it is too Kubernetes specific and belongs in the [Kubernetes Glossary](https://kubernetes.io/docs/reference/glossary/?fundamental=true). The cloud native Glossary should focus on broader cloud native terms.

[2022-03-24 11:40] #638 closed

[2022-03-24 11:50] CathPag commented on #647
@cjyabraham, see above

[2022-03-24 13:46] mitul3737 commented on #410
Sure!

[2022-03-25 02:04] cjyabraham commented on #647
Activating the tagging functionality in the theme would be another way of linking similar terms together:
<img width="281" alt="Screen Shot 2022-03-25 at 9 03 12 AM" src="https://user-images.githubusercontent.com/463160/160040183-7d2be28e-03cb-4780-aea3-c228221d81a2.png">

[2022-03-25 03:48] shambashib20 commented on #445
Can I work on this issue? I have already worked on a pr on Idempotence!

[2022-03-25 13:22] mitul3737 opened #660 "[bn] Localize the style guide for Bengali Documentation"
The file `content/bn/style-guide/_index.md` under `dev-bn` needs to be Localized
Tracking issue: #410

[2022-03-25 13:30] ikramulkayes commented on #660
\assign

[2022-03-26 20:38] MrErlison commented on #269
Hi @edsoncelio add content/pt-br/cloud_native_tech.md

[2022-03-27 05:31] lochanRV commented on #578
I would like to contribute to this

[2022-03-27 15:23] jaynarayan20 commented on #303
i want to work on this issue but can anyone guide me how should i do it as i am new to open source.

[2022-03-28 09:54] #423 closed

[2022-03-28 10:08] #546 closed

[2022-03-29 00:41] #562 closed

[2022-03-29 01:16] Shivansh-yadav13 commented on #470
hello @jihoon-seo, I'm a new contributor here can I contribute by working on this issue.

[2022-03-29 01:43] jihoon-seo commented on #470
@Shivansh-yadav13 Please refer to the PR #519,
and you can add L10n to `dev-xx` that you want to (e.g. `dev-hi`) !

[2022-03-29 01:50] CathPag commented on #445
There you go, @shambashib20 :)

[2022-03-29 01:51] CathPag commented on #445
Actually, hold on @shambashib20. We are still evaluating if this should be part of the glossary.

[2022-03-29 14:35] shambashib20 commented on #445
Is this issue open or I have start to find new issue?

[2022-03-29 14:54] gullapalli9482 commented on #445
It means the decision to have the "operator" term under the glossary is still pending.

[2022-03-29 15:33] anyulled commented on #567
could you assign this to me?

[2022-03-29 15:45] anyulled commented on #568
please assign this to me

[2022-03-30 06:25] shambashib20 commented on #445
Oh okay

[2022-03-30 06:35] jihoon-seo opened #667 "[Update term] `Continuous Delivery` for `Hindi`"
### Please describe why this term needs to be updated

#### Why this term needs to be updated? (briefly)

Current preview: https://deploy-preview-665--cncfglossary.netlify.app/hi/continuous_delivery/

In that page, it would be hard to know that `CD` is the English abbreviation of `Continuous Delivery`.

My suggestion:

[code]

Plus, if needed, we might state that `CI` is the English abbreviation o

[2022-03-30 11:59] CathPag commented on #445
We are currently discussing the boundaries of the glossary and this discussion may have to wait until our next maintainer meeting in a few weeks. It's not easy to establish, so we'll need a little more time. Thanks for your patience!

[2022-03-30 12:10] CathPag commented on #303
Sorry, @jaynarayan20, but @fsbaraglia had asked for it first and was waiting for it to move to accepted.

@fsbaraglia, please note these should be three different terms but all mirror each other and refer to one another as they all belong together. Like CI and CD.

[2022-03-30 12:57] jaynarayan20 commented on #270
is there anything i can help with? i would love to contribute in hindi glossary.

[2022-03-30 13:12] jaynarayan20 commented on #534
i want to contribute to this issue can i take this?

[2022-03-30 13:24] jaynarayan20 opened #668 "[ Typo] in glossary/content/en/contribute/_index.md"
Working on an existing issue ->in  e.g first good issue should be good first issue according to label.
![typo](https://user-images.githubusercontent.com/54346106/160844811-f3807359-dde5-47e2-9c2d-60ad1806528c.jpg)

[2022-03-30 13:25] jaynarayan20 commented on #668
i would like to work  on this if maintainers thinks that this issue is valid.

[2022-03-30 13:57] iamNoah1 commented on #668
Thanks @jaynarayan20, valid point

[2022-03-30 14:03] fharris commented on #269
Hello folks. I would LOVE to join and HELP YOU with the Portuguese definitions!

[2022-03-30 14:04] jaynarayan20 commented on #668
i've worked and fixed this

[2022-03-30 14:04] jaynarayan20 commented on #668
can i create a pull request

[2022-03-30 16:54] fsbaraglia commented on #303
Thank you @CathPag

[2022-03-31 01:14] jihoon-seo commented on #668
@jaynarayan20 I assigned you, and updated labels.
Please open a PR. 😊

[2022-03-31 05:13] verma-kunal opened #670 "[Bug] Topic - "Stateless Apps" missing in the Search filter"
The topic of `Stateless Apps` is missing from the search filter! Therefore, not able to separately access & navigate to the term

https://user-images.githubusercontent.com/72245772/160981106-94f8cb89-241c-470b-ba0b-931604e62282.mov

[2022-03-31 07:13] seokho-son commented on #670
@verma-kunal Thank you for the report!

it is because,

the status of `Stateless Apps` is `Feedback Appreciated`

If the document is not `completed` status, the document is not visible from the sidebar tree and search.

But, `Stateful Apps` doc includes the link to `Stateless Apps` so you could access to the document.

I am not sure why the status of `Stateless Apps` is still `Feedback Appreciated

[2022-03-31 07:54] testsabirweb commented on #270
Hi, I would like to contribute to content/hi/service_mesh.md

[2022-03-31 08:40] verma-kunal commented on #670
Oh, got it! Thanks for clarifying @seokho-son

[2022-03-31 08:40] verma-kunal commented on #670
+1

[2022-03-31 14:00] jaynarayan20 commented on #668
hey @seokho-son  and @iamNoah1  also found another typo on the same page while goinng through it.
![typo2](https://user-images.githubusercontent.com/54346106/161072793-52e1a83d-037d-4f52-88a5-58cb822465b5.jpg)
as you can see in (there are three ways to contribute ) mentioned but following that are actually 4 points.
so is this a valid issue?

[2022-03-31 14:10] seokho-son commented on #668
Hi @jaynarayan20 :)
If typos or bugs are obvious and modifications are simple, you don't have to open Issue. You can open a PR directly. :) The PR will be reviewed anyway. (If suggestion is not simple, I recommend to open an issue and get agreements)

[2022-03-31 14:12] jaynarayan20 commented on #668
@seokho-son so is this a valid issue? can i work on it?

[2022-03-31 15:44] CathPag commented on #668
Yes, for quick updates like this, no issue is required. Issues are only for new terms or major changes. Feel free to submit a PR directly :)

[2022-03-31 15:53] CathPag commented on #668
Great! I'll close this issue since it isn't necessary

[2022-03-31 15:53] #668 closed

[2022-04-01 00:37] CathPag commented on #670
I'm afraid we still haven't been able to get a mergeable definition. See conversation in [this PR](https://github.com/cncf/glossary/pull/430). It's a really tough nut to crack and Jason and I wanted to try to bring it over the finish line ourselves soon. We do need it to go with stateless apps. I'll go ahead and close this issue.

[2022-04-01 00:37] #670 closed

[2022-04-01 05:43] ShankyJS commented on #608
Hey @electrocucaracha please assign me this one.

[2022-04-01 07:02] Shivansh-yadav13 commented on #667
Can I add them?

[2022-04-01 08:06] jihoon-seo commented on #667
I think that it will be good to take the triage process for this issue.

Dear @Shivansh-yadav13 and other Hindi contributors,
if you think that my suggestion makes sense and seems necessary, then please let me know, and I will update the triage status to `accepted`. 😊

[2022-04-02 08:19] fsbaraglia commented on #303
linking to a pull draft request: https://github.com/cncf/glossary/pull/680

[2022-04-02 09:12] anubha-v-ardhan commented on #667
Thanks for pointing these out @jihoon-seo

I've assigned you @Shivansh-yadav13. Thankyou for showing interest

[2022-04-02 16:03] MrErlison commented on #269
Hi @edsoncelio add content/pt-br/data_center.md

[2022-04-04 12:24] imvisp opened #686 "[Update term] Cloud_native_security"
Updating the term Cloud_native_security for Hindi.

The cloud native security term is not updated :
https://github.com/cncf/glossary/tree/main/content/hi

[2022-04-04 20:31] mitul3737 commented on #660
@ikramulkayes  any update on the PR?

[2022-04-04 20:32] mitul3737 commented on #660
Do follow https://github.com/cncf/glossary/blob/dev-hi/content/hi/style-guide/_index.md while localizing.

[2022-04-05 13:40] ikramulkayes commented on #660
\unassign

[2022-04-05 14:09] gdenn commented on #514
@DaveVentura I would like to take this Issue over.

[2022-04-05 16:18] krol3 commented on #610
I would like to help with the translation

[2022-04-05 16:21] krol3 opened #695 "[Spanish] localize 'Portability'"
Localize the content/en/portability.md document to Spanish

[2022-04-05 16:21] krol3 commented on #695
I would like to translate this term.

[2022-04-05 19:19] gdenn commented on #514
@iamNoah1  PR: https://github.com/cncf/glossary/pull/696

[2022-04-05 19:40] gamba47 commented on #563
Please assing this to me.

[2022-04-06 10:09] gdenn opened #701 "[New term] `Container Orchestrator`"
### 1. Please describe why this term needs to be added

#### What this term is about? (briefly)

"Container Orchestrator"

#### Why this term needs to be added? (briefly)

Container Orchestrators like Kubernetes are key technologies in cloud-native app development. We rely on container orchestrators to deploy and maintain (containerized) micro-service architectures with a reasonable effort.

Yet m

[2022-04-06 11:16] iamNoah1 commented on #701
Thanks for the proposal @gdenn. Considering the existing term definitions for CaaS and Kubernetes, didn't we explain what problem container orchestration is solving already? Even though implicitly. Regarding the difference between multi-vm and single host container solutions, I think it does not matter in order to understand what it is about. Also we are trying to avoid talking about concrete prod

[2022-04-06 13:39] gdenn commented on #701
@iamNoah1 you are right, having an entry for Kubernetes and Container Orchestrators is like explaining the same thing twice. I guess it is also difficult to explain K8s without explaining what problem it solves (which is the orchestration of containers).

Still, I think it would be nice to explicitly mention in the Kubernetes definition that K8s is a container orchestrator. That makes it clear to

[2022-04-06 14:30] iamNoah1 commented on #701
agreed.

That's what I meant as I said sharpening the existing terms :). So we would need two follow-up issues, one for the Kubernetes term, explicitly stating that it is a container orchestrator, one for updating CaaS in regards to its connection to k8s, and stating where it fits in the 3 layer model. Right?

[2022-04-06 14:47] gamba47 commented on #564
Please assign it to me!

[2022-04-06 15:00] gamba47 commented on #563
Only needs review

[2022-04-06 15:58] gamba47 commented on #565
Work done!

[2022-04-06 19:53] gdenn opened #706 "[Update term] `CaaS` for `En`"
### Please describe why this term needs to be updated

#### Why this term needs to be updated? (briefly)

As discussed with @iamNoah1 in #701:

we want to adjust the CaaS term to:
1. explicitly mention the connection to k8s.
2. where CaaS fits in the classical three layers of cloud computing (IaaS - PaaS - SaaS).

[2022-04-06 19:55] gdenn commented on #706
@iamNoah1 I can make the adjustments (if you approve).

I would place CaaS in the middle between IaaS and PaaS. I think that makes sense considering that you can deploy PaaS solutions like Cloud Foundry already on top of CaaS solutions like K8s.

What do you think?

[2022-04-06 19:57] gdenn opened #707 "[Update term] `Kubernetes` for `En`"
### Please describe why this term needs to be updated

#### Why this term needs to be updated? (briefly)

As discussed with @iamNoah1  in #701:

We want to explicitly mention that k8s is a container orchestrator. Some people might encounter the term "container orchestrator" in the www. Searching for "container orchestrator" in the CNCF glossary would show Kubernetes as a search result (once we twe

[2022-04-06 19:58] gdenn commented on #707
@iamNoah1 could make the changes herefore too if you aprove.

[2022-04-06 19:58] gdenn commented on #701
Closed in favour of #707 & #706

[2022-04-06 19:58] #701 closed

[2022-04-08 18:18] gdenn commented on #514
made a new PR based on dev-de (and targetting dev-de)

[2022-04-08 20:52] MrErlison commented on #269
Hello @edsoncelio add
- content/pt-br/virtual_machine.md
- content/pt-br/virtualization.md
- content/pt-br/zero_trust_architecture.md

[2022-04-09 13:02] gdenn commented on #707
PR https://github.com/cncf/glossary/pull/719

[2022-04-10 09:32] gdenn commented on #505
@iamNoah1 i would like to work on this if that's ok with you.

[2022-04-10 14:31] smrafy20 commented on #660
/assign

[2022-04-10 19:02] CathPag commented on #707
Hi @gdenn, no need to create an issue for an update...unless it's a huge change maybe. Next time, feel free to go ahead and update the term directly :)

[2022-04-11 05:00] akshatcoder-hash commented on #613
Hey @iamNoah1 I want to work on this term could you please assign it to me?

[2022-04-11 07:57] #707 closed

[2022-04-11 07:59] iamNoah1 commented on #613
I guess @AMMAR-62 was first. @AMMAR-62 do you still want to work on it, or can we assign @akshatcoder-hash?

[2022-04-11 08:00] iamNoah1 commented on #505
there you go :)

[2022-04-12 09:01] jihoon-seo commented on #514
German translation of the term "Cloud Computing" has been added to `dev-de` branch by #711,
and it will be visible on CNCF Glossary website when the commits in `dev-de` branch get merged into `main` branch.

I am hereby closing this issue. 😊

[2022-04-12 09:01] #514 closed, assigned to gdenn

[2022-04-12 10:05] jihoon-seo commented on #379
10 | content/en/devops.md
-- | --

제가 DevOps 하겠습니다~~

[2022-04-12 13:27] SahityaGupta25 opened #727 "[hi] [new term] DevSecOps for Hindi"
### Please describe why this term needs to be added

#### What this term is about? (briefly)
-  DevSecOps stands for development, security, and operations. It's an approach to culture, automation, and platform design that integrates security as a shared responsibility throughout the entire IT lifecycle
#### Why this term needs to be added? (briefly)
- This term to be Entered in Hindi Language beca

[2022-04-12 14:03] Shivansh-yadav13 opened #728 "[hi] Translate `Microservices` into `Hindi`"
- Microservices localization for Hindi needs to be added.
- https://glossary.cncf.io/microservices/
- https://glossary.cncf.io/hi/microservices/

[2022-04-12 17:11] #609 closed, assigned to krol3

[2022-04-12 19:21] christianhuening commented on #507
i'd like to work on this, please assign it to me

[2022-04-12 19:22] CathPag commented on #507
Here you go :)

[2022-04-12 20:58] christianhuening commented on #507
Opened a PR to the `dev-de` branch: https://github.com/christianhuening/glossary/pull/1

[2022-04-13 06:33] ohdle commented on #517
I'd like to work on this issue, thanks.

[2022-04-13 08:24] antaloala opened #736 "Canary Deployment - improvement in "CNCF glossary" definition"
I think [current definition of "Canary Deployment" in CNCF glossary](https://glossary.cncf.io/canary_deployment/) is not totally right due to the current starting sentence:

``Canary deployments is a deployment strategy that starts with two environments: one with live traffic and the other containing the updated code without live traffic``

That sentence could be understood as starting with two ``

[2022-04-13 16:11] SahityaGupta25 commented on #728
@Shivansh-yadav13 are you working on this issue??

[2022-04-13 16:18] Shivansh-yadav13 commented on #728
@SahityaGupta25 not working on it rn you can make a pr 🙂

[2022-04-14 02:01] jihoon-seo commented on #727
@SahityaGupta25 We can assign you one term at a time, so please choose the term that you want to translate for this time, between [`DevSecOps`](https://github.com/cncf/glossary/issues/727) and [`Microservices`](https://github.com/cncf/glossary/issues/728). 😊

[2022-04-14 04:21] starlightknown commented on #736
I would like to work on this issue

[2022-04-14 04:42] starlightknown opened #741 "[hi] Translate `Blue Green Deployment` into `Hindi`"
- Blue Green Deployment localization for Hindi needs to be added.
- https://glossary.cncf.io/blue_green_deployment/

[2022-04-14 05:18] jihoon-seo commented on #379
08 | content/en/containerization.md
-- | --

Containerization 하겠습니다~~

[2022-04-14 07:36] seokho-son commented on #736
Hi @antaloala Thanks for your interest in the CNCF Glossary Project!
Your proposal is being considered by admins and glossary approvers :)
Please wait for triage.

Hello @starlightknown :)
I assume the author of this issue (@antaloala) is willing to work on this issue.
If not, you can be assigned. Anyway we need to triage this issue. :)

[2022-04-14 07:56] jihoon-seo commented on #379
02 | content/en/cloud_native_apps.md
-- | --

Cloud Native Apps 하겠습니다~~

[2022-04-14 09:17] jihoon-seo commented on #379
09 | content/en/service_mesh.md
-- | --

Service Mesh 하겠습니다~~

[2022-04-14 09:48] jihoon-seo commented on #379
conf | content/en/contribute/_index.md
-- | --

제가 하겠습니다~~

[2022-04-14 10:18] Shivansh-yadav13 commented on #741
hello @starlightknown, I have created a PR https://github.com/cncf/glossary/pull/632 can you review it.

[2022-04-14 14:00] SahityaGupta25 commented on #728
Sure Let me  Solve that First Issue after than I will work on this.

[2022-04-14 21:39] CathPag commented on #364
Hi @neelshah2409, I'm sorry but this is already done. We forgot to close the issue so I will do so now.

[2022-04-14 21:39] #364 closed

[2022-04-15 02:45] jihoon-seo commented on #379
conf | content/en/style-guide/_index.md
-- | --

제가 하겠습니다~~

[2022-04-15 06:30] seokho-son commented on #379
https://github.com/cncf/glossary/blob/main/content/en/contributor-ladder/_index.md 도 추가하면 좋을 것 같습니다. :)

[2022-04-15 08:12] SahityaGupta25 commented on #727
DevSecOps ready & in few hours I will merge it.

[2022-04-15 13:10] JasonMorgan commented on #736
Looks good!

[2022-04-15 13:13] JasonMorgan commented on #547
Lets close this and circle back once we have IDP defined.

[2022-04-15 13:13] #547 closed

[2022-04-15 13:15] JasonMorgan commented on #534
Ok so we have [this](https://kubernetes.io/docs/concepts/architecture/cri/) definition in the k8s docs. @TarekMSayed can you take a look and see if you still think the glossary needs an independent definition?

Thanks!

[2022-04-15 13:31] MrErlison commented on #269
Hi @edsoncelio add
- content/pt-br/TLS(Transport Layer Security).md
- content/pt-br/versioncontrol.md
- content/pt-br/vertical_scaling.md

[2022-04-16 05:37] bishal7679 commented on #318
Hey! I would like to work on this issue
can you assign it to me @CathPag  @JasonMorgan

[2022-04-16 09:13] gdenn commented on #508
@iamNoah1 würde ich sehr gerne als nächstes machen. Kannst du mir das issue assignen?

[2022-04-16 10:39] anubha-v-ardhan commented on #741
@starlightknown Sorry but we'll have to close this PR as this term is already localized and under review on #632. To avoid conflicts like this, please always make an issue first and wait for maintainers triage before starting to work

[2022-04-16 10:39] #741 closed

[2022-04-16 10:40] anubha-v-ardhan commented on #270
Closing this issue as we don't have plans to use this anymore and we're doing the traditional make issue -> wait for triage -> make PR way

[2022-04-16 10:40] #270 closed

[2022-04-16 10:50] cjyabraham opened #755 "Search isn't language specific"
When you search for a word it shows all pages on the whole site that have that word. This isn't great as it can list pages from different languages. It'd be ideal if the search only returns results for the particular language the user is in.

[2022-04-16 10:54] cjyabraham opened #756 "Search doesn't work for foreign words"
Currently the search is powered by lunr and [language support](https://lunrjs.com/guides/language_support.html) isn't activated. Lunr doesn't support Hindi, so it would never work for that language, even if we were to activate it for all other languages.

We should research a different search tool so that we can search across all foreign languages.

Currently I am evaluating [Algolia](https://www.

[2022-04-17 07:28] SahityaGupta25 commented on #728
**Thank You @anubha-v-ardhan  for Assigning me this Task.**

[2022-04-17 07:45] SahityaGupta25 commented on #686
Anybody Working on this Issue.

[2022-04-17 07:47] imvisp commented on #686
Yes, I'm working on this

My exams are going on that's why i have put this on hold, from tomorrow will start working on this again.

[2022-04-17 07:50] SahityaGupta25 commented on #686
@imvisp  ok

[2022-04-17 10:03] TarekMSayed commented on #534
Yes, @JasonMorgan I think so since the definition in k8s docs is not generic enough it is very related to Kubernetes and how Kublete interacts with the CRI but does not explain it clearly. Also, I believe it does not suit the non-tech reader requirements.
Thanks

[2022-04-17 15:01] luizgribeiro commented on #269
Hi @edsoncelio could you assign `content/pt-br/serverless.md` to me please?

Cheers

[2022-04-18 11:36] #535 closed

[2022-04-18 11:39] #452 closed

[2022-04-18 11:41] #365 closed

[2022-04-18 11:44] CathPag commented on #327
@Asmit2952, I'll open this PR up again since it's been assigned to you over a month ago and we haven't seen any PR yet. If you have been working on something and were about to submit, please let me know and I'll reassign it to you.

[2022-04-18 11:45] CathPag commented on #317
@Anujakumari, I'll open this PR up again since it's been assigned to you over in February and we haven't seen any PR yet.

[2022-04-18 11:46] CathPag commented on #315
@hady68, I'll open this issue up again since it's been assigned to you over a month and we haven't seen any PR yet. If you have been working on something and were about to submit, please let me know and I'll reassign it to you.

[2022-04-18 11:48] CathPag commented on #345
@Poobalan1210, I'll open this issue up again since it's been assigned to you over a month and we haven't seen any PR yet. If you have been working on something and were about to submit, please let me know and I'll reassign it to you.

[2022-04-18 11:49] CathPag commented on #250
@JasonMorgan will try to bring this one over the finish line.

[2022-04-18 13:04] Asmit2952 commented on #327
Hey @CathPag , I was busy with university exams. I'm almost done with them. I will start working on this as soon as possible. Please reassign this issue to me.

[2022-04-18 13:36] CathPag commented on #327
ok, there you go

[2022-04-18 13:52] starlightknown opened #764 "[hi] Translate `Firewall` into `Hindi`"
localization of `Firewall` into Hindi
- https://glossary.cncf.io/firewall/

[2022-04-18 18:55] #563 closed

[2022-04-19 02:37] #566 closed

[2022-04-19 03:30] ShankyJS commented on #575
Hey @electrocucaracha after K8s is merged please assign me this one.

[2022-04-19 07:58] #470 closed

[2022-04-19 13:57] CathPag commented on #534
The term should not be Kubernetes specific but rather explain the term more generally.

[2022-04-19 14:18] CathPag commented on #445
This term is too close to operator pattern (#446) and one term is enough for the glossary.

[2022-04-19 14:18] #445 closed

[2022-04-19 16:22] #608 closed

[2022-04-20 01:44] cjyabraham opened #767 "Add tags"
Activate the tagging feature in docsy. Ideally these tags will go on top of the categories.

[2022-04-20 07:55] jihoon-seo opened #769 "Update Chinese lang ID: `zh` → `zh-cn`"
Recently, Docsy has renamed language 'zh' to 'zh-cn'.
(Ref: https://github.com/google/docsy/pull/832)

And after [updating Docsy](https://github.com/kubernetes/website/pull/32906) used by [kubernetes/website repo](https://github.com/kubernetes/website),
this causes some issues (like [this](https://github.com/kubernetes/website/issues/33002), and so on..).

To resolve this, [Qiming Teng](https://gi

[2022-04-20 08:29] seokho-son commented on #769
Hi @cjyabraham
Do you have a plan to update Docsy theme version ? :)
If we update it, we need to apply the issue raised by @jihoon-seo

[2022-04-20 08:36] cjyabraham commented on #769
I'm not planning it, however, it makes sense to update it if we want to take advantage of any updates and new features. So I think this issue is a good idea to get ahead of the directory change.

[2022-04-20 14:27] abh139 commented on #764
I wanna work on this

[2022-04-20 15:08] starlightknown commented on #764
@abh139 @Shivansh-yadav13 yep I'll be working on it

[2022-04-20 15:52] octonawish-akcodes opened #771 "[hi] Localize `Cluster.md` in `Hindi`"
Localization of **Cluster.md** file in Hindi
[cncf/glossary/blob/main/content/en/cluster.md](url)

[2022-04-20 16:03] abh139 commented on #771
Okay

[2022-04-21 12:39] cjyabraham commented on #767
Here are the design options from Gareth:
<img width="971" alt="glossary1" src="https://user-images.githubusercontent.com/463160/164459707-ff0aaf93-81dc-4ef4-a5ae-a715eb06363c.png">
<img width="971" alt="glossary2" src="https://user-images.githubusercontent.com/463160/164459733-f197f1dc-6ca9-489a-85e0-e6e189e09f11.png">

[2022-04-21 18:46] ohdle commented on #515
I would like to work on this issue.

[2022-04-22 12:51] MrErlison commented on #269
Hi @edsoncelio for this weekend add these files to me
- content/pt-br/stateless_apps.md
- content/pt-br/tightly_coupled_architectures.md
- content/pt-br/stateful_apps.md

[2022-04-22 17:46] octonawish-akcodes opened #779 "[hi] Localize `load_balancer` in `Hindi`"
### Please describe why this term needs to be added

Localizing load balancer term in hindi.

[2022-04-23 14:03] CathPag commented on #767
@cjyabraham, I updated the order of the tags. Fundamentals and Advanced should come first, then Technology, Property or Concept, and then the rest — thank you!!

1. Fundamentals
2. Advanced
3. Technology
4. Property
5. Concept
6. Application
7. Infrastructure
8. Architecture
9. Networking
10. Data
11. Security
12. Platform
13. Analytics
14. Methodology

[2022-04-23 21:06] CathPag commented on #767
I would 100% go with pink. It needs to pop so people see it.

[2022-04-24 11:17] cjyabraham commented on #756
Algolia has created [an index for the Glossary site](https://www.algolia.com/apps/ZVS6RE9DZU/dashboard?).

[2022-04-25 03:05] Shivansh-yadav13 opened #788 "[hi] Localize `Nodes.md`in `Hindi`"
- I would like to Localize Nodes.md
- https://glossary.cncf.io/hi/nodes/

[2022-04-25 15:55] #567 closed

[2022-04-26 11:55] jthan24 commented on #607
I was create a PR:
https://github.com/cncf/glossary/pull/791

[2022-04-26 11:56] jthan24 commented on #569
I will be work in this!! Can you assign me, please!

[2022-04-26 12:00] jthan24 commented on #569
In branch `origin/dev-es` doesn't exist a `chaos_engineering.md` file

[2022-04-26 14:13] CathPag opened #792 "Add "Related terms" section to template"
If a term is highly related to others, we should add a "Please also refer to" section. See [Continuous Delivery](https://glossary.cncf.io/continuous_delivery/) as an example. That section should be part of the template as "if applicable."

[2022-04-26 14:44] electrocucaracha commented on #569
@jthan24 that's the main idea, you have to create the `content/es/chaos_engineering.md` from `content/en/chaos_engineering.md` in a new PR based on `dev-es` branch

[2022-04-26 15:47] Shivansh-yadav13 commented on #667
@jihoon-seo we can close this now?

[2022-04-26 22:33] anubha-v-ardhan commented on #667
fixed with #681

[2022-04-26 22:33] #667 closed

[2022-04-26 22:52] anubha-v-ardhan commented on #764
Thankyou @starlightknown. I've assigned you :)

[2022-04-27 07:08] hanyuancheung commented on #769
On behalf of the Chinese team, I agree to change the branch name as suggested!

[2022-04-27 23:12] jihoon-seo opened #797 "Update 'How to Contribute', to start from and target to `dev-xx` when localizing"
It would be great to update 'How to Contribute', to start from and target to `dev-xx` branch when doing l10n tasks.

[2022-04-27 23:55] jihoon-seo opened #799 "Rename improper markdown filenames"
In 'How to Contribute', we guide contributors to set markdown filename with this rule:

As a result of guidance and compliance of contributors, most of markdown filenames are being appropriate.

But there exist some exceptions, so I suggest to rename those.

I am suggesting this because our focus should be on awareness and getting people to use and **reference the terms** (borrowing @CathPag's wor

[2022-04-28 06:55] #506 closed

[2022-04-29 07:57] #507 closed

[2022-04-29 08:04] Stuti-mishra commented on #792
I'd like to work on this. Kindly assign me this.

[2022-04-29 13:22] CathPag commented on #792
Sure, here you go, @Stuti-mishra. We should actually call it "Related terms" instead. Could you also update the terms that have that implemented? >> CI/CD and vertical/horizontal scaling/autoscaling.

[2022-04-30 06:26] Stuti-mishra commented on #792
Yep! I'll update the terms that have already implemented it