[2022-04-30 07:30] Stuti-mishra commented on #799
I'd like to work on this issue if it still open

[2022-04-30 07:43] Stuti-mishra commented on #792
Kindly ignore the above pr it was redundant, I've merged the 2 patches in #808 itself

[2022-04-30 14:56] Asmit2952 commented on #327
Hey @CathPag is it fine if we change the term to orchestration rather than orchestrator? Orchestration involves the entire process while orchestrator is just a tool required for orchestration.

[2022-04-30 23:07] edsoncelio opened #813 "[Portuguese] Localize 'Kubernetes'"
Localize https://glossary.cncf.io/kubernetes/

[2022-04-30 23:14] edsoncelio opened #814 "[Portuguese] Localize 'Chaos Engineering'"
Localize https://glossary.cncf.io/chaos-engineering/

[2022-04-30 23:14] edsoncelio opened #815 "[Portuguese] Localize 'Container as a Service'"
Localize https://glossary.cncf.io/containers_as_a_service/

[2022-04-30 23:14] edsoncelio opened #816 "[Portuguese] Localize 'Continous Deployment'"
Localize https://glossary.cncf.io/continuous-deployment/

[2022-04-30 23:14] edsoncelio opened #817 "[Portuguese] Localize 'Database as a Service'"
Localize https://glossary.cncf.io/database_as_a_service/

[2022-04-30 23:14] edsoncelio opened #818 "[Portuguese] Localize 'Debugging'"
Localize https://glossary.cncf.io/debugging/

[2022-04-30 23:14] edsoncelio opened #819 "[Portuguese] Localize 'DevSecOps'"
Localize https://glossary.cncf.io/devsecops/

[2022-04-30 23:14] edsoncelio opened #820 "[Portuguese] Localize 'Distributed Apps'"
Localize https://glossary.cncf.io/distributed_apps/

[2022-04-30 23:16] edsoncelio opened #821 "[Portuguese] Localize 'Distributed Systems'"
Localize https://glossary.cncf.io/distributed-systems/

[2022-04-30 23:16] edsoncelio opened #822 "[Portuguese] Localize 'Firewall'"
Localize https://glossary.cncf.io/firewall/

[2022-04-30 23:22] edsoncelio opened #823 "[Portuguese] Localize 'GitOps'"
Localize https://glossary.cncf.io/gitops/

[2022-04-30 23:22] edsoncelio opened #824 "[Portuguese] Localize 'Horizontal Scaling'"
Localize https://glossary.cncf.io/horizontal_scaling/

[2022-04-30 23:22] edsoncelio opened #825 "[Portuguese] Localize 'Idempotence'"
Localize https://glossary.cncf.io/idempotence/

[2022-04-30 23:22] edsoncelio opened #826 "[Portuguese] Localize 'Imutable Infrastructure'"
Localize https://glossary.cncf.io/immutable-infrastructure/

[2022-04-30 23:26] edsoncelio opened #827 "[Portuguese] Localize 'Infrastructure as a Service'"
Localize https://glossary.cncf.io/infrastructure-as-a-service/

[2022-04-30 23:26] edsoncelio opened #828 "[Portuguese] Localize 'Infrastructure as a Code'"
Localize https://glossary.cncf.io/infrastructure_as_code/

[2022-04-30 23:26] edsoncelio opened #829 "[Portuguese] Localize 'Load Balancer'"
Localize https://glossary.cncf.io/load_balancer/

[2022-05-01 10:09] jihoon-seo commented on #799
@CathPag
- Actually, I am okay with either one (hyphen vs. underscore), as long as there exists consistency among filenames,
  and what I am suggesting in this issue is to bring this consistency to existing markdown filenames.
  - cf. Kubernetes website is using hyphens for this purpose.
    (e.g. https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/ )
- Currently, most of existing

[2022-05-01 22:22] jihoon-seo commented on #797
#777 is relevant with this issue.

[2022-05-03 07:49] antaloala commented on #736
Thanks @JasonMorgan and @seokho-son for putting hands on this (and sorry a lot for being silent).

[2022-05-03 13:36] #792 closed

[2022-05-04 18:13] prabin-acharya opened #834 "[New term] Trunk based Development"
### 1. Please describe why this term needs to be added

#### What this term is about? (briefly)
- Trunk-based Development is a  development practice where developers merge small, frequent updates to a core “trunk” or main branch.
#### Why this term needs to be added? (briefly)
- Trunk-based Development is a popular development practice and helps achieve CI/CD.

### 2. Checklist

- [X] There is no

[2022-05-07 07:34] Jacob953 opened #845 "[zh] Localize 'abstraction'"
- [ ] Localize the content/en/abstraction.md to content/zh/ in dev-zh.

[2022-05-07 15:43] Jacob953 opened #849 "[zh] Localize 'agile_software_development'"
- [ ] Localize the content/en/agile_software_development.md to content/zh/ in dev-zh.

[2022-05-07 15:44] Jacob953 opened #850 "[zh] Localize 'api_gateway'"
- [ ] Localize the content/en/api_gateway.md to content/zh/ in dev-zh.

[2022-05-07 15:44] Jacob953 opened #851 "[zh] Localize 'application_programming_interface'"
- [ ] Localize the content/en/application_programming_interface.md to content/zh/ in dev-zh.

[2022-05-07 15:45] Jacob953 opened #852 "[zh] Localize 'auto_scaling'"
- [ ] Localize the content/en/auto_scaling.md to content/zh/ in dev-zh.

[2022-05-07 15:46] Jacob953 opened #853 "[zh] Localize 'bare_metal_machine'"
- [ ] Localize the content/en/bare_metal_machine.md to content/zh/ in dev-zh.

[2022-05-07 15:46] Jacob953 opened #854 "[zh] Localize 'chaos_engineering'"
- [ ] Localize the content/en/chaos_engineering.md to content/zh/ in dev-zh.

[2022-05-07 15:47] Jacob953 opened #855 "[zh] Localize 'client_server_architecture'"
- [ ] Localize the content/en/client_server_architecture.md to content/zh/ in dev-zh.

[2022-05-07 15:48] Jacob953 opened #856 "[zh] Localize 'continuous_deployment'"
- [ ] Localize the content/en/continuous_deployment.md to content/zh/ in dev-zh.

[2022-05-07 15:48] Jacob953 opened #857 "[zh] Localize 'database_as_a_service'"
- [ ] Localize the content/en/database_as_a_service.md to content/zh/ in dev-zh.

[2022-05-07 15:49] Jacob953 opened #858 "[zh] Localize 'debugging'"
- [ ] Localize the content/en/debugging.md to content/zh/ in dev-zh.

[2022-05-07 15:49] Jacob953 opened #859 "[zh] Localize 'devsecops'"
- [ ] Localize the content/en/devsecops.md to content/zh/ in dev-zh.

[2022-05-07 15:50] Jacob953 opened #860 "[zh] Localize 'firewall'"
- [ ] Localize the content/en/firewall.md to content/zh/ in dev-zh.

[2022-05-07 15:51] Jacob953 opened #861 "[zh] Localize 'function_as_a_service'"
- [ ] Localize the content/en/function_as_a_service.md to content/zh/ in dev-zh.

[2022-05-07 15:51] Jacob953 opened #862 "[zh] Localize 'gitops'"
- [ ] Localize the content/en/gitops.md to content/zh/ in dev-zh.

[2022-05-07 15:52] Jacob953 opened #863 "[zh] Localize 'horizontal_scaling'"
- [ ] Localize the content/en/horizontal_scaling.md to content/zh/ in dev-zh.

[2022-05-07 15:52] Jacob953 opened #864 "[zh] Localize 'idempotence'"
- [ ] Localize the content/en/idempotence.md to content/zh/ in dev-zh.

[2022-05-07 15:53] Jacob953 opened #865 "[zh] Localize 'immutable_infrastructure'"
- [ ] Localize the content/en/immutable_infrastructure.md to content/zh/ in dev-zh.

[2022-05-07 15:54] Jacob953 opened #866 "[zh] Localize 'infrastructure_as_a_service'"
- [x] Localize the content/en/infrastructure_as_a_service.md to content/zh/ in dev-zh.

[2022-05-07 15:54] Jacob953 opened #867 "[zh] Localize 'infrastructure_as_code'"
- [ ] Localize the content/en/infrastructure_as_code.md to content/zh/ in dev-zh.

[2022-05-08 12:32] ikramulkayes commented on #410
I want to work on ```canary_deployment.md```

[2022-05-08 14:46] mitul3737 commented on #410
Yes, you can work with that @ikramulkayes .

[2022-05-10 14:15] jihoon-seo commented on #799
@Stuti-mishra Let me handle this. :)

[2022-05-10 14:17] seokho-son commented on #834
Hi @prabin-acharya
I am one of maintainers of this repository.
In a maintainers' meeting, we decided not to include the term you suggested because the term is not highly (directly) related with cloud native technology and seems to a broad concept for development. If we include this term, we eventually need to include terms for other development practices which make the Glossary project cover too b

[2022-05-11 00:48] jihoon-seo commented on #769
Resolved by #869.

[2022-05-11 00:48] #769 closed

[2022-05-11 06:33] jihoon-seo opened #880 "The order of topnav items is different for each language"
I just noticed that the the order of topnav items is different for each language.
I guess that those items are displayed in the alphabetical order of each language.

[en]: the items are in the English alphabetical order.
![image](https://user-images.githubusercontent.com/46767780/167782141-851d281f-3c08-4b87-ad38-23daa73234ff.png)

[ko]: the items are in the Korean alphabetical order.
![image](htt

[2022-05-11 07:09] seokho-son commented on #880
@jihoon-seo Thanks for suggestion.
However, I am not sure it is worth to rearrange.
Is it important? To me, alphabetical ordering seems ok.
But, why not, we can apply your suggestion. :)

[2022-05-11 07:09] #834 closed

[2022-05-11 21:44] edsoncelio opened #887 "[Portuguese] Update definitions from original content to dev-pt"
## Issue to track the changes in the branch `dev-pt` compared to `main` branch
Last update: 14 August 2022

https://github.com/cncf/glossary/issues/887#tasklist-block-0f504d5d-19bf-4f6c-ad4c-e28ee97fba6d

[2022-05-12 02:59] jihoon-seo commented on #799
[Memo]

- Regex expression that might be useful: `\(\/[a-zA-Z]+_[a-zA-Z_/]+\)`
- Things that would be great to be handled in one single PR:
  - Rename markdown filenames
  - Update relevant links
  - Add semantic line breaks (for English and Korean)
  - Insert empty lines before and after the header lines.

[2022-05-12 08:49] JIANGYU-14 commented on #867
acknowledge

[2022-05-12 08:50] JIANGYU-14 commented on #852
acknowledge

[2022-05-12 08:50] JIANGYU-14 commented on #854
acknowledge

[2022-05-12 08:51] JIANGYU-14 commented on #863
acknowledge

[2022-05-12 20:17] mkorbi commented on #516
I'm taking that

[2022-05-14 09:15] mitul3737 commented on #660
This issue has been resolved #750

[2022-05-14 09:15] #660 closed

[2022-05-14 09:22] Anddd7 commented on #866
acknowledge

[2022-05-14 13:26] Anddd7 commented on #850
acknowledge

[2022-05-15 12:43] Anddd7 commented on #647
Is that possible to implement Bi-Directional linking (like roam research) on metadata (or inner link), so that people can explore the related terms through a term. (then graph view??)

e.g.
![image](https://user-images.githubusercontent.com/24785373/168473454-9bde34dd-c900-43a6-b413-e778917e9745.png)

[2022-05-15 16:03] Shivansh-yadav13 opened #894 "[hi] Localize `Database as a Service (DBaaS)`"
- https://glossary.cncf.io/database_as_a_service/

[2022-05-16 19:47] #850 closed

[2022-05-18 01:39] JIANGYU-14 opened #899 "[zh] Localize 'vertical_scaling'"
Localize the content/en/vertical_scaling.md to content/zh/ in dev-zh.

[2022-05-18 01:40] JIANGYU-14 commented on #899
Localize the content/en/vertical_scaling.md to content/zh/ in dev-zh.

[2022-05-18 04:58] #866 closed

[2022-05-19 21:35] JunchengL commented on #860
acknowledge

[2022-05-20 14:14] Anddd7 commented on #851
acknowledge

[2022-05-22 10:52] JunchengL commented on #861
acknowledge

[2022-05-23 02:14] hanyuancheung opened #906 "[zh] Change `scalability` into `可伸缩性`"
### Please describe why this term needs to be updated

#### Why this term needs to be updated? (briefly)

Distinguish word between Extention & Scalability.
- `Extention` equals "可扩展性"
- `Scalability` equals "可伸缩性"

Affect: #902 #897 #904

From: #902

[2022-05-23 02:20] hanyuancheung opened #907 "[zh] Unify Category in different terms."
### Please describe why this term needs to be updated

#### Why this term needs to be updated? (briefly)

- Category in different terms are not unified yet, which exist both eng and zh at the same time.
- Pls unify the Category part at each term's beginning.

[2022-05-23 02:23] JIANGYU-14 commented on #906
https://github.com/cncf/glossary/blob/main/content/zh-cn/scalability.md

This needs to be addressed as well

[2022-05-23 09:06] JunchengL commented on #865
acknowledge

[2022-05-23 10:59] sumit-158 commented on #894
Hi , @Shivansh-yadav13 can I work on this if yes, could you let me know what exactly I have to do?

[2022-05-24 09:50] sistella opened #909 "Wrong links in language menu for some terms"
I have spotted some terms that are not localized yet, to have the language available in the context menu. For those, the link is the root page, rather then the term's one.
e.g Service
<img width="1511" alt="image" src="https://user-images.githubusercontent.com/56387955/170003368-16a4e553-bde5-47a6-b284-6a32f107a87b.png">
Horizontal Scaling
<img width="1511" alt="image" src="https://user-images.git

[2022-05-24 12:41] sumit-158 commented on #779
can I work on this? @abh139 @Garima-Negi

[2022-05-25 07:09] CathPag commented on #647
@Anddd7, thanks for your suggestion. Let us discuss this during the next maintainer meeting and get back to you.

[2022-05-26 09:16] Anddd7 commented on #849
acknowledge

[2022-05-27 01:11] jihoon-seo commented on #909
I guess that this is the default behavior of Docsy that we are using now, when none of languages other than the default language (English) has the translated version of English one.
(cf. https://kubernetes.io/docs/reference/kubernetes-api/policy-resources/resource-quota-v1/ )

@sistella If you have some suggestion for this, could you share with us? 😊

---

For anyone's information:
if we want to c

[2022-05-27 18:25] huats opened #915 "Initiate French Localization Team"
# This issue is to initiate a new l10n Team

Please only use this template for submitting a new l10n team initiation requests.

See https://github.com/cncf/glossary/blob/main/LOCALIZATION.md for basic requirements for a new l10n team.

---

### (1) The language and language code for l10n
Find localization's two-letter language code from [ISO 639-1 standard](https://www.loc.gov/standards/iso639-2/p

[2022-05-30 13:53] anderseknert opened #918 "[New term] `Policy as Code`"
### 1. Please describe why this term needs to be added

#### What this term is about? (briefly)
Policy as Code

#### Why this term needs to be added? (briefly)
Policy is an important component of cloud-native applications, and having it defined in the same declarative manner that describes the other components required by the application (e.g. infrastructure, resource manifests, etc) provides a nu

[2022-05-31 05:58] LENSHOOD commented on #864
PTAL

[2022-05-31 10:30] iamNoah1 commented on #327
Hi @Asmit2952 and thank you for your patience. After having some discussions we decided to rename `Orchestrator` to `Container Orchestration`. Regarding issue #701, our conclusion is to remove CaaS and Kubernetes as single terms and just mention them in the `Container Orchestration` term. Feel free to ask if something is still not clear.

[2022-06-01 11:07] iamNoah1 commented on #527
#920

[2022-06-01 11:12] iamNoah1 commented on #534
@JasonMorgan friendly ping ;)

[2022-06-01 15:49] Asmit2952 commented on #327
So, I think instead of writing about `Orchestrator`, I need to write about `Container Orchestration`?

[2022-06-02 04:26] CristianFrancisco85 commented on #581
I would like to make the traduction 👀👀

[2022-06-02 06:08] CristianFrancisco85 commented on #581
I have a question about the use of CI abbreviation in Spanish

It should be traduced like IC (Integración Continua) or stay as CI?

[2022-06-02 07:23] electrocucaracha commented on #581
Hi @CristianFrancisco85, usually this kind of questions are discussed in our [weekly meetings](https://go.rael.dev/k8s-sig-docs-es-meetings), but for now I think that you can leave it as CI. We can refine it later during the review process.

[2022-06-03 07:43] seokho-son commented on #915
Hi @huats
I created [#glossary-localization-french](https://cloud-native.slack.com/archives/C03JHQ02FCH) channel in the CNCF Slack.
Please join and invite volunteers :)

[2022-06-03 07:49] seokho-son commented on #915
Regarding `dev-fr` development branch,
I can create `dev-fr` branch immediately. But, since we expect a lot of changes in `main` branch soon, we'd better to postpone create `dev-fr` until #922 . So, please wait :)

In the meantime, you can discuss how to operate French localization team :)

[2022-06-03 07:52] seokho-son commented on #915
`lang/fr` is the label for French ! ;)

https://github.com/cncf/glossary/labels/lang%2Ffr

[2022-06-03 12:08] huats commented on #915
Terrific. Thanks a lot for your help and actions.
We will then wait for the creation of the  `dev-fr` branch.

[2022-06-03 13:08] mitul3737 commented on #410
@ikramulkayes , @Mouly22 , @smrafy20 , @MahibulHaque and everyone. Kindly check out the file names. The markdown filename format has been changed. We will use "-" instead of "_"

[2022-06-04 07:33] iamNoah1 opened #925 "Add Related Terms to all existing Term definitions"

[2022-06-04 08:06] Anddd7 commented on #906
acknowledge, i will raise a PR to refine exising translation

[2022-06-04 08:07] Anddd7 commented on #849
PR has been merged, please close this issue @Jacob953

[2022-06-04 22:00] akshatcoder-hash commented on #532
Hey @CathPag ! I would love to work on this issue. Could you please assign this to me?

[2022-06-06 03:54] #849 closed

[2022-06-06 11:24] Shivansh-yadav13 commented on #894
@sumit-158 are you working on it?

[2022-06-06 13:50] #706 closed

[2022-06-07 01:51] JIANGYU-14 commented on #856
ack

[2022-06-07 01:51] JIANGYU-14 commented on #859
ack

[2022-06-07 01:51] JIANGYU-14 commented on #862
ack

[2022-06-07 13:43] CathPag commented on #918
Apologies for the delay, @anderseknert. This term was accepted. Please let me know if you still want to work on it and I'll assign it to you.

[2022-06-07 13:46] CathPag commented on #532
The maintainers reviewed this term and came to the conclusion that it doesn't meet the requirements to be added to the glossary. I'll go ahead and close this issue.

[2022-06-07 13:48] CathPag commented on #367
Apologies for the delay, but this term no longer meets the requirements to be included in the cloud native glossary. I will go ahead and close this issue.

[2022-06-07 13:48] #367 closed

[2022-06-07 13:49] CathPag commented on #345
The maintainers have reviewed this term and determined that it doesn't meet the criteria to be included in the Glossary. I'll go ahead and close this issue.

[2022-06-07 13:51] CathPag commented on #329
The maintainers have reviewed this term and determined that it doesn't meet the criteria to be included in the Glossary. I'll go ahead and close this issue.

[2022-06-07 13:55] anderseknert commented on #918
No worries @CathPag 🙂 I'd be happy to work on it later this week, so please assign it to me!

[2022-06-07 14:32] #899 closed

[2022-06-07 16:26] 92nqb commented on #603
I would like to translate this term

[2022-06-07 21:54] ramrodo commented on #570
@electrocucaracha I would like to work on this one

[2022-06-08 13:33] CathPag commented on #613
Since we haven't gotten a response from @AMMAR-62, do you want to work on this @akshatcoder-hash? Provided you have no other issue assigned that I'm not aware of.

[2022-06-08 13:40] akshatcoder-hash commented on #613
Sure @CathPag ! I would love to work on it.

[2022-06-08 13:55] CathPag commented on #613
There you go :)

[2022-06-08 14:37] CathPag commented on #613
This term has been approved for the glossary so next step is defining it

[2022-06-08 21:45] 92nqb opened #931 "Visualization bug in navbar-lang-selector"
### The current behavior:

When a user clicks on the language selector in the navigation bar, it is displayed partially hidden in some languages.

<img width="717" alt="Screenshot 2022-06-08 at 09 49 54" src="https://user-images.githubusercontent.com/9283164/172722237-40b4afe7-e438-4f93-8dc0-1d2f40fc357d.png">

### The expected behavior:

The language selector in the navigation bar is displayed we

[2022-06-09 04:15] #931 closed

[2022-06-09 07:57] Asmit2952 commented on #327
Cool, I'll work on it as soon as I am done with university stuff

[2022-06-09 08:46] Anddd7 commented on #855
acknowledge

[2022-06-09 09:45] imvisp commented on #686
How can I start again ?, There was some problem in my privious pr

[2022-06-13 14:08] #517 closed

[2022-06-13 22:43] jihoon-seo opened #937 "[bn] Update header text"
Replace

[code]

in
- `content/bn/application-programming-interface.md` (ref: https://github.com/cncf/glossary/commit/4e4b8811f022b1b718d0a3a473812c08dc658a58)
- `content/bn/cloud-native-tech.md` (ref: https://github.com/cncf/glossary/commit/dbd2aa9f6485644bd8a90e1a45257f1d581fc06f)

Note:
- It would be great to contain changes for those 2 files in **one single commit**, not in multiple commits.

[2022-06-14 00:09] #799 closed

[2022-06-14 16:34] ramrodo commented on #572
@electrocucaracha I would like to work on this one

[2022-06-14 18:13] iamNoah1 commented on #508
@gdenn friendly ping. Wie siehts aus? arbeitest du daran oder sollen wir es wieder unassignen?

[2022-06-15 00:57] #855 closed

[2022-06-15 13:14] Submarinee commented on #857
I have localized this file.

[2022-06-15 13:15] #857 closed

[2022-06-16 03:18] Superskyyy opened #946 "[zh] Localize 'observability'"
In many cases, we translate observability as "可观测性", but I see that on the existing terms pages (e.g. [here](https://glossary.cncf.io/zh-cn/cloud-native-apps/)) we referred to the observability term as "可观察性 ", which do you guys prefer?

I personally prefer "可观测性“ as Apache SkyWalking & Open Telemetry CN-docs both prefer this translation (Otel docs got some inconsistency), and I believe its genear

[2022-06-17 01:06] Anddd7 commented on #946
"可观测性" +1

[2022-06-17 01:07] Anddd7 commented on #851
PR has been merged, pls close this issue~

[2022-06-17 01:08] Anddd7 commented on #845
ack

[2022-06-17 03:46] #845 closed

[2022-06-17 04:13] #867 closed

[2022-06-17 04:14] #863 closed

[2022-06-17 04:14] #860 closed

[2022-06-17 04:14] #854 closed

[2022-06-17 04:14] #852 closed

[2022-06-17 04:22] #851 closed

[2022-06-17 04:22] #864 closed

[2022-06-17 07:20] Jacob953 commented on #946
Plz go ahead. ;)

[2022-06-17 07:54] Jacob953 opened #948 "[zh] Localize 'loosely_coupled_architecture'"
- [ ] Localize the content/en/loosely_coupled_architecture.md to content/zh-cn/ in dev-zh.

[2022-06-17 07:55] Jacob953 opened #949 "[zh] Localize 'immutable_infrastructure'"
- [ ] Localize the content/en/immutable_infrastructure.md to content/zh-cn/ in dev-zh.

[2022-06-17 07:56] Jacob953 opened #950 "[zh] Localize 'stateless_apps'"
- [ ] Localize the content/en/stateless_apps.md to content/zh-cn/ in dev-zh.

[2022-06-17 07:56] Jacob953 opened #951 "[zh] Localize 'service_discovery'"
- [ ] Localize the content/en/service_discovery.md to content/zh-cn/ in dev-zh.

[2022-06-17 07:57] Jacob953 opened #952 "[zh] Localize 'TLS(Transport Layer Security)'"
- [ ] Localize the content/en/TLS(Transport Layer Security).md to content/zh-cn/ in dev-zh.

[2022-06-17 07:58] Jacob953 opened #953 "[zh] Localize 'bare_metal_machine'"
- [ ] Localize the content/en/bare_metal_machine.md to content/zh-cn/ in dev-zh.

[2022-06-17 07:59] Jacob953 opened #954 "[zh] Localize 'function_as_a_service'"
- [ ] Localize the content/en/function_as_a_service.md to content/zh-cn/ in dev-zh.

[2022-06-17 07:59] Jacob953 opened #955 "[zh] Localize 'policy_as_code'"
- [ ] Localize the content/en/policy_as_code.md to content/zh-cn/ in dev-zh.

[2022-06-17 08:00] Jacob953 opened #956 "[zh] Localize 'devsecops'"
- [ ] Localize the content/en/devsecops.md to content/zh-cn/ in dev-zh.

[2022-06-17 08:00] Jacob953 opened #957 "[zh] Localize 'self_healing'"
- [ ] Localize the content/en/self_healing.md to content/zh-cn/ in dev-zh.

[2022-06-17 08:01] Jacob953 opened #958 "[zh] Localize 'continuous_deployment'"
- [ ] Localize the content/en/continuous_deployment.md to content/zh-cn/ in dev-zh.

[2022-06-17 08:02] Jacob953 opened #959 "[zh] Localize 'managed_services'"
- [ ] Localize the content/en/managed_services.md to content/zh-cn/ in dev-zh.

[2022-06-17 08:02] Jacob953 opened #960 "[zh] Localize 'versioncontrol'"
- [ ] Localize the content/en/versioncontrol.md to content/zh-cn/ in dev-zh.

[2022-06-17 08:03] Jacob953 opened #961 "[zh] Localize 'tightly_coupled_architectures'"
- [ ] Localize the content/en/tightly_coupled_architectures.md to content/zh-cn/ in dev-zh.

[2022-06-17 08:04] Jacob953 opened #962 "[zh] Localize 'shift_left'"
- [ ] Localize the content/en/shift_left.md to content/zh-cn/ in dev-zh.

[2022-06-17 08:04] Jacob953 opened #963 "[zh] Localize 'observability'"
- [ ] Localize the content/en/observability.md to content/zh-cn/ in dev-zh.

[2022-06-17 08:05] Jacob953 opened #964 "[zh] Localize 'mTLS (Mutual Transport Layer Security)'"
- [ ] Localize the content/en/mTLS (Mutual Transport Layer Security).md to content/zh-cn/ in dev-zh.

[2022-06-17 08:05] Jacob953 opened #965 "[zh] Localize 'site_reliability_engineering'"
- [ ] Localize the content/en/site_reliability_engineering.md to content/zh-cn/ in dev-zh.

[2022-06-17 08:06] Jacob953 opened #966 "[zh] Localize 'portability'"
- [ ] Localize the content/en/portability.md to content/zh-cn/ in dev-zh.

[2022-06-17 08:06] Jacob953 opened #967 "[zh] Localize 'software_as_a_service'"
- [ ] Localize the content/en/software_as_a_service.md to content/zh-cn/ in dev-zh.

[2022-06-17 08:07] Jacob953 opened #968 "[zh] Localize 'service'"
- [ ] Localize the content/en/service.md to content/zh-cn/ in dev-zh.

[2022-06-17 08:07] Jacob953 opened #969 "[zh] Localize 'stateful_apps'"
- [ ] Localize the content/en/stateful_apps.md to content/zh-cn/ in dev-zh.

[2022-06-17 08:08] Jacob953 opened #970 "[zh] Localize 'security_chaos_engineering'"
- [ ] Localize the content/en/security_chaos_engineering.md to content/zh-cn/ in dev-zh.

[2022-06-17 08:09] Jacob953 opened #971 "[zh] Localize 'debugging'"
- [ ] Localize the content/en/debugging.md to content/zh-cn/ in dev-zh.

[2022-06-17 08:09] Jacob953 opened #972 "[zh] Localize 'nodes'"
- [ ] Localize the content/en/nodes.md to content/zh-cn/ in dev-zh.

[2022-06-17 08:10] #971 closed

[2022-06-17 08:11] Jacob953 commented on #971
Repeated

[2022-06-17 08:11] Jacob953 commented on #958
Repeated

[2022-06-17 08:11] #958 closed

[2022-06-17 08:12] Jacob953 commented on #953
Repeated

[2022-06-17 08:12] #953 closed

[2022-06-17 08:12] Jacob953 commented on #954
Repeated

[2022-06-17 08:13] Jacob953 commented on #956
Repeated

[2022-06-17 08:13] #956 closed

[2022-06-17 08:13] Jacob953 commented on #949
Repeated

[2022-06-17 08:13] #949 closed

[2022-06-17 13:27] CathPag commented on #317
We reviewed this issue and, since it doesn't meet the cloud native definition, we will not include this in the glossary.

[2022-06-17 13:27] #317 closed

[2022-06-21 13:13] Submarinee opened #984 "[English] modify the content in database_as_a_service.md"
The origin text in database_as_a_service.md is:

The [cloud](/cloud_computing/)  actually links to cloud_computing doc.
Do we need to update [cloud](/cloud_computing/)  to  [cloud computing](/cloud_computing/) ?

[2022-06-22 09:16] Jacob953 opened #986 "[en] `auto_scaling` for `en`"
### 1. Please describe why this term needs to be updated

#### Why this term needs to be updated? (briefly)
- Did not follow the template. https://github.com/cncf/glossary/blob/main/content/en/auto-scaling.md

### 2. Checklist

- [X] I understand that maintainers will confirm if the term should be updated. (Please be patient)
- [X] I want to work on this suggestion. (If not checked, maintainers wi

[2022-06-22 12:22] CathPag commented on #315
After some consideration, the maintainers couldn't determine if this term should be included in the Glossary per our new guidelines (terms must meet the [cloud native definition](https://github.com/cncf/toc/blob/main/DEFINITION.md) or be a foundational term to understand it). For that reason, we will not include this term until we have found a good reason to do so.

[2022-06-22 12:22] #315 closed

[2022-06-23 02:14] jihoon-seo commented on #986
@Jacob953 Thank you for the suggestion, but
please see [this](https://github.com/cncf/glossary/pull/627#issuecomment-1067889634):

I'll go ahead and close this issue. Again thank you for pointing out! 😊

[2022-06-23 02:14] #986 closed

[2022-06-23 02:18] Jacob953 commented on #986
Sry for the careless in searching. I'll take care next time. )

[2022-06-23 13:22] jihoon-seo commented on #630
This issue has been resolved by #637 and #976.
@jasonsmithio thank you for your hard work and devotion!

[2022-06-23 13:22] #630 closed

[2022-06-23 16:51] Superskyyy commented on #963
https://github.com/cncf/glossary/issues/946 ACK :)

[2022-06-24 09:39] Anddd7 commented on #972
ack

[2022-06-24 12:53] CathPag commented on #613
@akshatcoder-hash, are you still interested in working on this term?

[2022-06-24 12:56] CathPag commented on #327
@Asmit2952, do you still want to work on this?

[2022-06-24 12:58] CathPag commented on #303
According to our new guidelines, this term does not meet the criteria for the glossary. I'll go ahead and close this issue.

[2022-06-24 12:58] #303 closed

[2022-06-24 14:11] #527 closed

[2022-06-24 20:41] akshatcoder-hash commented on #613
Hey @CathPag , I was busy in my exams. I'll update the term by tomorrow. Sorry for the delay.

[2022-06-25 08:47] Asmit2952 commented on #327
Created a PR. Sorry for delaying this, was busy with university stuff. Thank you for your patience.

[2022-06-25 15:48] jaynarayan-vaishnav commented on #984
I think the "cloud" suits perfectly well for this Explanation instead of "cloud computing"  grammatically.

[2022-06-25 20:54] devsachinsharma commented on #937
Can i please take up this issue?

[2022-06-25 21:03] jihoon-seo commented on #937
@devsachinsharma please go ahead!
And please make sure that you branch off from & set merge target as the `dev-bn` branch, not `main` branch. 😊

[2022-06-25 21:39] devsachinsharma commented on #937
Ok sure.Thank you

[2022-06-25 23:09] devsachinsharma commented on #937
Hey @jihoon-seo i'm a beginner at contributing and i have no idea what i did wrong can you please guide me.Thank you.

[2022-06-26 01:10] devsachinsharma commented on #937
I think i did all the changes. Can you please elaborate what I need to do? Thank you.

[2022-06-26 01:38] devsachinsharma commented on #970
Can i work on this issue?

[2022-06-26 02:50] Jacob953 commented on #970
Of course. Please go ahead!

[2022-06-26 02:51] #972 closed

[2022-06-27 06:22] cjyabraham commented on #756
We have switched to Google Custom Search, which solves this problem.

[2022-06-27 06:22] #756 closed

[2022-06-27 13:33] Petrie commented on #858
I'll work on this, please assign to me. @Jacob953

[2022-06-27 17:06] sarkartanmay393 commented on #373
Hello @CathPag, Have we still had this issue? I can't see the load balancer definition page.

[2022-06-27 17:59] sarkartanmay393 commented on #373
Hello @CathPag, I am Tanmay Sarkar, new to CNCF community. I would like to work on it.

[2022-06-28 05:44] seokho-son commented on #984
Hi @Submarinee
Thank you for the suggestion ! :)

I am one of the maintainers of this repo. I think most of people can understand the context with `cloud` without complete words `cloud computing`.

So, I hope to close this issue if you agree with it.

[2022-06-28 08:59] Submarinee commented on #984
Thanks for all your comments. I agree with you.

[2022-06-28 08:59] #984 closed

[2022-06-28 11:26] octonawish-akcodes opened #1005 "[hi] Localize `Cloud computing`"
### Please describe why this term needs to be added

I want to localize cloud computing term to hindi localization.

[2022-06-28 11:27] abh139 commented on #1005
/assign

[2022-06-28 12:14] CathPag commented on #373
Hi @sarkartanmay393, sure. [Here's the PR](https://github.com/cncf/glossary/pull/651/files) that was closed. The "what it is section" is pretty much good to go. The feedback on the other two sections might be interesting to read as well as you work on this.

[2022-06-28 13:28] CathPag opened #1006 "Website updates: Tags"
@cjyabraham, as discussed over Slack, ideally, we'd want three different tag styles:

- Fundamentals or advanced
- Tech/concept/property
- The rest

Each tag type tells us a little bit about that word. We could use the style we have now + a lighter version of the same pink + a ghost button style. Generally, it would go from bold to ghost but I feel that the latter category tag should be the full-c

[2022-06-28 17:19] sarkartanmay393 commented on #937
Hello @devsachinsharma and @jihoon-seo, is this issue still present?  I would like to help.

[2022-06-28 17:53] sarkartanmay393 commented on #410
Hello @mitul3737, I would like to work on `content/bn/kubernetes.md`.

[2022-06-28 22:34] tinniaru3005 commented on #318
Hey @CathPag , I would like to work on this issue. Could you please assign it to me?

[2022-06-29 04:33] Saber382 commented on #410
Hey @mitul3737 , I would like to work on `content/bn/api-gateway.md`

[2022-06-29 04:33] mitul3737 commented on #410
@Saber382 , yes you can

[2022-06-29 05:20] mitul3737 commented on #937
@sarkartanmay393  You can work with the `content/bn/devops` file

[2022-06-29 12:24] CathPag commented on #318
Sure, here you go. Please make sure to read the [style guide](https://glossary.cncf.io/style-guide/) before getting started.

[2022-06-29 16:04] tinniaru3005 commented on #318
Sure. Thanks for assigning. I am going through the documents and the project. Will update you in 2 to 3 days about the progress. I am getting started with contributing. Could you please suggest to me a platform where I can ask my doubts in case I get stuck?

[2022-06-29 22:05] sarkartanmay393 commented on #937
Hello, @mitul3737 I have created a PR with header texts fixed in `devops` and `api` file.

[2022-06-29 22:07] sarkartanmay393 commented on #410
@mitul3737 I pushed `kubernetes` file and created a PR for it.

[2022-06-29 22:27] ramrodo commented on #573
I would like to work on this one @electrocucaracha

[2022-06-30 06:20] devsachinsharma opened #1013 "[hi] `Kubernetes` for `Hindi`"
### Please describe why this term needs to be added

#### What this term is about? (briefly)
- It is a container orchestrator engine. It helps in deploying and managing containerized applications.
#### Why this term needs to be added? (briefly)
- This term needs to be added because it manages containers and also self repairs them. So it is a very important term.
#### Languages that use this term?

[2022-06-30 07:43] abh139 commented on #1005
/assign

[2022-06-30 07:44] abh139 commented on #1005
Don't we have the self assign system, @jihoon-seo

[2022-06-30 08:00] jihoon-seo commented on #1005
@abh139 it seems that we don't have a self assign system.

BTW, it seems that you are already assigned to another issue: #771.

We can assign you one term at a time, so if you want to work on this, please unassign yourself from the issue #771,
or please resolve #771 and then you might be able to be assigned on this.

[2022-06-30 16:55] devsachinsharma commented on #1013
Can I be assigned to this term?

[2022-07-01 14:01] pratik2315 commented on #1013
Hey there @devsachinsharma! I am kinda new here, just trying to understand this community. I had a question for you😅
If I am correct this issue is targeted to provide an Hindi translation for the [this](https://glossary.cncf.io/kubernetes/) "Kubernetes" section in the glossary website.
Will you then be working upon the translating the whole section or just some bits of it?🤔

[2022-07-01 17:25] matheuspaes commented on #825
Hi @edsoncelio, I would like to work on this term translation.

[2022-07-01 19:39] Vrashabh-Sontakke opened #1026 "[Update term] DevOps En"
### 1. Please describe why this term needs to be updated

#### The definition for DevOps doesn't seen enough.

### 2. Checklist

- [X] I understand that maintainers will confirm if the term should be updated. (Please be patient)
- [X] I want to work on this suggestion. (If not checked, maintainers will assign another volunteer)

### (Note)

Maintainers will assign a label after assessment procedur

[2022-07-01 19:47] Vrashabh-Sontakke opened #1028 "[New term] ssl"
### 1. Please describe why this term needs to be added

#### What this term is about? (briefly)
- The term is about ssl (Secure Socket Layer)
#### Why this term needs to be added? (briefly)
-  It's listed in the wordslist.txt and missing form the website

### 2. Checklist

- [X] The suggested term fits the [cloud native definition](https://github.com/cncf/toc/blob/main/DEFINITION.md) or is essenti

[2022-07-01 22:40] edsoncelio commented on #825
Done!

[2022-07-02 07:08] sarkartanmay393 commented on #410
Hey @mitul3737, can you assign me VM localization page ?

[2022-07-02 07:10] sarkartanmay393 commented on #937
Hello @jihoon-seo, This issue is closed, isn't it?

[2022-07-02 07:29] mitul3737 commented on #937
Yes, @sarkartanmay393 but you can surely contribute from this Tracking issue #410

[2022-07-02 07:30] #937 closed

[2022-07-02 07:31] mitul3737 commented on #410
@sarkartanmay393 are you talking about this one ` content/bn/virtual-machine.md` ?

[2022-07-02 07:43] sarkartanmay393 commented on #410
Yes yes. Assign it to me.

[2022-07-02 07:56] mitul3737 commented on #410
@sarkartanmay393 Yes, you can work with that. But it is suggested to mention the file name as such `content/bn/virtual-machine.md` . Don't forget to mention the file name when you localize files from next 😉

[2022-07-02 07:58] mitul3737 commented on #410
@sarkartanmay393 have you joined the slack channel for Bengali Localization yet? Do join the slack ,if you have not. The links are mentioned in the Tracking issue

[2022-07-02 09:52] arunkarthicknm commented on #1028
Can I work on this issue please? :)

[2022-07-02 10:05] Vrashabh-Sontakke commented on #1028
@arunkarthicknm currently the issue is in triage/waiting status, and btw I created this issue #1028 to work on it myself. You can refer the wordslist.txt where you can find usused terms.

[2022-07-02 14:59] MrErlison commented on #823
Hi @edsoncelio I would like to work on this issue.

[2022-07-02 15:13] Omkar0114 opened #1030 "[New term] `Docker` for `hindi`"
### Please describe why this term needs to be added

#### What this term is about? (briefly)
-  Docker is a container platform that allows you to build, test and deploy applications quickly.
#### Why this term needs to be added? (briefly)
- Using docker can help you ship your code faster, and gives you control over your applications. You can deploy your applications on containers that make it easi

[2022-07-02 20:22] AmanSarraf commented on #1030
I want to work on this issue

[2022-07-03 13:28] Omkar0114 opened #1032 "Updating the wordlist folder with the new word"

[2022-07-03 13:48] Omkar0114 commented on #1032
Made PR #1033

[2022-07-03 17:51] sarkartanmay393 commented on #410
Hey @mitul3737 , I have created a new PR for `content/bn/virtual_machine.md`, check that out.

[2022-07-04 01:26] tinniaru3005 commented on #318
Hey. Thanks for assigning the issue to me. But I regret to inform you that currently, I am unable to give sufficient time to solve the issue. So I am unassigning myself.  I hope that's not a problem. Maybe I can contribute later when I have my breaks going on. :)

[2022-07-04 06:13] bishal7679 opened #1035 "[hi] Localize `Version Control` for `Hindi`"
### Please describe why this term needs to be updated

#### Why this term needs to be updated? (briefly)
-  Localizing this term in hindi will help hindi folks to learn about this term in their native language
- link - https://glossary.cncf.io/version-control/

[2022-07-04 06:14] #1035 closed

[2022-07-04 06:18] bishal7679 opened #1036 "[hi] Localize `Version Control` for `Hindi`"
### Please describe why this term needs to be added

#### What this term is about? (briefly)
-  Source control (or version control) is the practice of tracking and managing changes to a document. It is a system that records changes to a file or set of files over time so that you can recall specific versions later.

#### Why this term needs to be added? (briefly)
- Localizing this term in hindi wil

[2022-07-04 07:58] Santosh1176 opened #1038 "[New term] Add `gRPC` to Glossary"
### 1. Please describe why this term needs to be added

#### What this term is about? (briefly)
- is a modern open source high-performance Remote Procedure Call (RPC) framework that can run in any environment.
#### Why this term needs to be added? (briefly)
- Many CNCF projects use gRPC to connect a large number of microservices. It generates cross-platform client and server bindings for many lang

[2022-07-04 09:45] jihoon-seo commented on #1036
Hello @bishal7679
I think it would be great if one of Hindi L10n team approvers (@Garima-Negi @sayantani11 @anubha-v-ardhan @jayesh-srivastava) assign you (or someone else) for working on Hindi L10n jobs.

[2022-07-04 11:45] iamNoah1 commented on #1032
@Omkar0114 We need you to follow the intended process here :) You opened an issue without using any template. This makes it harder for the maintainers to process such an issue. Also, you opened a PR before the issue got accepted.

[2022-07-04 15:35] bishal7679 commented on #1036
Yes Please Can anyone assign me
@Garima-Negi @anubha-v-ardhan @sayantani11 @jayesh-srivastava

[2022-07-04 16:21] Omkar0114 commented on #1032
Okay. But this issue is not related to any template so I opened a blank issue! So what should I do now? Should I close the PR now then?

[2022-07-04 19:02] devsachinsharma commented on #1013
@pratik2315 the whole section.

[2022-07-04 23:12] jthan24 commented on #599
Me!! Please!!

[2022-07-05 00:51] edsoncelio opened #1040 "[Portuguese] Add tags to the localized terms"
Each definition file in `content/pt-br` needs to contain a field called `tags:[]` based in the original content from `content/en`.
This issue is to update all the files in `content/pt-br`, you can see an example [here](https://github.com/cncf/glossary/blob/main/content/en/abstraction.md?plain=1#L5).

**Ps.:** The tags should be translated to Portuguese as well.

[2022-07-05 01:05] anacunha commented on #1040
@edsoncelio should we translate the tags as well or no?

Based on the example you gave:

a) `tags: ["architecture", "", ""]`
b) `tags: ["arquitetura", "", ""]`

[2022-07-05 01:11] edsoncelio commented on #1040
Good question as I think yes but to confirm I'll check with the other's team's.

[2022-07-05 02:55] anubha-v-ardhan commented on #1036
Thankyou @bishal7679 :)

[2022-07-05 08:30] iamNoah1 commented on #1032
If this issue is not related to any template, it may be an indicator that is not needed at all :) I would say we do not need that right now. Updating the wordlist is only needed if the definition for a term contains a word that is not common and not included in the wordlist yet.

[2022-07-05 08:30] #1032 closed

[2022-07-05 12:21] edsoncelio commented on #1040
I was looking in this PR https://github.com/cncf/glossary/pull/1037 from Korean team looks like we should translate the tags too  @anacunha :)

[2022-07-05 16:01] Omkar0114 commented on #1032
Okay, Thanks a lot for suggesting :)

[2022-07-05 16:10] Vrashabh-Sontakke opened #1045 "[New term] `SSL`"
### 1. Please describe why this term needs to be added

#### What this term is about? (briefly)
- The term is about SSL (Secure Socket Layer)
#### Why this term needs to be added? (briefly)
- It's listed in the wordslist.txt and missing form the website

### 2. Checklist

- [X] The suggested term fits the [cloud native definition](https://github.com/cncf/toc/blob/main/DEFINITION.md) or is essentia

[2022-07-05 16:38] anacunha commented on #1040
PR submitted.

Here's the proposed translation for the existing tags:

- `application` - aplicação
- `architecture` - arquitetura
- `fundamentals` - fundamentos
- `infrastructure` - infraestrutura
- `methodology` - metodologia
- `networking` - redes
- `platform` - plataforma
- `security` - segurança

[2022-07-05 18:08] bishal7679 commented on #1036
@anubha-v-ardhan @jihoon-seo Can you tell me what is happening here
When I am making a PR from my branch `hi-version-control` to `dev-hi` it is taking all the commits of everyone in my PR that made before.
please help me out
![Screenshot (170)](https://user-images.githubusercontent.com/70086051/177389317-e03e1d18-31e3-44d1-9f49-a13635eb88e0.png)

[2022-07-05 19:04] #572 closed

[2022-07-05 19:05] #603 closed

[2022-07-05 19:05] #606 closed

[2022-07-05 19:05] #570 closed

[2022-07-05 19:47] Garima-Negi commented on #1030
this term docker is is not in the English glossary . please check: https://glossary.cncf.io/
the localization effort takes these finalized terms from the english glossary and then proceeds to localize. in this case  docker isn't in the glossary hence cannot be in the Hindi glossary.
feel free to pick up another missing term that doesn't have a open issue/pr though

[2022-07-05 19:47] #1030 closed

[2022-07-05 23:39] anubha-v-ardhan commented on #1036
@bishal7679 I believe the branch `hi-version-control` on your fork is branched from `main` which is causing this issue. Since `dev-hi` is not on par with `main`, `hi-version-control` carries all the changes on `main` when you make a PR from `hi-version-control` to `main`.

The best solution in my opinion is to make the working branch on your fork from `dev-hi`. As a general rule, always make your

[2022-07-06 02:46] Petrie commented on #858
Resolved by https://github.com/cncf/glossary/pull/1044

[2022-07-06 02:50] edsoncelio opened #1048 "[Portuguese] Translate i18n strings to use tags"
Translate the i18n strings to Portuguese to fix this error below when we have tags:
<img width="481" alt="image" src="https://user-images.githubusercontent.com/5833278/177455804-e8c6e6ac-8fb1-40e8-8f36-eee584c48938.png">

You can see [here](https://github.com/cncf/glossary/blob/971043e3baac61c86124885465a2e0876cc8a03a/i18n/en.toml#L21) the strings that need to be translated.

The translated string

[2022-07-06 02:52] Petrie commented on #948
I'll work on this, pls assign to me @Jacob953

[2022-07-06 03:13] #858 closed

[2022-07-06 04:09] Omkar0114 commented on #1030
Okay. Sure @Garima-Negi Thanks for helping out :)

[2022-07-08 08:56] musaprg opened #1052 "The custom search uses old indexes"
Hi, I found that several search index data were old and didn't reflect the actual path format. ref) https://github.com/cncf/glossary/pull/922

For example, currently `Shift Left` page is on `/shift-left`, but the search result links to `/shift_left`.

[2022-07-08 12:57] #373 closed

[2022-07-08 13:18] CathPag commented on #1026
The way this works is the issue must be accepted and assigned first, then you work on the PR. Since the PR was closed, I'll close this too.

[2022-07-09 03:13] Petrie commented on #961
Hi  @Jacob953 , pls assign this to me. I translated it along with `lossely coupled architectures`
#948

[2022-07-09 15:42] sarkartanmay393 commented on #410
Hey @mitul3737 I would like to work on `content/bn/microservices.md` also.

[2022-07-09 19:28] mitul3737 commented on #410
@sarkartanmay393 yes, you can

[2022-07-10 13:20] MrErlison commented on #823
PR #1057 created.

Please, look closely at these parts
- "...enable automation to reconcile a declared system state..."
- "...configuration drift..."

[2022-07-10 13:50] MrErlison commented on #828
Hi @edsoncelio assign it to me.

[2022-07-10 13:51] MrErlison commented on #828
New local https://glossary.cncf.io/infrastructure-as-code/

[2022-07-10 13:56] Petrie commented on #961
Resolved by #1054

[2022-07-10 13:57] Petrie commented on #948
resolved by #1053

[2022-07-10 14:04] Petrie commented on #951
Assign this to me, Thanks.

[2022-07-10 14:05] Petrie commented on #960
Assign this to me, Thanks.

[2022-07-11 01:48] jihoon-seo commented on #1052
@musaprg Thank you for filing this issue!

It seems that this is because Google Search cache is not up-to-date for some pages of CNCF Glossary website.

For me for now,
when visiting https://glossary.cncf.io/search/?q=Shift%20Left ,
![image](https://user-images.githubusercontent.com/46767780/178173097-de8e7d35-b714-4aca-bb82-15f49838519e.png)

- Up-to-date indexes
  - https://glossary.cncf.io/shif

[2022-07-11 03:04] cjyabraham commented on #1052
I can submit urls for "priority indexing" through Google Search Console, however, there's a daily quota of urls I can submit, which I've now hit. I have, however, just submitted [the sitemap](https://glossary.cncf.io/sitemap.xml) to GSC so that should also have an effect.

Note [this recent change I made](https://github.com/cncf/glossary/commit/1d6e12a2a9e7f9c8b1b7381f0646043b96336c14) broke the s

[2022-07-11 11:08] iamNoah1 commented on #346
@wafi981 thanks for your interest. I think @jasonsmithio wanted to work on this initially. Jason do you still want to do it or can we assign it to @wafi981?

[2022-07-11 11:11] iamNoah1 commented on #515
@ohdle oops, somehow this comment got lost :) Are you already in the slack channel?

[2022-07-11 16:39] Shivansh-yadav13 opened #1063 "[hi] Localize `Infrastructure as Code` in Hindi"
- https://glossary.cncf.io/infrastructure-as-code/

[2022-07-11 17:10] devsachinsharma commented on #1013
@anubha-v-ardhan  @jayesh-srivastava  @Garima-Negi  @sayantani11  can someone please assign me to this topic.

[2022-07-11 19:08] gdenn opened #1064 "[New term] `Edge Computing`"
### 1. Please describe why this term needs to be added

#### What this term is about? (briefly)

Edge computing is a form of computing that happens outside of cloud systems. Edge computing utilizes so called "edge devices" that are physical devices located outside of cloud infrastructure premises.

#### Why this term needs to be added? (briefly)

Edge computing can contribute to cloud systems by e

[2022-07-12 01:25] ohdle commented on #515
@iamNoah1 , I am in the slack channel but haven't been able to participate much recently and unfortunately currently no longer have time to work on this localization.

[2022-07-12 07:44] iamNoah1 commented on #515
kk @ohdle thanks for the info

[2022-07-12 12:40] Omkar0114 opened #1067 "[New term] `Debugging` for `Hindi`"
### Please describe why this term needs to be added

#### What this term is about? (briefly)
- Debugging is the process of finding & resolving bugs(errors) from a computer program, software, or system to get the desired result.
#### Why this term needs to be added? (briefly)
- Localizing this term in `Hindi` will help `Hindi` folks learn about this term in their native language.

Link here:- https

[2022-07-12 12:47] Omkar0114 commented on #1067
I would like to work on this term. Anyone can review it and can assign it to me? :)
@Garima-Negi @sayantani11 @anubha-v-ardhan @jayesh-srivastava

[2022-07-13 05:05] bishal7679 commented on #1005
@Garima-Negi @anubha-v-ardhan Can you assign me for this issue?

[2022-07-13 05:08] Garima-Negi commented on #1005
Hi Bishal, I believe you already have an issue assigned to you. We only assign 1 issue to a person at a time

[2022-07-13 05:11] bishal7679 commented on #1005
@Garima-Negi Actually I have already made a PR for that assigned issue.
Can You please review it so that I can work on another issue?

[2022-07-13 05:18] Garima-Negi commented on #1005
Sure whenever the reviewers have time they will review.

[2022-07-13 16:34] Garima-Negi opened #1068 "[New term] [hi] Microservices for Hindi"
### Please describe why this term needs to be added

#### What this term is about? (briefly)
-  [https://glossary.cncf.io/microservices/](https://glossary.cncf.io/microservices/) is a collection of smaller services running together
#### Why this term needs to be added? (briefly)
- The term is already in the English glossary and is essential to understand for big systems where each service can be s

[2022-07-13 16:40] Garima-Negi commented on #686
Hi, what seems to be the issue? How can we help?

[2022-07-13 16:42] Garima-Negi commented on #1068
duplicate of https://github.com/cncf/glossary/issues/728

[2022-07-13 16:42] #1068 closed

[2022-07-13 18:21] geekrypter commented on #318
Hey, I would like to work on this term. Could anyone please assign me to this issue. Thanks in advance!
@CathPag @JasonMorgan @jihoon-seo @seokho-son @iamNoah1 @avinashupadhya99

[2022-07-13 22:19] sergeyborovoy opened #1073 "[New term] `Multi-tenancy`"
### 1. Please describe why this term needs to be added

#### What this term is about? (briefly)
- This is about a single instance of software serving multiple tenants
#### Why this term needs to be added? (briefly)
- Important for the SaaS world and therefore for the Cloud in general

### 2. Checklist

- [X] The suggested term fits the [cloud native definition](https://github.com/cncf/toc/blob/mai

[2022-07-13 22:22] sergeyborovoy opened #1074 "[New term] `tenant`"
### 1. Please describe why this term needs to be added

#### What this term is about? (briefly)
- A tenant is a group of users sharing common access to a software instance
#### Why this term needs to be added? (briefly)
- It is important for understanding _multi_-tenancy, which in its turn is an important Cloud term

### 2. Checklist

- [X] The suggested term fits the [cloud native definition](htt

[2022-07-15 05:40] imvisp commented on #686
Hello Garima

In my privious pr i didn't know how but i did some other way to contribute and that was not accepted by the mentor, so now i have asked @jayesh-srivastava and he told me to make new pr.

Can you pls tell me how can I do this again ?

[2022-07-15 09:15] hanyuancheung commented on #963
Close cause of duplicate of #946

[2022-07-15 09:15] #963 closed

[2022-07-15 09:35] jihoon-seo commented on #960
Resolved by #1061.
(This term will be live on the website after someone merges the latest `dev-zh` into `main`.)

[2022-07-15 09:35] #960 closed

[2022-07-16 14:58] MrErlison commented on #828
PR #1086 created.

[2022-07-17 07:10] Petrie commented on #853
I'll translate this, assign it me, ths! @Jacob953

[2022-07-17 07:12] Petrie commented on #970
I'll translate this, assign it me, ths. @Jacob953

[2022-07-17 13:38] #829 closed

[2022-07-20 21:48] wahlax-llc opened #1098 "[New term] `FinOps`"
### 1. Please describe why this term needs to be added

#### What this term is about? (briefly)
- See https://www.finops.org/introduction/what-is-finops/
- FinOps is lingo for the discipline of cloud spend

#### Why this term needs to be added? (briefly)
-  Similar to DevOps or DevSecOps but more cloud specific

### 2. Checklist

- [X] The suggested term fits the [cloud native definition](https://

[2022-07-20 22:02] wahlax-llc opened #1099 "[New term] `Low-code`"
### 1. Please describe why this term needs to be added

#### What this term is about? (briefly)
- See https://en.wikipedia.org/wiki/Low-code_development_platform

#### Why this term needs to be added? (briefly)
- Identifies whether non-developers can be consumers of a tool

### 2. Checklist

- [X] The suggested term fits the [cloud native definition](https://github.com/cncf/toc/blob/main/DEFINITIO

[2022-07-20 22:05] wahlax-llc opened #1100 "[New term] `No-code`"
### 1. Please describe why this term needs to be added

#### What this term is about? (briefly)
- See https://en.wikipedia.org/wiki/No-code_development_platform

#### Why this term needs to be added? (briefly)
- Identifies whether non-developers can be consumers of a tool

### 2. Checklist

- [X] The suggested term fits the [cloud native definition](https://github.com/cncf/toc/blob/main/DEFINITION

[2022-07-21 00:23] DonatoHorn opened #1101 "[Portuguese] `` for `lang/pt`"
### Please describe why this term needs to be updated

I reviewed 19 pages, and made suggestions on them.

[2022-07-21 03:41] DonatoHorn commented on #1101
/cc

[2022-07-21 03:49] DonatoHorn commented on #269
Hi @edsoncelio, could you please, assign issue 1101 to me.

[2022-07-21 14:03] DonatoHorn commented on #1101
/assign @DonatoHorn

[2022-07-21 14:31] DonatoHorn commented on #826
Hi, I would like to contribute, could you please assign this issue to me. Thanks

[2022-07-22 00:15] Petrie commented on #853
Solved by https://github.com/cncf/glossary/pull/1095

[2022-07-22 00:16] Petrie commented on #952
Solve by https://github.com/cncf/glossary/pull/1102

[2022-07-22 00:17] Petrie commented on #970
solve by https://github.com/cncf/glossary/pull/1091

[2022-07-22 00:18] Petrie commented on #856
solved by https://github.com/cncf/glossary/pull/1089

[2022-07-22 03:08] #856 closed

[2022-07-22 03:10] #970 closed

[2022-07-22 11:21] edsoncelio commented on #1101
Hi @DonatoHorn some points here:
* The bot commands like `/assign` doesn’t work here
* could you describe better your issue? You can describe which pages you want to fix
* If are more like suggestions, it's better to ask in our slack channel `#glossary-localization-portuguese` and then we can discuss and agree or not
* The issue title needs to be something more meaningful, could you change that?

[2022-07-22 11:23] edsoncelio commented on #826
Sure! done :)

[2022-07-22 11:51] MrErlison commented on #822
PR is #1103

[2022-07-23 13:19] MrErlison commented on #818
Hi @edsoncelio assign it to me.

[2022-07-23 13:20] MrErlison commented on #814
New local https://glossary.cncf.io/chaos-engineering/

[2022-07-23 15:34] #1101 closed

[2022-07-23 18:48] devdude101 commented on #1098
Hey,
Can I take this issue?
I have been working in Fintech for sometime so can write about finops.

[2022-07-23 19:08] devdude101 commented on #613
Hey, can I pick this?

[2022-07-23 21:01] wahlax-llc commented on #1098
@devdude101  Fine by me as long as it is a desired term. I did not think I could do it justice. Believe there is an acceptance to happen first that will change the issue status from "triage/awaiting" to something else. This was my first term proposal, so I am still learning the intended process.

[2022-07-24 11:14] iamNoah1 commented on #613
The issue is still open, but there is already someone assigned to it and there is already a PR open.

[2022-07-24 20:57] prasadjivane opened #1108 "How To Contribute More"
I would like to contribute more to the community.
Add me to the community.

[2022-07-25 02:47] NitishKumar06 commented on #1108
@prasadjivane Get your invite to CNCF-slack channel here: https://communityinviter.com/apps/cloud-native/cncf

Once done, Find a channel in slack: glossary.

Congratulations, You've joined the community!

[2022-07-25 12:03] dibyendu02 commented on #410
Hey @mitul3737 , I am Dibyendu Das, interested in contributing CNCF project. Please assign me `content/bn/client-server-architecture.md` . I was referred by my friend @sarkartanmay393 .

[2022-07-25 14:19] NitishKumar06 opened #1112 "[Update term] `Approvers` for `En`"
### 1. Please describe why this term needs to be updated

#### Why this term needs to be updated? (briefly)
-
While going through the CNCF contribution guide to the glossary, The Approver section(https://glossary.cncf.io/contributor-ladder/#2-approvers) says _see “Becoming an approver”_ in order to get more information to become an approver.

It'd be a great idea if we can directly link the page i

[2022-07-25 17:30] mitul3737 commented on #410
@dibyendu02 You have been assigned `content/bn/client-server-architecture.md`

[2022-07-25 19:39] seokho-son commented on #1112
Sure, I think your suggestion is beneficial. :)
Do you want contribute ?

[2022-07-26 01:57] NitishKumar06 commented on #1112
Yeah sure! Please assign it to me:)

On Tue, 26 Jul, 2022, 1:09 am Seokho Son, ***@***.***> wrote:

[2022-07-26 04:54] seokho-son commented on #1108
Hi @prasadjivane
Thank you for your interest ! Welcome :)

I am a maintainer of this Glossary repository.
You can find a guide document to initiate your contribution.
So, PTAL :)
- https://glossary.cncf.io/contribute/
- https://glossary.cncf.io/style-guide/
- https://glossary.cncf.io/contributor-ladder/

and since this Issue is a simple and general question, let me close this Issue.
You can utiliz

[2022-07-26 04:54] #1108 closed

[2022-07-26 18:48] bishal7679 opened #1117 "`block after the` should be outside backticks"
## Problem to be solved
This line should be --
For instance, the Korean localization team added its `[languages.ko]` block after the `[languages.en]` block.

---

![Screenshot (211)](https://user-images.githubusercontent.com/70086051/181086955-0e158da4-1c80-4536-bb48-e5f8d91b09f6.png)

## Proposed solution
![Screenshot (212)](https://user-images.githubusercontent.com/70086051/181087336-1e46655b-d2

[2022-07-27 09:50] #1117 closed

[2022-07-27 13:33] CathPag commented on #1100
Thanks for your suggestion. After some deliberation with the maintainers, we decided not to include this term because it is not specific to cloud native but rather a more general dev concept.

[2022-07-27 13:33] #1100 closed

[2022-07-27 13:34] CathPag commented on #1099
Thanks for your suggestion. After some deliberation with the maintainers, we decided not to include this term because it is not specific to cloud native but rather a more general dev concept.

[2022-07-27 13:34] #1099 closed

[2022-07-27 13:36] CathPag commented on #1098
Thanks for your suggestion. After some deliberation with the maintainers, we decided not to include this term. This is vertical-specific, and we aim to focus on general cloud native terms. We do appreciate the submission, though.

[2022-07-27 13:36] #1098 closed

[2022-07-27 13:38] CathPag commented on #1073
Thanks for your suggestion. Although this term is not cloud native specific, it is an important term to understand cloud native concepts, which is why we believe it should be part of the glossary. Are you still interested in working on this, @sergeyborovoy?

[2022-07-27 13:40] CathPag commented on #1074
After some deliberation with the maintainers, we decided not to include this term. It is not cloud native specific, and what people need to know to understand cloud native concepts can be covered in the multi-tenancy definition.

[2022-07-27 13:40] #1074 closed

[2022-07-27 14:18] CathPag commented on #1045
Thanks for your suggestions, @Vrashabh-Sontakke. After some deliberation with the maintainers, we decided not to include this term as it's not a cloud native specific term and applies to computing in general.

[2022-07-27 14:18] #1045 closed

[2022-07-28 03:39] taniaduggal commented on #779
I want to work on this. Please assigned it to me @anubha-v-ardhan @Garima-Negi

[2022-07-28 04:46] BisleriDuggal opened #1129 "[hi] TRanslate site into hindi"
`site`

[2022-07-28 04:47] #1129 closed

[2022-07-28 04:55] taniaduggal opened #1130 "[hi] Localize term `site_reliability_engineering` into `Hindi`"
localization of `site_reliabilty_engineering` into Hindi

-   https://glossary.cncf.io/site-reliability-engineering/

[2022-07-28 05:04] taniaduggal commented on #1130
I want to work on this :) @anubha-v-ardhan

[2022-07-28 08:07] Garima-Negi commented on #1130
HI @taniaduggal , thank you for creating this issue. It has now been assigned to you!

[2022-07-28 08:17] Garima-Negi commented on #686
Hi @imvisp , I couldn't find you on CNCF slack , please ping on #glossary-localization-hindi channel

also, here's a link to some instructions on how you can create a PR: https://cloud-native.slack.com/archives/C02PCHEQXK6/p1653765968699839

[2022-07-28 08:25] Garima-Negi commented on #771
Hi @octonawish-akcodes , are you still working on this issue?
If yes, do you have a placeholder PR?
If no, should we re-assign it to another contributor?

[2022-07-28 08:28] Garima-Negi commented on #779
@sumit-158 @octonawish-akcodes loadbalancer is not a term in the english glossary. hence, closing this issue

[2022-07-28 08:28] #779 closed

[2022-07-28 09:01] Garima-Negi commented on #779
@jihoon-seo have a doubt regarding loadbalancer.md
I don't see the term in [https://glossary.cncf.io/](https://glossary.cncf.io/ )
but if i look at the repository, file is present: [https://github.com/cncf/glossary/blob/main/content/en/load-balancer.md](https://github.com/cncf/glossary/blob/main/content/en/load-balancer.md)

I'll reopen this issue is we clarify. thanx!

[2022-07-28 09:52] sumit-158 commented on #894
@Garima-Negi [Pr ](https://github.com/cncf/glossary/pull/934)is already up, u just have to review it

[2022-07-29 16:57] Garima-Negi commented on #788
completed. PR merged into dev-hi

[2022-07-29 16:57] #788 closed

[2022-07-29 18:15] Garima-Negi commented on #1067
Completed. PR is merged.

[2022-07-29 18:15] #1067 closed

[2022-07-30 05:04] Omkar0114 commented on #1067
Thank you 🥳

[2022-07-30 14:36] NitishKumar06 opened #1141 "Couldn't find 'Become an Approver' page"
While going through the following page (https://glossary.cncf.io/contributor-ladder/#2-approvers) , a text under 'Approvers' say to look at 'Become an Approver' for instructions. I was not able to find the link.

Is the following page even added yet? If Yes, please let me know about the link else add a new page for 'Becoming an approver'

[2022-07-31 00:52] jihoon-seo commented on #1141
Here is the link to the "Becoming an Approver": https://glossary.cncf.io/contributor-ladder/#becoming-an-approver

[2022-07-31 04:26] NitishKumar06 commented on #1141
Thanks @jihoon-seo , the following issue is resolved now!

[2022-07-31 04:26] #1141 closed

[2022-07-31 07:58] hanyuancheung opened #1143 "[zh-cn] `policy_as_code` for `zh-cn`"
### Please describe why this term needs to be updated

- [ ] Localize the content/en/policy_as_code.md to content/zh-cn/ in dev-zh.

[2022-07-31 07:58] hanyuancheung commented on #1143
close cause of duplicated.

[2022-07-31 07:58] #1143 closed

[2022-07-31 08:03] arunkarthicknm opened #1144 "[New term] `Changelog`"
### 1. Please describe why this term needs to be added

#### What this term is about? (briefly)
- It explains what changelog actually is.
#### Why this term needs to be added? (briefly)
- Because, there are lot of misconceptions and unawareness on changelog and it needs to be addressed.

### 2. Checklist

- [X] The suggested term fits the [cloud native definition](https://github.com/cncf/toc/blob/

[2022-07-31 11:50] octonawish-akcodes commented on #771
Please assign to someone else af there are compatibility issues arising in my local system  It is taking time for resolvement

[2022-07-31 15:17] taniaduggal commented on #1130
@anubha-v-ardhan Please take a look at my PR

[2022-07-31 15:48] sergeyborovoy commented on #1073
Yes, will be happy to.  Could you please provide the link to the description of the collaboration / sumbission procedure or gudelines?...

[2022-08-01 08:20] taniaduggal commented on #1005
May I work on this? @jihoon-seo

[2022-08-01 13:01] CathPag commented on #1073
Sure, you can find the "how to contribute" and "style guide" on the Glossary nav bar >> https://glossary.cncf.io/

[2022-08-02 07:03] arunkarthicknm commented on #1144
Shall I work on this term?

[2022-08-02 08:37] iamNoah1 commented on #1144
@arunkarthicknm I admire your enthusiasm, but apparently you checked 2 of the checkboxes without really paying attention to them.
IMHO your suggested term does not fit the cloud native definition not is it essential to understand cloud native terms. If you think it does, please explain why :)
You opened a PR without being patient and wait for the term to be accepted and assigned to you. That is no

[2022-08-02 10:01] arunkarthicknm commented on #1144
Got it, thanks @iamNoah1 :)

[2022-08-02 10:01] #1144 closed

[2022-08-02 15:53] #573 closed

[2022-08-02 15:53] #564 closed

[2022-08-02 22:52] #828 closed

[2022-08-02 22:53] #823 closed

[2022-08-02 22:53] #825 closed

[2022-08-02 23:49] Petrie commented on #965
resolved by #1109

[2022-08-02 23:50] Petrie commented on #964
resolved by #1128

[2022-08-02 23:51] Petrie commented on #951
resolved by #1060

[2022-08-03 01:35] #951 closed

[2022-08-03 01:36] #964 closed

[2022-08-03 01:36] #965 closed

[2022-08-03 14:18] #952 closed

[2022-08-03 14:18] #853 closed

[2022-08-03 17:58] Adi9235 commented on #372
Hey can I work on this issue @CathPag

[2022-08-04 06:41] mandeepsng opened #1160 "[New term] `Theme Switcher` for `Dark and Light mode`"
### Please describe why this term needs to be added

#### What this term is about? (briefly)
- This is about adding a theme switcher (**new feature, these days trending on every website**)
#### Why this term needs to be added? (briefly)
**- Because the website's dark and light modes, affect our eyes so users can switch according to their lightning.**
#### Languages that use this term? (briefly)
-

[2022-08-04 06:50] mandeepsng opened #1161 "[New term] Theme Switcher for Dark and Light mode"
### 1. Please describe why this term needs to be added

#### What this term is about? (briefly)
- This is about adding a theme switcher (**new feature, these days trending on every website**)
#### Why this term needs to be added? (briefly)
- **Because the website's dark and light modes, affect our eyes so users can switch according to their lightning.**

Feature demo = [https://mandeepdev.vercel.a

[2022-08-04 06:52] mandeepsng commented on #1160
by mistake I added here in **new term non-english**
Please ignore from here, I added on **new term english**

[2022-08-04 13:04] HenokB opened #1164 "[New term] `Telemetry`"
### 1. Please describe why this term needs to be added

#### What this term is about? (briefly)
- Telemetry is one of the additional three factors introduced in Beyond the Twelve-Factor App. Developing your application is only the first aspect of a cloud-native developer’s job.
#### Why this term needs to be added? (briefly)
- Telemetry is an essential part of any cloud-native app these days and i

[2022-08-04 13:14] HenokB opened #1165 "[New term] `Containers`"
### 1. Please describe why this term needs to be added

#### What this term is about? (briefly)
- Containers, part of a more general software approach called cloud-native, are small software packages that, ideally, perform a small, well-defined task. Container images include all the software, including settings, libraries, and other dependencies, needed for them to run.
#### Why this term needs to

[2022-08-04 16:01] iamNoah1 commented on #1165
Thanks, @HenokB, but the term Containers already exists in the glossary :) See: https://glossary.cncf.io/container/

[2022-08-04 16:01] #1165 closed

[2022-08-04 17:09] Omkar0114 opened #1166 "[New term] `Portability` for `Hindi`"
### Please describe why this term needs to be added

#### What this term is about? (briefly)
-  Software portability is the possibility to use the same software in different environments.

#### Why this term needs to be added? (briefly)
- Localizing this term in Hindi will help Hindi folks learn about this term in their native language.

Link here: https://glossary.cncf.io/portability/

[2022-08-04 17:09] Omkar0114 commented on #1166
I would like to work on this term. Anyone can review it and can assign it to me? :)
@Garima-Negi @sayantani11 @anubha-v-ardhan @jayesh-srivastava

[2022-08-04 23:30] CathPag commented on #372
Sure! You picked a challenging one! :)
I'm sure you saw it, but a GitOps definition already exists (linked above). We are trying to simplify that not necessarily start a new one from scratch.

[2022-08-04 23:39] HenokB opened #1168 "[New term] `Abstraction` for `French`"
### Please describe why this term needs to be added

#### What this term is about? (briefly)
- In the context of computing, an abstraction is a representation that hides specifics from a consumer of services (a consumer being a computer program or human), making a system more generic and thus easily understood.
#### Why this term needs to be added? (briefly)
- Localizing this term in French will h

[2022-08-04 23:40] HenokB commented on #1168
Hello, I would like to work on this issue. Anyone can review it and can assign it to me? :)

[2022-08-04 23:57] HenokB opened #1169 "[New term] `Agile Software Development` for `French`"
### Please describe why this term needs to be added

#### What this term is about? (briefly)
- It's about Agile software development which is a set of practices that emphasize iterative development cycles and self-organizing teams.
#### Why this term needs to be added? (briefly)
- Localizing this term in French will help French-speaking folks learn about this term in their native language.
Link he

[2022-08-04 23:59] HenokB commented on #1169
Hello, I would like to work on this issue. Anyone can review it and can assign it to me?
@Garima-Negi @sayantani11 @anubha-v-ardhan @jayesh-srivastava

[2022-08-05 02:50] seokho-son commented on #1160
Hi @mandeepsng
Thank you for the suggestion.

You can close this issue and open a new issue using the right issue template.

With the issue template (`Request to add a new term (English)`),
You need to provide more descriptions why the suggested term is needed to CNCF Glossary.

In addition, I think `Theme Switcher` cannot be accepted as a new term for Cloud Native. (I am one of the maintainers)
T

[2022-08-05 03:39] anubha-v-ardhan commented on #1166
Thank you @Omkar0114 :)

[2022-08-05 04:02] anubha-v-ardhan commented on #1168
Hi @HenokB,
You can contact the french localization team theough the channel `#glossary-localization-french` on CNCF Slack. The people mentioned here are responsible for Hindi localization.

[2022-08-05 04:03] anubha-v-ardhan commented on #1169
Hi @HenokB,
You can contact the french localization team theough the channel #glossary-localization-french on CNCF Slack. The people mentioned here are responsible for Hindi localization.

[2022-08-05 04:44] anubha-v-ardhan commented on #1160
Superseded by #1161

[2022-08-05 04:44] #1160 closed

[2022-08-05 04:50] anubha-v-ardhan commented on #1005
We can only assign this to one person.

@octonawish-akcodes, since you opened this issue and showed interest (https://github.com/cncf/glossary/issues/1005#issuecomment-1170880428), Do you wish to work on this? else we can assign the issue to next person on first come first serve basis

[2022-08-05 04:52] bishal7679 commented on #1005
@anubha-v-ardhan I would like to work on that after merging [hi] version_control.md
Could you pls assign me this issue?

[2022-08-05 04:55] seokho-son commented on #1161
Hi @mandeepsng

I think `Theme Switcher` is a too general term and not suitable as a cloud native term.
Why do you think `Theme Switcher` fits the cloud native definition ?

[2022-08-05 05:02] Omkar0114 commented on #1166
Thanks for assigning me @anubha-v-ardhan :)

[2022-08-05 05:07] octonawish-akcodes commented on #1005
@anubha-v-ardhan Please assign this to someone else, I am tackling some issues in my local configuration in rebasing so I am fixing that, please assign this to someone else.

[2022-08-05 05:11] anubha-v-ardhan commented on #1005
@devsachinsharma Are you still interested in working on this issue?

[2022-08-05 05:30] mandeepsng commented on #1161
Because the website's dark and light modes, affect our eyes so users can switch according to their lightning and
hard to read when light off, dark mode is very useful at that case.
and this is cool trending feature in now days.

[2022-08-05 06:27] iamNoah1 commented on #1168
@HenokB are you a french native speaker?

[2022-08-05 06:43] HenokB commented on #1168
No, I'm not a native speaker.

[2022-08-05 07:31] devsachinsharma commented on #1005
@anubha-v-ardhan  Yes, I'm interested. But can you please review the remaining part of this issue https://github.com/cncf/glossary/pull/1082 . Thank you.

[2022-08-05 08:49] iamNoah1 commented on #1168
I admire your enthusiasm, but this is not how it works. You have to be a native speaker in order to localize a term. This should be obvious. Please make sure you read the contribution guide: https://glossary.cncf.io/contribute/

[2022-08-05 10:32] Adi9235 commented on #372
Yeah, I saw it under open issues and I also wanted to ask that this is my first issue under CNCF so in how much time should I complete this task? @CathPag

[2022-08-05 13:22] CathPag commented on #372
We've had a few GitOps experts working on the first version — it's a tough one. So take your time. As long as you are actively working on it, it's fine. But we don't want people to sit on them without doing any work, preventing others from tackling it. Does that make sense? Also, please carefully review the contributor and style guides and reach out on the #glossary channel if you have any questio

[2022-08-06 00:01] jihoon-seo commented on #1161
I guess that what @mandeepsng suggests is the feature in the CNCF Glossary website that toggles dark mode and light mode, and that he just picked an wrong issue template.

[2022-08-06 08:26] Adi9235 commented on #372
Okay I will try to put my best efforts in this task

[2022-08-07 13:00] Omkar0114 opened #1179 "[hi] `Reliability` for `Hindi`"
### Please describe why this term needs to be added

#### What this term is about? (briefly)
- Application reliability is the probability of a piece of software operating without failure.

#### Why this term needs to be added? (briefly)
- Localizing this term in Hindi will help Hindi folks learn about this term in their native language.

Link here: https://glossary.cncf.io/reliability/

[2022-08-07 13:01] Omkar0114 commented on #1179
Hey, @anubha-v-ardhan I would like to work on this one. Can you assign it to me? :)

[2022-08-07 21:18] cjyabraham commented on #449
Is this still an open issue? When I search through the `/content/` folder I don't find any instances of `glossary.cncf.io`. Perhaps it is already resolved?

[2022-08-07 21:35] #767 closed

[2022-08-07 21:47] cjyabraham commented on #909
I feel this behavior is inconsistent and should be fixed. Terms generally list the languages that have a translation so, if there are no translations other than English, perhaps the languages dropdown should just say _translations n/a_ or something like that?

[2022-08-07 21:51] cjyabraham commented on #880
Yes. All three pages have weight set to 10 so I guess they are just being listed alphabetically. It's an easy change if people would prefer them in a particular order.

[2022-08-08 03:11] seokho-son commented on #449
I think we can close this issue :)
Thanks @cjyabraham

[2022-08-08 03:11] #449 closed

[2022-08-08 07:24] bcubk commented on #512
@DaveVentura, you can assign it to me. I had vacation after our last meeting.

[2022-08-08 09:12] hanyuancheung commented on #968
done

[2022-08-08 09:12] #968 closed

[2022-08-08 09:13] hanyuancheung commented on #961
done

[2022-08-08 09:13] #961 closed

[2022-08-08 09:13] hanyuancheung commented on #948
done

[2022-08-08 09:13] #948 closed

[2022-08-08 09:13] hanyuancheung commented on #907
done

[2022-08-08 09:13] #907 closed

[2022-08-08 14:17] octonawish-akcodes opened #1183 "[hi] `Devsecops` for `Hindi`"
### Please describe why this term needs to be updated

#### Why this term needs to be updated? (briefly)
- Translation of Devsecops into Hindi localization.

[2022-08-08 14:17] octonawish-akcodes commented on #1183
I can work on this

[2022-08-08 15:09] cjyabraham commented on #1006
hi @CathPag, We've put our heads together over here and come up with the following as a possible design for listing these various tags. Let us know your thoughts:
![Glossary Mockup copy](https://user-images.githubusercontent.com/463160/183450794-8fcfee1a-6338-4ae6-b126-9cba8bab57c4.jpg)

[2022-08-09 05:18] mandeepsng commented on #1161
Hi **@jihoon-seo**
Thank you for your reply.
So what should be an exact template for this?

[2022-08-09 06:37] jihoon-seo commented on #1161
For now and for this case, you can open a blank issue with no issue template:
![image](https://user-images.githubusercontent.com/46767780/183580965-8af2367d-dd25-4647-8e62-5473b363ffb5.png)

[2022-08-09 09:46] mandeepsng commented on #1161
thank you
should I close this now?

[2022-08-09 09:53] jihoon-seo commented on #1161
You can edit this issue, but it might be easier to close this and open a new one.

[2022-08-09 13:51] bishal7679 opened #1187 "[hi] Localize `mTLS (Mutual Transport Layer Security)` for `Hindi`"
### Please describe why this term needs to be updated

#### Why this term needs to be updated? (briefly)
- Localizing this term in hindi will help hindi folks to learn about this term in their native language
#### link here :- https://glossary.cncf.io/mutual-transport-layer-security/

[2022-08-09 13:51] bishal7679 commented on #1187
/new term non-english

[2022-08-09 13:54] bishal7679 commented on #1187
/lang-hi

[2022-08-09 13:58] bishal7679 commented on #1187
/new-term-non-english

[2022-08-09 14:55] cjyabraham opened #1188 "Filterable list of Glossary terms"
Allow for filtering glossary terms by tag, similar to [the Kubernetes search UI](https://kubernetes.io/docs/reference/glossary/?fundamental=true).

Maybe provide access to this page using an "Advanced Search" link directly below the regular search input in the sidebar. Also, each tag on the site could link to this page with that tag selected.

Use-cases from @CathPag:
- We want people to be able t

[2022-08-09 15:02] cjyabraham commented on #1006
Hi @CathPag, we considered what you are suggesting here but feel it can be misunderstood as "Architecture" being selected while the other two tags are not. Also, the "Fundamental" and "Technology" tags seem ambiguous without any context. We thought the "Level:" and "Category:" helped make what they were referring to more clear. We can look for an alternate solution if you think our solution takes

[2022-08-09 15:45] RedwineOS commented on #576
Hello! Can you assign me this issue? This and https://github.com/cncf/glossary/issues/577

Thanks!

[2022-08-09 15:45] RedwineOS commented on #577
Hello! Can you assign me this issue? This and https://github.com/cncf/glossary/issues/576

Thanks!

[2022-08-09 16:15] 92nqb commented on #600
@electrocucaracha, me lo asignas?

[2022-08-09 16:30] NitishKumar06 opened #1189 "Text in Microservices not clear."
### 1. Please describe why this term needs to be updated

#### Why this term needs to be updated? (briefly)
-
The following page (https://glossary.cncf.io/microservices/#problem-it-addresses) explains the problems that a monolith architecture faces and what are the benefits of microservices.

Look at the following line: _ Monolithic applications also make it easy for developers to succumb to desig

[2022-08-09 16:54] NitishKumar06 opened #1190 "[Localize] `Microservice` for `Hindi`"
### Please describe why this term needs to be updated

#### Why this term needs to be updated? (briefly)
-
The following page: https://glossary.cncf.io/microservices/ needs to be localized into Hindi which is necessary for the Indian folks who are comfortable in understanding the concept of CNCF in the Hindi language.

Note: I'd love to work on this issue and add the new page as well. Thank you!

[2022-08-10 02:22] anubha-v-ardhan commented on #1190
@NitishKumar06 #1139 is already open localizing this term, We'll have to close this issue.

[2022-08-10 02:22] #1190 closed

[2022-08-10 02:25] anubha-v-ardhan commented on #1187
Hey @bishal7679 Do you wish to work on this yourself?

[2022-08-10 02:26] bishal7679 commented on #1187
@anubha-v-ardhan you can assign me

[2022-08-10 02:29] anubha-v-ardhan commented on #1183
There was #760 working on this term but was closed for some reason. You can use that PR for reference :)

[2022-08-10 02:33] anubha-v-ardhan commented on #727
Closing this for #1183

[2022-08-10 02:33] #727 closed

[2022-08-10 02:35] anubha-v-ardhan commented on #1183
@SahityaGupta25 worked on this Devsecops previously, maybe you can collaborate with him and open a new PR.

[2022-08-10 07:41] mandeepsng commented on #1161
ok

[2022-08-10 07:41] #1161 closed

[2022-08-10 13:07] CathPag commented on #1006
True. If we color code the dropdown like the tags, it would make that clear. Thoughts?

[2022-08-10 14:46] cjyabraham commented on #1006
@CathPag are you asking whether styling the dropdowns to be the same style as the respective tags would help provide context to the tags themselves? I think that would help that particular problem, however, we're still confused why there are dropdowns on the page itself and what they do. Are those to filter the list of terms in the sidebar? Would it help to have a call to discuss?

[2022-08-11 05:51] #1036 closed

[2022-08-11 05:52] #1166 closed

[2022-08-11 15:33] #515 closed

[2022-08-11 16:28] cjyabraham commented on #1006
Makes sense. I've added these use-cases to [the issue](https://github.com/cncf/glossary/issues/1188) along with some other ideas.

[2022-08-12 18:48] cjyabraham commented on #1006
Here's another design we considered for fitting in the 3 taxonomies. We do prefer the first one I presented, since it gives the tags appropriate context, however, this one has the advantage that it would take up less space if that's a priority:
![2022-08-08-102557@2x](https://user-images.githubusercontent.com/463160/184424108-c520a02f-ed43-470d-8223-6e0cef2e27a1.jpg)

[2022-08-12 22:20] CathPag commented on #1006
I really like the Kubernetes example and the tag filter behavior discussed in #1188. How would that be compatible with this?

[2022-08-12 22:22] CathPag commented on #1188
As mentioned in the other issue, I really like the Kubernetes behavior

[2022-08-12 23:28] cjyabraham commented on #1006
My thought was that under the search input we have "Advanced Search..." which takes people to the [Kubernetes-like power-user mode](https://kubernetes.io/docs/reference/glossary/?fundamental=true). We can also have each tag link to that page with the appropriate tag selected in the filter.

[2022-08-13 04:28] AbdullahArean commented on #410
Hey @mitul3737 , I am Abdullah Ibne Hanif Arean! I would like to contribute to content/bn/data-center.md. Please Assign me!

[2022-08-13 04:46] mitul3737 commented on #410
@AbdullahArean You have been assigned !

[2022-08-13 06:03] SahityaGupta25 commented on #1183
@octonawish-akcodes  Sure

[2022-08-13 16:10] #822 closed

[2022-08-14 13:26] AbdullahArean commented on #410
Hey @mitul3737 , I am Abdullah Ibne Hanif Arean! I would like to contribute to 1. content/bn/idempotence.md
2. content/bn/service.md
3. content/bn/serverless.md
4. content/bn/scalability.md
5. content/bn/portability.md

Please Assign me!

[2022-08-14 16:39] mitul3737 commented on #410
@AbdullahArean you have been assigned. Best wishes !

[2022-08-14 19:46] sarkartanmay393 commented on #410
@mitul3737 Assign me `content/bn/chaos-engineering.md`.

[2022-08-14 19:49] sarkartanmay393 commented on #410
@dibyendu02 Any update about `client-server architecture` ?
Join our [CNCF Slack ](https://communityinviter.com/apps/cloud-native/cncf) to communicate better with maintainers.

[2022-08-14 21:16] MrErlison opened #1206 "[Portuguese] Localize 'Event-Driven Architecture'"
Localize [https://glossary.cncf.io/event-driven-architecture/](https://glossary.cncf.io/event-driven-architecture/)

[2022-08-14 21:47] MrErlison opened #1207 "[Portuguese] Localize 'Function as a Service (FaaS)'"
Localize [https://glossary.cncf.io/function-as-a-service/](https://glossary.cncf.io/function-as-a-service/)

[2022-08-14 21:50] MrErlison opened #1208 "[Portuguese] Localize 'Idempotence'"
Localize [https://glossary.cncf.io/idempotence/](https://glossary.cncf.io/idempotence/)

[2022-08-14 21:52] MrErlison opened #1209 "[Portuguese] Localize 'Loosely Coupled Architecture'"
Localize [https://glossary.cncf.io/loosely-coupled-architecture/](https://glossary.cncf.io/loosely-coupled-architecture/)

[2022-08-14 21:53] MrErlison opened #1210 "[Portuguese] Localize 'Managed services'"
Localize [https://glossary.cncf.io/managed-services/](https://glossary.cncf.io/managed-services/)

[2022-08-14 21:55] MrErlison opened #1211 "[Portuguese] Localize 'Microservices'"
Localize [https://glossary.cncf.io/microservices/](https://glossary.cncf.io/microservices/)

[2022-08-14 21:56] MrErlison opened #1212 "[Portuguese] Localize 'Monolithic Apps'"
Localize [https://glossary.cncf.io/monolithic-apps/](https://glossary.cncf.io/monolithic-apps/)

[2022-08-14 21:58] MrErlison opened #1213 "[Portuguese] Localize 'mTLS (Mutual Transport Layer Security)'"
Localize [https://glossary.cncf.io/mutual-transport-layer-security/](https://glossary.cncf.io/mutual-transport-layer-security/)

[2022-08-14 21:59] MrErlison opened #1214 "[Portuguese] Localize 'Nodes'"
Localize [https://glossary.cncf.io/nodes/](https://glossary.cncf.io/nodes/)

[2022-08-14 22:00] MrErlison opened #1215 "[Portuguese] Localize 'Observability'"
Localize [https://glossary.cncf.io/observability/](https://glossary.cncf.io/observability/)

[2022-08-14 22:01] MrErlison opened #1216 "[Portuguese] Localize 'Platform as a Service (PaaS)'"
Localize [https://glossary.cncf.io/platform-as-a-service/](https://glossary.cncf.io/platform-as-a-service/)

[2022-08-14 22:03] MrErlison opened #1217 "[Portuguese] Localize 'Portability'"
Localize [https://glossary.cncf.io/portability/](https://glossary.cncf.io/portability/)

[2022-08-14 22:04] MrErlison opened #1218 "[Portuguese] Localize 'Reliability'"
Localize [https://glossary.cncf.io/reliability/](https://glossary.cncf.io/reliability/)

[2022-08-14 22:05] MrErlison opened #1219 "[Portuguese] Localize 'Scalability'"
Localize [https://glossary.cncf.io/scalability/](https://glossary.cncf.io/scalability/)

[2022-08-14 22:07] MrErlison opened #1220 "[Portuguese] Localize 'Security Chaos Engineering'"
Localize [https://glossary.cncf.io/security-chaos-engineering/](https://glossary.cncf.io/security-chaos-engineering/)

[2022-08-14 22:08] MrErlison opened #1221 "[Portuguese] Localize 'Self Healing'"
Localize [https://glossary.cncf.io/self-healing/](https://glossary.cncf.io/self-healing/)

[2022-08-14 22:09] MrErlison opened #1222 "[Portuguese] Localize 'Service Discovery'"
Localize [https://glossary.cncf.io/service-discovery/](https://glossary.cncf.io/service-discovery/)

[2022-08-14 22:10] MrErlison opened #1223 "[Portuguese] Localize 'Service Mesh'"
Localize [https://glossary.cncf.io/service-mesh/](https://glossary.cncf.io/service-mesh/)

[2022-08-14 22:11] MrErlison opened #1224 "[Portuguese] Localize 'Service Proxy'"
Localize [https://glossary.cncf.io/service-proxy/](https://glossary.cncf.io/service-proxy/)

[2022-08-14 22:12] MrErlison opened #1225 "[Portuguese] Localize 'Shift Left'"
Localize [https://glossary.cncf.io/shift-left/](https://glossary.cncf.io/shift-left/)

[2022-08-14 22:19] #1208 closed

[2022-08-15 03:16] mitul3737 commented on #410
@sarkartanmay393 You have been assigned `content/bn/chaos-engineering.md.`

[2022-08-15 05:28] bishal7679 commented on #771
@anubha-v-ardhan Could you assign me this issue?
I would to work on it

[2022-08-15 07:11] anubha-v-ardhan commented on #771
Thank you @bishal7679 :)

[2022-08-16 08:14] iamNoah1 commented on #512
@bcubk sure thing, there you go :)

[2022-08-16 14:10] CathPag commented on #1006
We just had our maintainer meeting and thought it might be best if we simplify it. Let's mimic what Kubernetes does (all tags selectable at the top, not hidden under advanced). We'll add fundamental and property to the tags from the third category and remove advanced, concept, and technology. What do you think?

[2022-08-16 14:57] cjyabraham commented on #1006
Ok. Are you referring to [this Kubernetes page](https://kubernetes.io/docs/reference/glossary/?fundamental=true)?

[2022-08-16 17:07] CathPag commented on #1006
Correct

[2022-08-17 00:13] cjyabraham commented on #1006
Ok. Can you share a design of how you want this to look and work? I'm having trouble envisioning how [the Kubernetes UI](https://kubernetes.io/docs/reference/glossary/?fundamental=true) will integrate with our current design without being overwhelming.

[2022-08-17 06:12] jihoon-seo opened #1233 "i18n of "Tags" pages"
I found that currently some parts of "Tags" pages are not internationalized:

https://deploy-preview-1122--cncfglossary.netlify.app/ko/tags/애플리케이션/
![image](https://user-images.githubusercontent.com/46767780/185043883-49af755f-6448-4228-9fe8-4c394572a884.png)

https://deploy-preview-1122--cncfglossary.netlify.app/ko/tags/
![image](https://user-images.githubusercontent.com/46767780/185044391-6b1642

[2022-08-17 06:30] Mehadi-Hasan-Santo commented on #410
I would like to contribute to content/bn/continuous-delivery.md

[2022-08-17 08:38] mahbubaShifa commented on #410
I would like to contribute to content/bn/devsecops.md

[2022-08-17 10:00] mitul3737 commented on #410
@Mehadi-Hasan-Santo & @mahbubaShifa you are assigned

[2022-08-17 13:46] CathPag commented on #1006
Ok, let me do that tomorrow.

[2022-08-18 03:22] taniaduggal opened #1237 "[hi] Localize term virtual-machine into Hindi"
localization of virtual-machine.md into Hindi

- https://glossary.cncf.io/virtual-machine/

[2022-08-18 03:23] taniaduggal commented on #1237
@anubha-v-ardhan I would like to work on this. Please assign me.
Thank-you:)

[2022-08-18 04:18] contributor00 commented on #410
I would like to contribute into content/bn/versioncontrol.md

[2022-08-18 04:38] mitul3737 commented on #410
@contributor00 You have been assigned

[2022-08-18 13:39] CathPag commented on #1006
How about something like this?
<img width="930" alt="Screen Shot 2022-08-18 at 9 34 25 AM" src="https://user-images.githubusercontent.com/74001907/185408141-d9be15d7-425a-46b0-8188-56b44c821333.png">

You can then select the tags, and it will show a list with terms below.

When you click on a term, you still see the tags on top, and you filter by tags again.
<img width="928" alt="Screen Shot 2022-

[2022-08-18 13:40] CathPag commented on #1006
...I didn't do that in the mockup, but tags should probably be in alphabetical order.

[2022-08-18 14:54] denniskaran opened #1240 "Cloud Native Operations"
### 1. Please describe why this term needs to be added

#### What this term is about? (briefly)
If you are an IT Operations org and you want to modernize your current operations to be cloud-native what does that entail?
I feel that Cloud Native Operations should encompass several disciplines beyond SRE that orgs need to adopt to modernize their current operations to be cloud-native. i.e. GitOps, D

[2022-08-19 17:46] NitishKumar06 opened #1242 "Localise 'Cloud Computing' to Hi"
### 1. Please describe why this term needs to be updated

The following page (https://glossary.cncf.io/cloud-computing/) needs a translation into the Hindi language so that the readers who prefer learning and understanding more in the Hindi language can understand better.

### 2. Checklist

- [X] I understand that maintainers will confirm if the term should be updated. (Please be patient)
- [X] I

[2022-08-19 21:51] matheuspaes commented on #1225
Hello, @MrErlison I would like to localize this term, could you assignee for me?

[2022-08-19 21:51] matheuspaes commented on #1223
Hello, @MrErlison I would like to localize this term, could you assignee for me?

[2022-08-19 22:30] MrErlison commented on #1223
Hi @matheuspaes if you need help, please don't hesitate to ask us in  [Portuguese slack](https://cloud-native.slack.com/archives/C02MWQTJUPL) channel #glossary-localization-portuguese

[2022-08-19 22:30] MrErlison commented on #1225
Hi @matheuspaes if you need help, please don't hesitate to ask us in  [Portuguese slack](https://cloud-native.slack.com/archives/C02MWQTJUPL) channel #glossary-localization-portuguese

[2022-08-21 10:11] shivam-sharma7 commented on #1242
can i work on this issues?

[2022-08-21 12:04] #1040 closed

[2022-08-21 12:59] NitishKumar06 commented on #1242
I've already requested to work on this issue

On Sun, 21 Aug, 2022, 3:41 pm Shivam Sharma, ***@***.***>
wrote:

[2022-08-22 05:02] #1242 closed

[2022-08-22 17:27] cjyabraham commented on #1006
So when you click on a tag filter, does it generate a new list of terms below it or does it filter the list of terms on the left pane? And do you see these filters showing up so prominently on every page of the site? I saw this feature as more just for power users so not something you'd want to be front and center...

[2022-08-23 09:04] CathPag commented on #1038
While this is a specific technology and would not qualify for the Glossary, the maintainers agreed that a definition would be useful for the community.

[2022-08-23 09:05] CathPag commented on #1164
Thanks for your suggestion, this term has been approved for the Glossary!

[2022-08-23 09:44] Santosh1176 commented on #1038
Thank you! Should I go ahead and raise a PR on this?

[2022-08-23 10:27] sha-lik commented on #327
I want to work on this

[2022-08-23 12:37] CathPag commented on #1006
The selection would mimic the k8s docs behavior:

- "ghost" tags on top
- selected tabs full color
- List of terms meeting that criteria below (left nav bar doesn't change)

You click on the term you want to read, which automatically deselects all tags. The user can now start a new filter. To keep the selected list, users would have to right-click and open a new tab.

How does that sound?

[2022-08-23 15:27] #695 closed

[2022-08-23 15:28] #565 closed

[2022-08-23 17:38] Krast76 opened #1258 "[FR] Localize cloud-native-apps.md"
Localization of cloud-native-apps.md into french.

-  https://glossary.cncf.io/cloud-native-apps/

[2022-08-24 04:38] shivam-sharma7 opened #1259 "[hi] Localize term 'Version Control' into Hindi"
### 1. Please describe why this term needs to be updated

#### Why this term needs to be updated? (briefly)
- Localize term 'Version Control' into Hindi for people who want translate this term in Hindi
-  https://glossary.cncf.io/version-control/

### 2. Checklist

- [X] I understand that maintainers will confirm if the term should be updated. (Please be patient)
- [X] I want to work on this sugge

[2022-08-24 04:41] shivam-sharma7 commented on #1259
@anubha-v-ardhan I would like to work on this. Please assign me.
Thank-you:)

[2022-08-24 08:11] CathPag commented on #327
@sha-lik, this issue has already been assigned and @Asmit2952 is working on it.

[2022-08-24 08:13] CathPag commented on #1038
Sure! I just assigned it to you. Please make sure to read the [contributor](https://glossary.cncf.io/contribute/) and [style guides](https://glossary.cncf.io/style-guide/) before getting started.

[2022-08-24 16:30] Krast76 opened #1260 "[FR] Localize cloud-native-tech.md"
Localization of cloud-native-tech.md into french.

[2022-08-24 16:31] huats opened #1261 "[FR] Localize `container` for `French`"
### Please describe why this term needs to be updated

Localization of container.md into french.

[2022-08-24 16:31] Krast76 opened #1262 "[FR] Localize service-mesh.md"
Localization of service-mesh.md into french.

[2022-08-24 16:31] fydrah opened #1263 "[FR] Localize term `Cloud Computing`"
Localize term `Cloud Computing` in french language

[2022-08-24 16:33] fydrah opened #1264 "[FR] Localize term `DevOps`"
Localize term `DevOps` in french

[2022-08-24 16:34] fydrah opened #1265 "[FR] Localize term `Microservices`"
Localize term `Microservices` in french

[2022-08-24 16:34] huats opened #1266 "[FR] Localize containerization for French"
Localization of containerization.md into french.

[2022-08-24 16:35] huats opened #1267 "[FR] Localize monolithic-apps for French"
Localization of monolithic-apps.md into french.

[2022-08-24 16:40] huats opened #1268 "[FR] Localize virtual-machine for French"
Localization of virtual-machine.md into french.

[2022-08-25 09:10] CathPag commented on #1064
Apologies for the delay, @gdenn. We weren't sure if this should be included or not and were always pushing the decision to the next meeting. While it is not necessarily a cloud native term, we decided to accept it because this definition will be valuable for the user in a cloud native context. It's been a while since you submitted this. Are you still interested in working on it?

[2022-08-25 14:57] shivam-sharma7 commented on #1259
@bishal7679 Thanks for sharing

[2022-08-26 03:17] amolmote opened #1269 "[hi] `api-gateway` for `Hindi`"
Localize api-gateway For Hindi
[api-gateway.md](https://github.com/cncf/glossary/blob/dev-hi/content/en/api-gateway.md)

[2022-08-26 04:15] amolmote commented on #1269
thank u @bishal7679 for suggestion.

[2022-08-26 06:09] sha-lik commented on #327
Okay

[2022-08-26 08:12] anubha-v-ardhan commented on #1269
The issue template used is to intitate a new localization team. I'd request you to remove irrelavant text from the issue description.

[2022-08-26 09:42] amolmote commented on #1269
done @anubha-v-ardhan please accept triage if this issue is valid

[2022-08-26 17:33] #1179 closed

[2022-08-26 20:38] sarkartanmay393 commented on #410
@mitul3737 I want to work on `content/bn/gitops.md`

[2022-08-27 04:34] mitul3737 commented on #410
You have been assigned @sarkartanmay393 the `content/bn/gitops.md`

[2022-08-27 13:35] shivam-sharma7 opened #1271 "Localise 'Cloud Computing' to Hi"
### 1. Please describe why this term needs to be updated

#### Why this term needs to be updated? (briefly)
- The following page (https://glossary.cncf.io/cloud-computing/) needs a translation into the Hindi language so that the readers who prefer learning and understanding more in the Hindi language can understand better.

### 2. Checklist

- [X] I understand that maintainers will confirm if the

[2022-08-28 22:05] jihoon-seo commented on #1271
This issue is a duplicate of #1005.

[2022-08-29 01:42] #1271 closed

[2022-08-29 15:12] cjyabraham commented on #1006
I see. I did not see this use-case to be important enough to warrant these filters present on every page of the site. Also, as you add more filters in the future, it will continue to take up more real estate. I saw these filters more as something you'd want on an "Advanced Search" page or something.

If your team is united, though, on the interface you've described, then I can implement it that wa

[2022-08-30 22:19] ramrodo commented on #580
I would like to work on this one @electrocucaracha

[2022-09-02 16:28] sayantani11 commented on #1259
Since this is done, i am closing the issue.

[2022-09-02 16:28] #1259 closed

[2022-09-04 20:19] cjyabraham opened #1291 "Stop incomplete terms from showing up in search results and tag listing pages"
Currently some terms that are tagged "Feedback Appreciated" are showing up in the search results, such as [Stateless Apps](https://glossary.cncf.io/search/?q=Stateless%20Apps).
- Get google to drop them from search results using a nonindex meta tag
- Stop these terms from being listed in [tag listing pages](https://glossary.cncf.io/tags/fundamentals/)

[2022-09-05 17:25] cjyabraham commented on #1006
I had a few more thoughts on my alternative proposal for consideration. The proposed filter-by-tag screen would be similar to that on the Kubernetes site and would allow for permalinking with tags in the querystring, like https://kubernetes.io/docs/reference/glossary/?fundamental=true.

People would access that page either by clicking on a tag (which would then load the page with that tag set to f

[2022-09-06 00:02] #1291 closed

[2022-09-06 07:59] CathPag commented on #1006
Hmm...I wouldn't hide it in advanced search. It's always visible in the Kubernetes glossary, and that's great. People don't have to figure out that they can filter by tags, they see it right on the screen.

I really see it as two ways to navigate the page:
1. per term (left nav bar)
2. per category ( top tags)

[2022-09-06 08:57] iamNoah1 commented on #1006
@CathPag @cjyabraham I have no strong opinion here. Having it as close to the Kubernetes page as possible makes most sense for me.

[2022-09-06 09:04] jihoon-seo commented on #1006
- K8s glossary page:
  - the page **lists the terms** with a short description of each term.
  - there is no dedicated pages for each term.
  - selecting and deselecting tags **updates the list of terms** in responsive way.
- CNCF Glossary website:
  - each page is for showing term definition or some information (e.g. home page, how to contribute, contributor ladder, style guide).

Considering abo

[2022-09-07 01:39] #946 closed

[2022-09-07 01:42] Jacob953 commented on #859
@JIANGYU-14 Hi, plz go ahead ;)

[2022-09-07 01:42] Jacob953 commented on #865
@JunchengL Hi, plz go ahead ;)

[2022-09-07 01:43] Jacob953 commented on #862
@JIANGYU-14 Hi, plz go ahead ;)

[2022-09-07 04:56] Shivansh-yadav13 opened #1300 "[hi] Localize `Distributed System` in Hindi"
- https://glossary.cncf.io/distributed-systems/

[2022-09-07 07:01] JunchengL commented on #865
Im going to do it this week

[2022-09-08 11:15] amolmote opened #1304 "[hi] Localize `service.md` for `Hindi`"
[hi] Localize  [service.md](https://github.com/cncf/glossary/blob/dev-hi/content/en/service.md ) for Hindi

[2022-09-08 12:43] PrathyushaModala commented on #422
@CathPag  I would like work on this issue

[2022-09-08 12:45] PrathyushaModala commented on #374
@CathPag I would like to work on this

[2022-09-08 13:15] CathPag commented on #250
Thanks, @PrathyushaModala. This is a tough one, and we'll need an experienced technologist to get it right. We've seen strong interest from students in contributing. If you are a student as well, I would leave this to someone with real-world experience. If you are an engineer with deep knowledge of the space, I'm happy to assign you this one.

Just trying to avoid a frustrating contributor experie

[2022-09-08 13:17] CathPag commented on #374
@PrathyushaModala, you asked to be assigned to three issues. We only assign one issue per person. Which one would you like to tackle?

[2022-09-08 14:01] Krishnamohan-Yerrabilli commented on #422
It's fine for me, if she want to work on that.

[2022-09-08 16:27] PrathyushaModala commented on #422
@Krishnamohan-Yerrabilli , you can pick up this issue I'm okay with it.

[2022-09-08 16:30] Krishnamohan-Yerrabilli commented on #422
Yep ok, but I don't when I pick this up, cause this issue is still opened, anyone can work on this, if they're interested .

[2022-09-08 16:31] Krishnamohan-Yerrabilli commented on #422
Yep ok, but I don't  know when I will pick this up, cause this issue is still opened, anyone can work on this, if they're interested .

[2022-09-08 18:25] PrathyushaModala commented on #374
Hi @CathPag ,
When I'm trying to access data center defination url it is prompting as page not found. So,can you please provide detailed information about this issue which helps me in gaining deeper understanding of it.

[2022-09-09 09:16] amolmote commented on #1304
@jihoon-seo  I want to work on it so please raise the triage and assign it to me

[2022-09-09 09:17] amolmote commented on #1269
@jihoon-seo  I want to work on it so please raise the triage and assign it to me

[2022-09-10 14:07] cjyabraham commented on #1052
I can't find any searches that still produce wrong urls so will close this issue. If you find any more please reopen.

[2022-09-10 14:07] #1052 closed

[2022-09-11 09:33] KiranSatyaRaj opened #1306 "[New term] `Hypervisor`"
### 1. Please describe why this term needs to be added

#### What this term is about? (briefly)
- A hypervisor makes virtualization feasible, it is the software that sits on top of the compute host and virtualizes its functionalities into subparts, distributes them to multiple users, and workloads, and enables us to take advantage of the compute host.
#### Why this term needs to be added? (briefly

[2022-09-11 12:43] amolmote commented on #1304
/assign

[2022-09-12 11:54] sarkartanmay393 commented on #410
@mitul3737 Kinldy Unassign me `content/bn/gitops.md` and assign me `content/bn/continuous-integration.md`

[2022-09-12 15:20] mitul3737 commented on #410
@sarkartanmay393 You have been assigned

[2022-09-12 17:24] jasonrhodes opened #1308 "[New term] `Host`"
### 1. Please describe why this term needs to be added

#### What this term is about? (briefly)
- "Host" is a word that is thrown around a lot in cloud native and observability contexts, but usually lacks a concrete definition.
#### Why this term needs to be added? (briefly)
- "hostname" is a concept shared by containers, virtual hosts, and cloud nodes alike, which can lead to people using the wor

[2022-09-13 01:54] lukepatrick opened #1309 "[New term] `Environment`"
### 1. Please describe why this term needs to be added

#### What this term is about? (briefly)
- "Environment" is a word that is thrown around a lot in cloud native and software development lifecycle contexts, but usually lacks a concrete definition.
#### Why this term needs to be added? (briefly)
- "Environment" can be an overloaded term, an under used term, or arbitrarily mixed with "infrastruc

[2022-09-13 06:42] PrathyushaModala commented on #374
Hi @CathPag ,
Could you please provide detailed information about this issue.

[2022-09-13 07:53] waleed318 opened #1310 "Initiate Urdu Localization Team"
# This issue is to initiate a new l10n Team

Please only use this template for submitting a new l10n team initiation requests.

See https://github.com/cncf/glossary/blob/main/LOCALIZATION.md for basic requirements for a new l10n team.

---

### (1) The language and language code for l10n
Find localization's two-letter language code from [ISO 639-1 standard](https://www.loc.gov/standards/iso639-2/p

[2022-09-13 08:14] Saim-Safdar commented on #1310
Thank you, Waleed, now we just need to create the dev branch but wouldn't be able to do so because we don't have permission, can you please help us with that @CathPag

[2022-09-13 08:44] CathPag commented on #1310
Awesome, @seokho-son and @jihoon-seo will walk you through the process :)

[2022-09-13 09:07] CathPag commented on #1309
Thanks for your suggestion, @lukepatrick, but the maintainers believe that this term is too basic for this Glossary.

[2022-09-13 09:07] #1309 closed

[2022-09-13 09:12] CathPag commented on #1240
Thanks for your suggestion, @denniskaran.  The maintainers agreed that this is not (yet?) an established term and should thus not be part of the Glossary.

[2022-09-13 09:12] #1240 closed

[2022-09-13 09:23] CathPag commented on #1308
Thanks for your suggestion, @jasonrhodes. We've accepted it as a foundational term. Please don't forget to review the [style guide](https://glossary.cncf.io/style-guide/) before getting started.

[2022-09-13 09:24] CathPag commented on #1306
Thanks for your suggestion, @KiranSatyaRaj. We've accepted the term and assigned the issue to you.

[2022-09-13 16:14] KiranSatyaRaj commented on #1306
Thank you so much @CathPag, I'm on it.

[2022-09-13 16:30] seokho-son commented on #1308
By the way, I think the description of this issue is very nice !
@jasonrhodes Thank you for this suggestion.

[2022-09-13 16:36] seokho-son commented on #1308
I agree with.
I think above part will be challenging. But worth trying !

[2022-09-14 09:02] PratikDey commented on #410
Can I work on `content/bn/cloud-native-apps.md` ?

[2022-09-14 09:36] mitul3737 commented on #410
@PratikDey You have been assigned

[2022-09-14 13:51] Shivansh-yadav13 opened #1315 "[hi] Localize `Distributed Apps` into `Hindi`"
Localize `distributed-apps.md`
- https://glossary.cncf.io/distributed-apps/

[2022-09-15 17:20] waleed318 commented on #1310
Hi @seokho-son and @jihoon-seo, Need to create local branch for Urdu (dev-ur) as soon as possible. Guide us through the process, so we can start working.

[2022-09-16 04:31] #915 closed

[2022-09-16 07:03] seokho-son commented on #1310
Hi @waleed318

- label for ur: https://github.com/cncf/glossary/labels/lang%2Fur
- `#glossary-localization-urdu` channel in CNCF Slack (please invite all ur team members to the channel)

By the way, I think one approver is not enough considering an approver cannot approve his/her PR by self.
Also, in order to merge a PR to dev-ur, the PR requires at least two approvals (from two approvers except a

[2022-09-16 07:42] seokho-son commented on #1310
/assign

[2022-09-16 10:14] waleed318 commented on #1310
### Team
-  [A] Saim Safdar (@Saim-Safdar)
-  [A] Waleed Ahmed (@waleed318)
-  Ali Raza (@Ali15700)
-  Fateh Muhammad (@FatehMuhammad)
- Haseeb Shaukat (@mhaseebshaukat)

[2022-09-17 03:08] seokho-son commented on #1310
Ok, I assume your comment suggests that Urdu team will initiate with two approvers. :)

[2022-09-19 01:40] jihoon-seo commented on #1304
Approvers of Hindi team (@Garima-Negi @sayantani11 @anubha-v-ardhan @jayesh-srivastava), PTAL!

[2022-09-19 01:42] jihoon-seo commented on #1269
Approvers of Hindi team (@Garima-Negi @sayantani11 @anubha-v-ardhan @jayesh-srivastava), PTAL!

[2022-09-19 06:35] seokho-son commented on #1310
https://github.com/cncf/glossary/tree/dev-ur 🎊

[2022-09-19 07:14] yunkon-kim opened #1322 "Issues on labeler workflow"
Hi, I would like to share my observation on the labeler workflow issues. (PTAL @seokho-son)

#### 1. Failing on labeling
Several days ago, the labeler workflow was updated and re-enabled on the upstream. But, the workflow (i.e.,.github/workflows/labeler.yml) hasn't been applied yet on every `dev-**` branch. Thus, I expected this issue would be resolved naturally. Until then, please ignore the erro

[2022-09-20 06:10] PratikDey commented on #410
Can I work on `content/bn/bare-metal-machine.md`?

[2022-09-20 07:33] seokho-son commented on #1322
To prevent unnecessary issues regarding the workflow, I disabled it manually.
Thank you @yunkon-kim :)

[2022-09-20 08:16] yunkon-kim commented on #1322
@seokho-son I got it 👍

Is it possible to replace `dev-**` (i.e., wildcard) with `dev-ko` to test this workflow?
Only PRs targeting the dev-ko branch will trigger this workflow. When another team needs this workflow, we can explicitly add their target branch.

Suggestion:
[code]

Ref: [labler.yml](https://github.com/cncf/glossary/blob/main/.github/workflows/labeler.yml)

[2022-09-20 08:28] seokho-son commented on #1322
@yunkon-kim
Thanks! I think so.
Could you open a PR for that ?

[2022-09-20 08:30] yunkon-kim commented on #1322
@seokho-son Thank you !

I will open the PR.

[2022-09-20 15:47] #576 closed

[2022-09-21 01:22] #1218 closed

[2022-09-21 01:23] #1217 closed

[2022-09-21 06:11] jihoon-seo commented on #1310
I guess that we should update `dev-ur` branch with the latest `main` branch, to make #1324 effective in `dev-ur` branch too. 😊

[2022-09-21 06:27] seokho-son commented on #1310
Yes @jihoon-seo

Cloud you open ?

[2022-09-21 15:43] ramrodo commented on #580
/close by https://github.com/cncf/glossary/pull/1280

[2022-09-21 15:46] ramrodo commented on #580
I can not close this issue. Could you close it @electrocucaracha, please?

[2022-09-21 16:45] #580 closed

[2022-09-21 17:59] mitul3737 commented on #410
@PratikDey You have been assigned

[2022-09-22 08:32] seokho-son commented on #1310
I think tasks to initiate Urdu team are complete !

[2022-09-22 08:32] #1310 closed

[2022-09-22 08:32] #1322 closed

[2022-09-22 09:29] #346 closed

[2022-09-22 20:21] cjyabraham commented on #1006
@CathPag while we're waiting on this, would you like me to proceed with the second part of this issue, that is, listing all tags equally below the title of the term, instead of having "Technology", "Concept", and "Property" above it?

[2022-09-23 19:43] Garima-Negi commented on #1005
/reassign @devsachinsharma

[2022-09-28 01:53] alfredo-baron-mex commented on #602
I would like to help with the translation

[2022-09-28 13:52] CathPag commented on #1006
So sorry, @cjyabraham! We had our meeting last week (or the previous one), but I totally blanked. We would like to proceed with the mockup above with one slight change. The deselected tags are gray and become pink if selected by staying above. So, no tags below the term. Instead, the two active tags are pink above, while the rest is gray.

<img width="803" alt="Screen Shot 2022-09-28 at 9 51 40 AM

[2022-10-01 18:21] noor-e-jannatnafia commented on #410
I'll take content/bn/debugging.md

[2022-10-01 18:27] mitul3737 commented on #410
@noor-e-jannatnafia You are appointed

[2022-10-02 18:53] cjyabraham commented on #1006
@CathPag can you respond to @jihoon-seo comment above? It'd be good to see the mockup he's requesting as I'm still having trouble envisioning the workflow. As he has outlined, there are significant differences to the k8s glossary and our site so simply copying over the same UX for this search-by-tag would likely not work.

Could you also differentiate between a tag that is selected due to the arti

[2022-10-03 09:43] #516 closed

[2022-10-03 10:16] #512 closed

[2022-10-03 15:02] FavourDaniel commented on #250
Is this still open? I would love to contribute

[2022-10-04 12:38] RedwineOS commented on #579
Hello! Can you assign me this issue alongside https://github.com/cncf/glossary/issues/597 and https://github.com/cncf/glossary/issues/582 ? @electrocucaracha

Thank you!

[2022-10-04 13:14] bcubk commented on #510
Hi @iamNoah1, kannst du mir den zuweisen? 😊

[2022-10-04 14:01] CathPag commented on #1006
Ooff...I don't have any of the mockups anymore. That means I have to recreate them. Really busy this week. I'll need more time.

[2022-10-04 14:15] electrocucaracha commented on #579
@RedwineOS could you put any comment on them? The reason behind is that only in that way your name appears as option in the assignees list

[2022-10-04 17:51] CathPag commented on #250
Sure! Please make sure to read the [style guide](https://glossary.cncf.io/style-guide/) before getting started.

[2022-10-05 09:10] iamNoah1 commented on #510
klar, gerne :)

[2022-10-05 09:39] FavourDaniel commented on #250
Thank you, on it.

[2022-10-07 00:55] #1219 closed

[2022-10-07 00:55] #1225 closed

[2022-10-07 00:59] #818 closed

[2022-10-08 06:08] shivam-sharma7 opened #1354 "[hi] Localize `Zero Trust Architecture` into Hindi"
# This issue is to initiate a new l10n Team

page-https://glossary.cncf.io/zero-trust-architecture/

Please only use this template for submitting a new l10n team initiation requests.

See https://github.com/cncf/glossary/blob/main/LOCALIZATION.md for basic requirements for a new l10n team.

---

### (1) The language and language code for l10n
Find localization's two-letter language code from [ISO

[2022-10-08 06:09] shivam-sharma7 commented on #1354
can you assign me?

[2022-10-08 06:13] shivam-sharma7 commented on #1304
@Garima-Negi @anubha-v-ardhan can you assign me this?

[2022-10-09 14:36] PratikDey commented on #410
Can I work on `content/bn/containers-as-a-service.md`?

[2022-10-09 15:01] mitul3737 commented on #410
You are appointed @PratikDey

[2022-10-10 11:04] tinniaru3005 commented on #1048
Hey, I want to work on this issue. Can you please assign it to me?

[2022-10-10 11:45] edsoncelio commented on #1048
Hi @tinniaru3005 welcome to the community :)
We already have a PR opened to this issue - but you can join to the glossary channel (CNCF slack) on slack and ask for another issue, thank you!

[2022-10-10 11:48] CathPag commented on #1006
Ok, here you go:

Homepage with deselected tags:
<img width="955" alt="Screen Shot 2022-10-10 at 7 46 00 AM" src="https://user-images.githubusercontent.com/74001907/194859156-5cfa68af-2105-49a3-94e5-4aba910f121d.png">

Selected tags and list of options:
<img width="938" alt="Screen Shot 2022-10-10 at 7 46 35 AM" src="https://user-images.githubusercontent.com/74001907/194859258-ff5c1ad5-ef54-4ffe-9

[2022-10-10 11:49] tinniaru3005 commented on #1048
Sure. Thanks :)

[2022-10-10 19:24] cjyabraham commented on #1006
I don't like how the filter buttons also do double-service as a way to indicate which tags a term has been tagged with. I don't think this would be clear to me if I was a user of the site.

@jihoon-seo do these screenshots help you evaluate the proposal against [this other option here](https://github.com/cncf/glossary/issues/1006#issuecomment-1237329626) which maintains the current tagging UI on [

[2022-10-10 22:51] CathPag commented on #1006
I just asked Andrea, a UX expert, to chime in.

[2022-10-10 23:29] andreuxxxx commented on #1006
Hello, I think that what you really need is a version of the tags called "chips". It's part of Material Design and a simple solution when the objective is to identify information in a group and filter it at the same time, [[here's the reference.]([url]]( https://material.io/components/chips#filter-chips)

Please let me know and I can do a mockup to envision how these may look in context.

[2022-10-11 01:02] cjyabraham commented on #1006
Thanks. Chips seem cool. I think, however, that we first need to take a step back and decide on the appropriate user-journey to this filter-by-tag functionality: should it be considered a "power-user" feature and so placed on an "Advanced search..." page [as described here](https://github.com/cncf/glossary/issues/1006#issuecomment-1237329626). Or should the filters be available on all pages of the

[2022-10-11 01:53] andreuxxxx commented on #1006
Hello Chris! The fewer clicks to access a tool, the best. These chips have a double purpose, if the user decides not to filter with them, at the very least they will have information about what category are they in.  If these categories are highly discoverable, the most probable thing is that the user will be motivated to use them as filters. They may not be that interested in expending time searc

[2022-10-11 02:14] cjyabraham commented on #1006
Do you have an example showing chips used for a double-purpose like this: both to indicate a piece of content is tagged with a particular tag and to operate a filterable list?

[2022-10-11 02:18] andreuxxxx commented on #1006
Alternatively, many docs and references use the right side of the screen to make discoverability easier. We can have a proper filtering tool there.  or in any other appropriate location. I can definitely help you to find the most elegant and efficient solution for that, but I would need some more time. Let me know if that works for you all.
![image](https://user-images.githubusercontent.com/321945

[2022-10-11 03:29] andreuxxxx commented on #1006
As for an example, [this is a different UI pattern and these categories don't cross](https://www.google.com/finance/), but it's using chips as descriptive tags and on the second click as tabs that divide content associated with them.
![image](https://user-images.githubusercontent.com/3219456/194990602-025c46ab-e26d-485d-b77b-95e86dd6ec7b.png)

[2022-10-11 06:14] ShankyJS commented on #611
Can you assign me this one @electrocucaracha please!

[2022-10-11 10:17] torsuneson opened #1358 "Crisp definition"
Hi, is there anyway to make the "Cloud Native" more crisp in definition. Exactly what is the criteria for being Cloud Native?

[2022-10-11 16:04] #575 closed

[2022-10-11 18:11] PratikDey opened #1364 "Rename `content/bn/auto_scaling.md` to `content/bn/auto-scaling.md`"
Currently the auto scaling in content/bn/ folder markdown file has an '_' as a separator. Request to add a '-' as a separator
![Screenshot from 2022-10-11 23-38-55](https://user-images.githubusercontent.com/56970651/195167660-9153845d-439c-45c0-9767-05bab216b6cc.png)

[2022-10-11 23:58] jihoon-seo commented on #1006
IMO:
- @cjyabraham's suggestion:
  - This option unavoidably introduces one more click.
  - nevertheless, this option seems feasible and implementable, and makes sense in terms of UI/UX for me.
- @CathPag's suggestion:
  - I couldn't see other sites that have chips used for a double-purpose.
    In above @andreuxxxx introduced [Google Finance](https://www.google.com/finance/),
    but it seems tha

[2022-10-12 03:46] andreuxxxx commented on #1006
Hello! I can do a full UX assessment with Card sorting and checking the existing IA, that's the only way we can create the best tool. I am happy to help with it. I will have some time until next week, though. If you are OK waiting a little bit, I am happy to invest the time to really do something that works. This would include  some usability testing and we can validate our ideas before executing.

[2022-10-12 06:01] jihoon-seo commented on #1006
@andreuxxxx For me, it sounds great. Thanks for your work!

[2022-10-12 17:05] electrocucaracha opened #1371 "[Spanish] localize 'Digital Certificate'"
Localize the `content/en/digital-certificate.md"` document to Spanish

[2022-10-12 17:09] electrocucaracha opened #1372 "[Spanish] localize 'Debugging'"
Localize the `content/en/debugging.md` document to Spanish

[2022-10-12 17:13] electrocucaracha opened #1373 "[Spanish] localize 'Event-Driven Architecture'"
Localize the `content/en/event-driven-architecture.md` document to Spanish

[2022-10-12 17:15] electrocucaracha opened #1374 "[Spanish] localize 'Event Streaming'"
Localize the `content/en/event-streaming.md` document to Spanish

[2022-10-12 17:17] electrocucaracha opened #1375 "[Spanish] localize 'Firewall'"
Localize the `content/en/firewall.md` document to Spanish

[2022-10-12 17:19] electrocucaracha opened #1376 "[Spanish] localize 'Idempotence'"
Localize the `content/en/idempotence.md` document to Spanish

[2022-10-12 17:21] electrocucaracha opened #1377 "[Spanish] localize 'Immutable Infrastructure'"
Localize the `content/en/immutable-infrastructure.md` document to Spanish

[2022-10-14 15:14] NitishKumar06 commented on #1364
I could not see the file auto_scaling in bn folder

[2022-10-14 15:53] PratikDey commented on #1364
Check again please

[2022-10-14 15:55] NitishKumar06 commented on #1364
@PratikDey
![folder](https://user-images.githubusercontent.com/86051118/195889494-56d56157-7881-48b4-8ae1-ee5f7048e20d.png)

[2022-10-14 20:14] tinniaru3005 commented on #1377
Hey @electrocucaracha, I would like to try working on this issue. Can you please assign it to me?

[2022-10-15 04:04] tinniaru3005 commented on #1376
Hwy @electrocucaracha, I have sent a Pull request for the previous issue assigned to me. I would like to work on solving this too. Can you please assign it to me?

[2022-10-15 17:43] NitishKumar06 commented on #1306
@KiranSatyaRaj Do you need any help from my side? Please let me know anytime.

[2022-10-15 18:17] KiranSatyaRaj commented on #1306
Thanks @NitishKumar06 for offering the help, I'm making progress and will make pull request soon regarding this issue, I will definitely reach out to you if there's anything I'm stuck with.

[2022-10-16 13:12] tinniaru3005 commented on #1375
Hey @electrocucaracha, Can you please assign this to me. I would like to work on it.

[2022-10-17 17:10] KiranSatyaRaj commented on #1306
#1385
Here's the pull request I made referencing this issue, please review it.

[2022-10-17 17:16] KiranSatyaRaj commented on #1306
#1385

[2022-10-17 17:21] NitishKumar06 commented on #1306
Thanks @KiranSatyaRaj! I'll go through it shortly!

[2022-10-18 18:19] electrocucaracha opened #1393 "[Spanish] localize 'Managed services'"
Localize the `content/en/managed-services.md` document to Spanish

[2022-10-18 18:21] electrocucaracha opened #1394 "[Spanish] localize 'Microservices'"
Localize the `content/en/microservices.md` document to Spanish

[2022-10-18 18:22] electrocucaracha opened #1395 "[Spanish] localize 'Monolithic Apps'"
Localize the `content/en/monolithic-apps.md` document to Spanish

[2022-10-18 18:24] electrocucaracha opened #1396 "[Spanish] localize 'Multitenancy'"
Localize the `content/en/multitenancy.md` document to Spanish

[2022-10-18 18:26] electrocucaracha opened #1397 "[Spanish] localize 'mTLS (Mutual Transport Layer Security)'"
Localize the `content/en/mutual-transport-layer-security.md` document to Spanish

[2022-10-18 18:28] electrocucaracha opened #1398 "[Spanish] localize 'Nodes'"
Localize the `content/en/nodes.md` document to Spanish

[2022-10-18 18:30] electrocucaracha opened #1399 "[Spanish] localize 'Reliability'"
Localize the `content/en/reliability.md` document to Spanish

[2022-10-18 18:31] electrocucaracha opened #1400 "[Spanish] localize 'Platform as a Service (PaaS)'"
Localize the `content/en/platform-as-a-service.md` document to Spanish

[2022-10-18 18:33] electrocucaracha opened #1401 "[Spanish] localize 'Policy as Code (PaC)'"
Localize the `content/en/policy-as-code.md` document to Spanish

[2022-10-18 18:35] electrocucaracha opened #1402 "[Spanish] localize 'Scalability'"
Localize the `content/en/scalability.md` document to Spanish

[2022-10-19 13:19] seokho-son commented on #1358
Hi @torsuneson [Cloud Native Computing Foundation](https://www.cncf.io/) provides official definition https://github.com/cncf/toc/blob/main/DEFINITION.md (CNCF Cloud Native Definition v1.0) for "Cloud Native".
Whereas it does not provide exact criteria for being Cloud Native, I think it is an umbrella to embrace related technologies.

[2022-10-21 07:36] PratikDey commented on #410
Can I work on `content/bn/blue-green-deployment.md`?

[2022-10-21 07:59] PratikDey commented on #1364
What branch are you checking this on?

[2022-10-21 10:52] DaveVentura opened #1405 "[German] Localize 'Chaos Engineering'"

[2022-10-21 10:53] DaveVentura opened #1406 "[German] Localize 'Cloud Natitve Techmology'"

[2022-10-21 10:55] DaveVentura opened #1407 "[German] Localize 'Cluster'"

[2022-10-21 10:58] DaveVentura opened #1408 "[German] Localize 'Containerization'"

[2022-10-21 10:59] DaveVentura opened #1409 "[German] Localize 'Containers'"

[2022-10-21 10:59] DaveVentura opened #1410 "[German] Localize 'Containers as a Service'"

[2022-10-22 13:01] MrErlison opened #1411 "[Portuguese] Localize 'Event Streaming'"
Localize [https://glossary.cncf.io/event-streaming/](https://glossary.cncf.io/event-streaming/)

[2022-10-22 13:03] MrErlison opened #1412 "[Portuguese] Localize 'Multitenancy'"
Localize [https://glossary.cncf.io/multitenancy/](https://glossary.cncf.io/multitenancy/)

[2022-10-23 09:26] tinniaru3005 commented on #1393
Hey @electrocucaracha, I would like to work on it. Can you please assign it to me?

[2022-10-24 08:47] #509 closed

[2022-10-24 08:47] #508 closed

[2022-10-24 23:08] lhardt commented on #1412
I would be happy to work on this, I'm a native portuguese speaker

[2022-10-24 23:46] MrErlison commented on #1412
Hi @lhardt if you need help, please don't hesitate to ask us in [Portuguese slack](https://cloud-native.slack.com/archives/C02MWQTJUPL) channel #glossary-localization-portuguese

[2022-10-25 15:11] electrocucaracha commented on #1393
You're going to kill me, but I didn't realize until now that this issue was duplicated with #611

[2022-10-25 15:11] #1393 closed

[2022-10-25 22:14] mdf-ido commented on #1398
I'd love to help with this term / Me gustaría ayudar con este termino

[2022-10-25 22:16] mdf-ido commented on #1394
I'd love to help with this term / Me gustaría ayudar con este termino

[2022-10-25 22:16] mdf-ido commented on #1400
I'd love to help with this term / Me gustaría ayudar con este termino

[2022-10-27 04:37] anairinac commented on #1399
Hi team, can I take this one?

[2022-10-27 13:53] anairinac commented on #1399
Hi, the PR I submitted is ready for review. Let me know if I need to update the wording :)

Should I post the PR in one of the Slack channels since this is my first contrib to the glossary? PR says it needs a maintainer to approve, as well as the reviewers.

[2022-10-27 14:19] electrocucaracha commented on #1399
Really? I need to take time to double-check duplicates. If you can help me on detect those duplicates issues should be great or I can assign you other issue

[2022-10-27 14:21] electrocucaracha commented on #1399
That's fine, I will take a look later.

[2022-10-27 15:38] NitishKumar06 commented on #1364
@PratikDey master

[2022-10-27 16:08] andreuxxxx commented on #1006
Hello everyone, unfortunately, I won't have time to look deeper into this in the immediate term. That being said, Catherine's suggestion works well from a UX perspective. While there might be more elegant solutions, it's intuitive and will work very well for the user. I recommend implementing her suggestions.
I would love to put more time an effort into this, as it's really exciting for me to coll

[2022-10-27 18:37] MikeFindsThings commented on #1164
Howdy! I'd like to pick this one up.

[2022-10-28 08:27] inductor opened #1422 "Initiate Japanese Localization Team"
# This issue is to initiate a new l10n Team

Please only use this template for submitting a new l10n team initiation requests.

See https://github.com/cncf/glossary/blob/main/LOCALIZATION.md for basic requirements for a new l10n team.

---

### (1) The language and language code for l10n
Find localization's two-letter language code from [ISO 639-1 standard](https://www.loc.gov/standards/iso639-2/p

[2022-10-29 03:09] anairinac commented on #1373
Voy a comenzar a trabajar en este issue :)

[2022-10-29 11:32] NitishKumar06 commented on #1269
Since this issue has been raised for a long time, and no updates have been there - I'd be raising a PR for this.

[2022-10-31 18:26] #1376 closed

[2022-10-31 18:26] #1377 closed

[2022-11-01 07:37] tinniaru3005 commented on #1401
Hey @electrocucaracha, I would like to work on it. Can you please assign it to me?

[2022-11-01 07:43] tinniaru3005 commented on #1374
Hey @electrocucaracha, I would like to work on this. Can you please assign it to me?

[2022-11-01 15:26] shivam-sharma7 opened #1435 "[hi] Localize `Serverless` for `Hindi`"
### Please describe why this term needs to be updated

- Serverless term available in `English,` `Chinese` and `Portugues` but This term also need to be Localize into `Hindi` for the people who want to read this term in Hindi.
- visit on page-https://glossary.cncf.io/serverless/

https://github.com/cncf/glossary/issues/1435#tasklist-block-950c877d-a325-49f9-b666-75a5ebe28db9

[2022-11-01 15:27] shivam-sharma7 commented on #1435
can you assign me ? / @Garima-Negi

[2022-11-06 09:38] NitishKumar06 commented on #1435
@shivam-sharma7 You can start working on it. I'm assuming @Garima-Negi / @anubha-v-ardhan might be busy. Raise a PR for this issue and we'd review it.

[2022-11-07 14:27] CathPag commented on #1073
Hi @sergeyborovoy, just wondering if you still wanted to help with these :)

[2022-11-07 14:29] CathPag commented on #918
Hi @anderseknert, just following up on this :)

[2022-11-08 11:37] PrathyushaModala commented on #374
Hi @CathPag
Looks like no one got assigned to it. Can i work on this??

[2022-11-08 12:09] PrathyushaModala commented on #1064
Hi Guys,
Would like to take up this issue.
cc @CathPag @gdenn

[2022-11-08 15:50] tinniaru3005 commented on #1402
Hey @electrocucaracha, Can you please assign me this issue?

[2022-11-08 15:53] tinniaru3005 commented on #1396
Hey @electrocucaracha, Can you please assign me this issue?

[2022-11-08 15:54] tinniaru3005 commented on #1395
Hey @electrocucaracha, can you please assign me this issue?

[2022-11-08 16:06] GarethAcidWorks commented on #1006
Hi all, as mentioned I bumped into Catherine in Detroit we discussed the above. So lending a hand to hopefully push this through. I have re-created the filters / tags in Figma, linked and pasted below.

**The additions / recommendations I have given are:**
• Small title to add some context to the filters / tags on the glossary home page
• Back button included when required
• Colours and sizing to

[2022-11-08 20:23] iamNoah1 commented on #1406
@bcubk mach ich gerne, sobald wir den anderen PR fertig haben, ok?

[2022-11-08 20:34] iamNoah1 commented on #1064
@CathPag I would say we can assign this to @PrathyushaModala ad @gdenn has not been very responsive nor reliable in the past :/

[2022-11-09 12:59] ams0 opened #1448 "[New term] `eBPF`"
### 1. Please describe why this term needs to be added

#### What this term is about? (briefly)

eBPF (extended Berkley Packet Filter) is a central component of many CNIs and cloud native tools (Pixie, Inspector Gadget and more).

#### Why this term needs to be added? (briefly)

The eBPF technology is quickly becoming central to cloud native architectures and needs to be explained in layman terms

[2022-11-09 14:04] CathPag commented on #1064
Sure, here you go, @PrathyushaModala

[2022-11-09 14:07] CathPag commented on #1006
Awesome, thank you, @GarethAcidWorks! A proper mockup for the one below is missing. I guess @cjyabraham can defer it from the two above: All filters are shown + the selected ones active which are gray on your second mockup, right?

<img width="749" alt="Screen Shot 2022-11-09 at 9 04 45 AM" src="https://user-images.githubusercontent.com/74001907/200850930-53712c18-efa8-4f84-b225-5bc77d5ca837.png">

[2022-11-09 14:09] CathPag commented on #1073
Oh, right! This one can be closed. Sorry, Kubecon disrupts everything :) I'll close this issue and please feel free to work on the other one (if you are interested). Again, your contribution was great, and we'd love to see more if you're up for it :)

[2022-11-09 14:09] #1073 closed

[2022-11-09 15:16] vasucp1207 commented on #1411
@MrErlison, I am interested in working on this issue.

[2022-11-09 15:18] vasucp1207 commented on #1372
@electrocucaracha, I am interested in working on this issue.

[2022-11-09 16:49] CathPag commented on #1006
Ok, great! Just wanted to be sure Chris knows what to do for this middle section. Thanks for your help! Can't wait to see this implemented!

[2022-11-09 17:02] MrErlison commented on #1411
Hi @vasucp1207 if you need help, please don't hesitate to ask us in Portuguese slack channel #glossary-localization-portuguese

Remember, you need open your PR to branch dev-pt. Please, read this [guide](https://gist.github.com/edsoncelio/d7fdec7f24d5aba87e3e517c672e9eb5) for more details.

[2022-11-10 07:58] UjjawalTyagi123 commented on #1410
@DaveVentura, I am interested to work on this issue.

[2022-11-10 07:59] UjjawalTyagi123 commented on #1409
@DaveVentura, I am interested to work on this issue.

[2022-11-10 10:51] sergeyborovoy commented on #1073
Hi @CathPag Let's find out first if @FavourDaniel is still working on the "stateless apps" or has she given up.  We don't want to yank stuff from under people, do we? :)

[2022-11-10 10:56] FavourDaniel commented on #1073
@sergeyborovoy I would be sending in an update on it today or tomorrow

[2022-11-11 12:06] Arindam200 commented on #410
Can I please contribute to   `content/bn/infrastructure-as-code.md` ?

[2022-11-11 15:10] mitul3737 commented on #410
@Arindam200 @PratikDey You are appointed

[2022-11-11 22:40] #1399 closed

[2022-11-11 22:40] #1400 closed

[2022-11-11 22:40] #1373 closed

[2022-11-11 22:41] #1374 closed

[2022-11-13 14:26] MrErlison commented on #815
Localize [https://glossary.cncf.io/containers-as-a-service/](https://glossary.cncf.io/containers-as-a-service/)

[2022-11-13 15:44] marcecan commented on #1408
I would like to work on this item.

[2022-11-13 19:49] Arindam200 commented on #410
Can I please contribute to `content/bn/infrastructure-as-a-service.md` ?

[2022-11-13 19:56] mitul3737 commented on #410
@Arindam200 You are appointed

[2022-11-14 13:07] anderseknert commented on #918
Oh, looks like someone beat me to it? https://glossary.cncf.io/policy-as-code/

[2022-11-17 01:44] juliafmorgado opened #1465 "[New term] `Role-based access control (RBAC)`"
### 1. Please describe why this term needs to be added

#### What this term is about? (briefly)

Role-based access control (RBAC) is a security approach that authorizes and restricts system access to users based on their role(s) within an organization.

#### Why this term needs to be added? (briefly)

Enterprise environments often involve multiple teams working on cloud native projects and applica

[2022-11-17 11:13] PrathyushaModala commented on #1064
https://github.com/cncf/glossary/pull/1467
Here's the pull request I made referencing this issue, please review it.

[2022-11-17 16:15] MrErlison commented on #1216
Hi @juliafmorgado! Nice to see you.

Thanks for your contribution!

[2022-11-17 16:31] MrErlison commented on #1216
Please don't hesitate to ask us in Portuguese slack channel #glossary-localization-portuguese

More details [here](https://gist.github.com/edsoncelio/d7fdec7f24d5aba87e3e517c672e9eb5).

[2022-11-18 14:32] CathPag commented on #918
Hmm...I don't remember seeing this, and the two contributors on the GitHub repo don't really contribute content (very strange). It is listed as "feedback appreciated," which means it shouldn't appear on the Glossary website (will need to look into that). It also means that it has not been officially accepted yet.

Anything you'd add or change?

[2022-11-18 19:28] #1306 closed

[2022-11-19 05:43] Arindam200 commented on #410
Can I contribute to `content/bn/loosely-coupled-architecture.md` ?

[2022-11-19 07:18] mitul3737 commented on #410
@Arindam200 You are appointed

[2022-11-21 17:46] cjyabraham commented on #1291
The effect of my work here has been limited. According to google search console, there are now 41 terms that are being omitted from the Google index since they are not yet "Completed", such as [Digital Certificate](https://glossary.cncf.io/digital-certificate/):
<img width="881" alt="Screen Shot 2022-11-21 at 12 43 10 PM" src="https://user-images.githubusercontent.com/463160/203124222-5bc9b4c2-5cb

[2022-11-22 10:15] PrathyushaModala commented on #1064
#1467
Here's the pull request I made, @CathPag  ,@JasonMorgan ,@seokho-son , @iamNoah1 , @jihoon-seo please do review for the pull request so that I can merge it.

[2022-11-22 11:34] PratikDey commented on #410
Can I work on `content/bn/distributed-apps.md`?

[2022-11-22 16:17] cjyabraham commented on #1006
Thanks @GarethAcidWorks. Could you show a mockup of the tags assigned for an individual article? Currently we have them here:
<img width="664" alt="Screen Shot 2022-11-22 at 11 17 03 AM" src="https://user-images.githubusercontent.com/463160/203365772-e6edb7a2-bc98-4ff3-95c0-c559e55d05cb.png">

[2022-11-23 08:55] Aarav238 commented on #1407
I would like to work on it
Please assign this to me.

[2022-11-23 09:01] Aarav238 opened #1486 "[hi]Localize "Distributed Apps" in hindi"

[2022-11-23 09:02] Aarav238 commented on #1486
Please Assign this issue to me. @Garima-Negi
I want to work on this.

[2022-11-23 09:46] #327 closed

[2022-11-23 13:28] Aarav238 commented on #1486
I am working on it

[2022-11-23 13:45] iamNoah1 commented on #1486
@NitishKumar06 @Aarav238 please note that this is not the way this should work. Please make sure to read the contribution guide. Also if you want to help with localizing, the first step is not to just start working on a term. Instead, you should join the respective channel, say hi, and coordinate with the team regarding which work has to be done.

[2022-11-23 19:31] GarethAcidWorks commented on #1006
So I've added in the Property tag and made some optimisations to the to the additional tagging up top.

The hierarchy of the page appears to flow and make sense. Let me know if you think this works
<img width="1436" alt="Screenshot 2022-11-23 at 11 28 07 PM" src="https://user-images.githubusercontent.com/91599545/203631180-9345b464-3b37-4c81-9b31-fb6b94bd7199.png">

[2022-11-23 19:34] cjyabraham commented on #1006
From your screenshot, it's not clear to me that the Abstraction term is tagged with Architecture and Fundamental. They just look like separate nav elements above the article for browsing.

[2022-11-24 07:02] GarethAcidWorks commented on #1006
So to break it down, if we're going to introduce this system that needs to be fixed in it's position up top. Meaning:

a) Everything else needs to be moved down
or b) We blend the grey tag and the pink nav tag on the same line (please excuse my bad terms)
<img width="285" alt="Screenshot 2022-11-24 at 10 58 56 AM" src="https://user-images.githubusercontent.com/91599545/203715228-fede4060-826d-4a48

[2022-11-24 23:10] seokho-son commented on #1448
Hi @ams0
Thank you for the suggestion. Maintainers agree with your suggestion ! :)

Although the Cloud Native Glossary project tend to avoid including too complex technical term, we also think eBPF needs to be included in the Glossary considering importance of it.
Please try to explain eBPF easily so that non-technical folks can understand it easily.

Please check following resources before you st

[2022-11-24 23:12] seokho-son commented on #1465
Hi @juliafmorgado
Thank you for the suggestion. Maintainers agree with your suggestion ! :)

Please try to explain RBAC easily so that non-technical folks can understand it easily.

Please check following resources before you start. :)
- [Style Guide](https://glossary.cncf.io/style-guide/)
- [How To Contribute](https://glossary.cncf.io/contribute/)

(CC @iamNoah1 @CathPag @jihoon-seo @JasonMorgan

[2022-11-26 20:39] MrErlison commented on #824
New link https://glossary.cncf.io/horizontal-scaling/

[2022-11-28 12:49] vasucp1207 commented on #1371
@electrocucaracha, can I work on this?

[2022-11-28 14:18] CathPag commented on #1006
Hi there, so we don't need property, concept, and technology anymore. We'll only use the new "tags." In fact, property will be a tag now.

[2022-11-28 22:09] juliafmorgado commented on #1465
Sounds good!

[2022-11-28 22:34] fharris commented on #1209
@MrErlison Can I get his one? Still learning on how to collaborate though. Thanks

[2022-11-28 22:56] MrErlison commented on #1209
Hi @fharris! If you need help, please don't hesitate to ask us in Portuguese slack channel #glossary-localization-portuguese

Remember, you need open your PR to branch **dev-pt**. Please, read this [guide](https://gist.github.com/edsoncelio/d7fdec7f24d5aba87e3e517c672e9eb5) for more details.

[2022-11-29 08:34] GarethAcidWorks commented on #1006
Clear, so these below seem to be the logical next step, here's my thoughts on each:

1) Pink option is familiar but they look like buttons which can be interacted with, if that is not the case... we should avoid that confusion

2) Blue option is a reference to the 'Glossary colour' and suggests that these selected tabs are different to pink buttons, therefore the user should not be confused if the

[2022-11-29 14:13] CathPag commented on #1006
Gray works for me

[2022-11-29 14:41] cjyabraham commented on #1006
These screenshots seem to have reverted to where we were before, when I left [this comment](https://github.com/cncf/glossary/issues/1006#issuecomment-1325567761):
"From your screenshot, it's not clear to me that the Abstraction term is tagged with Architecture and Fundamental. They just look like separate nav elements above the article for browsing."

But now you say they are "not clickable", so I

[2022-11-29 16:34] vasucp1207 commented on #1397
@electrocucaracha, can I work on this?

[2022-11-29 16:54] #1401 closed

[2022-11-29 17:04] electrocucaracha commented on #1397
It seems like @tinniaru3005 requested this before, but I didn't perform the change.

[2022-11-29 20:47] juliafmorgado commented on #1465
Related PR: https://github.com/cncf/glossary/pull/1503

[2022-11-30 14:27] CathPag commented on #1006
Actually, it would be good if they were clickable (or selectable) so that users could see all, let's say, "architecture" related terms.

This has been going on for so long it's really difficult to keep track of what we agreed on. Can we please make a push and do something in the next few days?  We can always adjust later on if something needs to be tweaked. Our current approach seems not to work,